[2019-10-02 18:08] ekcasey commented on #309
@ryanmoran @foresteckhardt I think a `--network` flag would also enable the offline use case you are interested in.

[2019-10-03 19:10] #326 closed

[2019-10-03 19:24] jromero opened #329 "Order suggested builders alphabetically"
Based on conversation in the working group meeting. We have agreed to organize the output of suggested builders and stacks based on an alphabetical order.

Relates to #311

[2019-10-04 08:43] dgageot commented on #319
I'm going to close this one. I guess if we want the cache to be reused more often, we should `pack build` with a stable tag (like `:latest`) and tag the image afterwards.

[2019-10-04 08:43] #319 closed

[2019-10-07 14:14] #239 closed

[2019-10-07 14:14] #311 closed

[2019-10-07 14:14] #329 closed

[2019-10-07 18:13] ameyer-pivotal opened #333 "Fix: Builders are not reproducible"
Timestamps are causing builders to take a long time to download, even when layers are not materially changed.

[2019-10-07 18:13] ameyer-pivotal commented on #333
Closed via #332

[2019-10-07 18:13] #333 closed

[2019-10-08 15:24] josephlewis42 opened #335 "pack build should log lifecycle arguments"
It's difficult to debug differences between running pack build locally and a remote build that calls the lifecycle binaries individually. Adding additional debugging info when calling lifecycle steps would be extremely helpful.

For example, the run function could print out the binaries, arguments, and environment variables it uses:

https://github.com/buildpack/pack/blob/master///build/phase.go#L

[2019-10-08 15:56] jromero commented on #321
@elbandito IIRC we've handled this issue via the working group meeting. This issue is a side-effect of the compatibility changes and our choice of words.

means that the `groups` fields aren't being used at all.

I'm closing this for now but feel free to reply if it's still unclear or need to discuss it further. This was definitely a learning opportunity for compatibility changes in the future.

[2019-10-08 15:56] #321 closed

[2019-10-08 16:33] abarke commented on #123
Using pack v0.4.1 I still get strange chars:
[[36mbuilder[0m]        Loading composer repositories with package information
[[36mbuilder[0m]        Installing dependencies from lock file
[[36mbuilder[0m]        Nothing to install or update
[[36mbuilder[0m]        Generating optimized autoload files
[[36mbuilder[0m] -----> Preparing runtime environment...
[[36mbuilder[0m] -----> Checking for additi

[2019-10-08 17:05] jromero commented on #123
@abarke The related changes mentioned prior regarding issue #141 will be available on **0.5.0** which we haven't released yet. If you want to give it a try (for testing purposes) you can build from `master`.

[2019-10-08 17:19] abarke commented on #123
@jromero ah ok thanks for the info. Will give it a try.

[2019-10-08 17:33] jromero commented on #123
@abarke It should be fairly trivial specially when doing so on a linux/macos machine by using the Makefile (`make build`).

See https://github.com/buildpack/pack/blob/master/CONTRIBUTING.md#development

If you are using Windows you'd want to look at the contents of [Makefile here](https://github.com/buildpack/pack/blob/master/Makefile#L16) but it's still pretty simple if you have [go](https://gola

[2019-10-08 21:15] josephlewis42 opened #336 "Pack export fails with: failed to export: previous image did not have layer with sha ''"
I have a buildpack builder image that works locally via pack but fails when the lifecycle components are called in a remote pipeline. The error I'm seeing is the following during the export step:

[code]

## Steps to reproduce

Create a builder:

[code]

Create the builder:

[code]

Create a sample WAR file to try building:

[code]

Build locally (this works):

[code]

Try building remotely with a

[2019-10-09 13:45] jromero commented on #336
@josephlewis42 we can see how the issue could occur in the code base but trying to reproduce the issue locally. This would help us ensure this is the case and hopefully get you past this issue.

We noticed that the `sha`s for the knative execution and the `pack` execution differ. Are you able to share what the other phase executions look like in your knative pipeline?

[2019-10-09 15:19] drnic opened #339 "pack build throws away downloaded assets if [builder] stage fails"
[code]

When I run `pack build` again I do not expect, and desperately don't want, it to re-download the expensive/slow go/jdk/ruby runtimes again.

But it does:

[code]

This happens with and without `--publish` flag.

[2019-10-09 15:24] drnic opened #340 "Local cache of assets downloaded"
[code]

As a `pack` user, I don't expect to see `Downloading from https://buildpacks.cloudfoundry.org/dependencies/go/go1.13.linux-amd64-cflinuxfs3-8b3c3fb8.tar.gz` more than once. I assume that once `pack` has downloaded an asset, that it will be cached locally, and will be fetched from my local cache in future.

Relates to https://github.com/buildpack/pack/issues/339

[2019-10-09 15:25] jromero commented on #271
@jkutner this issue seems to have been resolved by #314. Is that correct or is there more work to be done?

[2019-10-09 15:44] murphybytes commented on #271
@jromero It looks like that is not the case.  #314 added a simple verbose flag.  This issue requires log levels, presumably the standard DEBUG, INFO, WARN, ERROR

[2019-10-09 17:08] sclevine commented on #340
Pack provides a volume for caching, but it’s up to the buildpack to use that cache. Are you using the same image tag when you rebuild?

I believe the CF Go CNB does cache Go, but if you see otherwise, please open an issue in that project repo: http://github.com/cloudfoundry/go-CNB

[2019-10-09 17:10] drnic commented on #340
I'm asking for an additional caching concept - the downloaded assets being reused across different images being built.

[2019-10-09 17:12] sclevine commented on #339
Pack intentionally does not preserve cache layers provided to each buildpack on failure, because the buildpack would need to account for partially-built or invalid cache states. I’d suggest opening an RFC if you feel strongly that this behavior should change.

[2019-10-09 17:21] jromero commented on #251
@ekcasey / @sclevine what did we decide on the layers metadata? Are we using compressed, uncompressed or both when adding hashed to the label?

[2019-10-09 18:16] drnic commented on #339
I am prepared to just be an early warning until others come along and complain about the same thing.

[2019-10-09 18:16] #339 closed

[2019-10-09 18:55] josephlewis42 commented on #336
@jromero sure! Here are the logs I get back from the build. The custom-source step is a self-extracting docker image.

[code]

The clusterbuildtemplate is:

[code]

The pod was:

[code]

The build template is a bit old, but I also tried an updated version based on tekton https://github.com/google/kf/pull/746/files and it also failed with the same error.

[2019-10-09 20:50] sclevine commented on #340
There is no special hook from the buildpack into the lifecycle or pack to accomplish this. Downloading a file is just arbitrary execution of buildpack code and arbitrary network traffic. Something like this could be implemented using a caching proxy and buildpack modifications, but probably wouldn’t make sense in the pack or lifecycle implementions.

[2019-10-09 20:53] sclevine commented on #339
Suggestion for an RFC: We could preserve cache layers on a per-buildpack basis, instead of on a per-build basis. Many meta-buildpacks separate supplying dependencies and using them, so this would approximate your ask in a safe way. I would totally support this change.

[2019-10-10 16:36] jkutner commented on #271
I think the `--quiet` and `--verbose` flags are best or a developer facing tool like pack. But the explicit log levels are good for a tool that more internal like lifecycle. I'm going to close this.

[2019-10-10 16:36] #271 closed

[2019-10-11 14:08] dgageot opened #345 "`pack build` could run faster"
Hi, I have a prototype of `pack build` that always runs 8 seconds faster on my mac, using docker desktop. 8s is not a huge difference for a full build. But for an incremental build that pulls most of the things from cache, it really changes my perception.

Basically, instead of running 6 times `docker run` and ephemeral volumes, I use one docker run and one docker exec.

Would you be interested in

[2019-10-11 14:12] jromero commented on #345
@ekcasey / @sclevine ☝️

I know we've talked about performance a lot lately. This seems to be right up that alley.

[2019-10-11 17:09] dgageot commented on #277
I have reproduced the exact same error with kind, using `kindest/node:v1.13.10`

[2019-10-11 18:08] jromero opened #347 "Add `packages` support to `create-builder`"
## Motivation

See [RFC-7](https://github.com/buildpack/rfcs/blob/master/text/0007-spec-distribution.md#buildpack-developer)

## Acceptance

### AC1. `create-builder` - package image

**Given** there is a `builder.toml` with the following contents:
[code]
**And** there is an image `package/bp2-bp3:bionic` created by `pack create-package` with the following `package.toml` contents:

[code]
**And**

[2019-10-11 18:09] jromero opened #348 "`pack build --buildpack` accepts a buildpackage as an argument"
If you have an image for a buildpackage on a registry, that can be passed in the `--buildpack` flag during `pack build`

#### Acceptance criteria:
[code]

### Note:
- This issue does not include support for `.cnb` files.
- This issue only initially tackles building from unambigous buildpackages, IE `repo/image:tag`. Later story will support disambiguating.

[2019-10-11 19:44] jromero opened #349 "Add `packages` support to `create-package`"
## Motivation

See [RFC-7](https://github.com/buildpack/rfcs/blob/master/text/0007-spec-distribution.md#buildpack-developer)

## Acceptance Criteria

### AC1. `create-package` with package in `package.toml`

**Given** I have the following `package.toml` file
[code]
**And** `https://example.com/buildpack1.tgz` points to an archive with the following entries
[code]
where `buildpack.toml` has the fol

[2019-10-14 12:40] jromero commented on #345
I'm curious as to how this plays out with the overall architecture and the impact on aspects of the building process. One of the reasons for running 6 separate containers would be for isolation during phases.

See: https://github.com/buildpack/spec/blob/master/platform.md#security-considerations

The spec mentions _SHOULD_ instead of _MUST_ meaning that we _could_ probably make this improvement bu

[2019-10-14 13:21] ekcasey commented on #345
@dgageot One of the reasons for running the lifecycle phases in different containers is for credential isolation. We only provide registry credentials to `analyze` and `exporter` contains so that arbitrary buildpacks do not have access these credentials. In addition, when running w/o the `--publish` flag `analyze` and `export` containers run as root so they can access the mounted docker daemon soc

[2019-10-14 13:34] ekcasey commented on #339
This would be complicated to implement given the current spec, but I'm open to the idea that it's worth it if we hear this from multiple sources.

It's also worth noting that this will only help for `cache=true` layers unless we do something different from our normal local caching process here. For example, this will not stop the `org.cloudfoundry.openjdk` buildpack from redownloading the JRE afte

[2019-10-14 14:26] ameyer-pivotal commented on #251
@jromero Compressed in both cases

[2019-10-14 16:33] #312 closed

[2019-10-14 17:29] squee1945 commented on #345
cc @lukasberger (see above comment, just FYI)

[2019-10-14 18:54] ameyer-pivotal commented on #261
Accepted.

[2019-10-14 18:59] ameyer-pivotal commented on #333
Accepted.

Note that a later story may zero out the CreatedAt time (cc: @sclevine @nebhale), though there is still some discussion to be had around that.

[2019-10-14 19:09] ameyer-pivotal commented on #312
I now see the message `invalid buildpack.toml: 'buildpack.version' is required` when `buildpack.toml` has an empty or missing `version`, for both `pack create-builder` and `pack build --buildpack`.

Accepted.

[2019-10-15 07:12] moulikcipherX commented on #256
Is this issue open?

[2019-10-15 11:31] jromero commented on #256
Yes. Open to contributions.

[2019-10-15 15:39] nebhale commented on #340
Agreed, the more practical way to deal with this without introducing cache-poisoning vulnerabilities is that buildpack package all dependencies for offline usage.  And the buildpacks do, we just continue to be subject to (justified) CFF rules that prevent us from distributing buildpacks in that form.

[2019-10-16 14:21] jromero opened #352 "Adding a meta-buildpack via `--buildpack` does not resolve builder buildpacks"
### Motivation
As a user, I'd like to be able to provide a _meta-buildpack_ with a custom order. This custom order would reference buildpacks originally the builder.

### Reproduction
1. Create buildpack.toml with contents:
[code]
2. Build an app using the following command:
[code]

**Result**
[code]

**Expected**

Successful building of app

[2019-10-16 20:28] ameyer-pivotal opened #355 "Download progress shown without a download URL"
pack is showing the download progress, even when the URL being downloaded from is not shown.

This should be fixed such that progress and URL are both shown ~only when the `--verbose` flag is provided.~ always, regardless of log level

[2019-10-16 22:18] #355 closed

[2019-10-17 09:57] dsyer opened #356 "Broken link in README"
https://buildpacks.io/docs/using-pack is a 404

[2019-10-17 22:30] jromero commented on #251
@sclevine we've found that the layer digest is unreliable and completely dependent on the tool used for pushing the layers to the registry.

We discovered that the layer digests are different when pushing from `pack build ... --publish` vs `docker push`. This lead us down a rabbit hole which proved just how unreliable layer digests are and that we probably shouldn't be using them for tracking (met

[2019-10-21 15:33] micahyoung opened #359 "Download progress size sometimes incorrect"
**Expected behavior**
When I run build with a command-line-specified buildpack URL that will redirect:
[code]
Then I see the correct download size:
[code]

**Observed behavior**
I see an incorrect download size:
[code]

**Additional Details:**
In further testing, this doesn't happen every time - occasionally it will return the correct size. We saw the issues occur most frequently on Darwin.

**Ful

[2019-10-21 15:41] micahyoung commented on #359
Removing since it doesn't reproduce consistently enough, after the first time.

[2019-10-21 15:41] #359 closed

[2019-10-22 13:42] #251 closed

[2019-10-22 14:37] #356 closed

[2019-10-23 15:47] josegonzalez commented on #210
There seems to be a golang-based implementation of gitignore [here](https://godoc.org/gopkg.in/src-d/go-git.v4/plumbing/format/gitignore), which could be useful if implementing this.

I also agree that this should be in an existing `toml` file. Platforms such as Heroku or CF might generate that toml file based on other files in the app, and would likely include support for the existing `.cfignore`

[2019-10-23 17:34] ameyer-pivotal opened #366 "Add Default Lifecycle Version to `pack version` output"
**Given** pack's default lifecycle is hardcoded to `1.2.3`
**When** I run `pack version`
**Then** I see the output:
[code]

[2019-10-23 19:29] jkutner commented on #210
Our hope is to resolved this by implementing https://github.com/buildpack/rfcs/pull/25. If that RFC is accepted and implemented, then I suspect we will not adopt a `.packignore` file.

[2019-10-24 13:08] ameyer-pivotal commented on #366
That makes sense. This story serves mostly as a placeholder for the general idea, so we can definitely integrate it into #257 if we decide that.

[2019-10-24 13:23] jromero commented on #366
@ameyer-pivotal cool. It didn't seem like a placeholder given it has AC as if it were actionable but as you made mention it's still undecided.

[2019-10-24 13:39] jromero opened #368 "Proposal: Feature flags"
As we strive for a time-based release cadence instead of feature-based releases there are times where it doesn't make sense to have a partially implemented feature (eg. packages https://github.com/buildpack/pack/pull/353) or features that aren't yet intended for GA. Although these feature are not "ready" certain individual might want to start experimenting with said features. Here are a few propos

[2019-10-24 14:08] evandbrown commented on #336
Hi @jromero, is there anything else we can provide to help identify and resolve this issue?

[2019-10-24 14:49] ameyer-pivotal commented on #336
@evandbrown We're working to reproduce the issue. Could you provide the `Build` yaml that you applied to kick off the build?

[2019-10-24 16:13] ameyer-pivotal commented on #336
@evandbrown A couple of things:

- It seems your builder has changed, as it no longer gets through detect
- Can you run `docker inspect` on your previous app image and paste the output? We specifically are interested in the contents of the `io.buildpacks.lifecycle.metadata` label (we think this is ultimately where the empty SHA is coming from).

[2019-10-25 03:25] jromero commented on #257
## Acceptance

For the first iteration of this command we are going to start with a small subset of information.

### UC1. `pack report`

**When** I run `pack report`
**Then** I'm presented with the following output:
[code]

[2019-10-25 03:29] jromero commented on #366
Incorporated into https://github.com/buildpack/pack/issues/257. See [acceptance](https://github.com/buildpack/pack/issues/257#issuecomment-546185125).

[2019-10-25 03:29] #366 closed

[2019-10-25 19:49] simonjjones commented on #368
The real question we should answer is whether we want build time or runtime feature flagging, they could each be implemented in a number of ways. I think the answer is possibly both, they solve different problems.

While we are still working on features or groups of features in the main codebase I think it makes sense to continue to ship binaries that have no way of consuming these features. This

[2019-10-25 20:30] jromero commented on #368
@simonjjones Completely agree with most, if not all, points in you comment. I think the main purpose of this issue should be to define the standard mechanisms to do so instead of implementing something last minute and before we know it we have X number of ways to do something similar.

With that said, you bring up a good point about probably needing both build time and runtime enablement. I don't

[2019-10-28 21:29] steren opened #369 "Basic Express app fails with pack command and suggested buildpacks"
Observed:
[code]
Expected:
The `docker run` command succeeds.

Note that the builder is suggested by `pack`.

[2019-10-28 22:03] sclevine commented on #369
Works great with the cloudfoundry/cnb:bionic builder for me:
[code]

[2019-10-28 22:07] steren commented on #369
@sclevine indeed, I gave it another try and it seems to be working now. Not sure what I did wrong earlier when I tried with the `cloudfoundry/cnb:bionic` builder.

Should I move this issue to the repo of `heroku/buildpacks:18` ? Is it https://github.com/heroku/heroku-buildpack-nodejs ?

[2019-10-28 22:14] sclevine commented on #369
@jkutner @hone

[2019-10-28 22:29] steren commented on #369
I also think it's an issue that the `pack` tool suggests me builders that are not working properly.

[2019-10-29 01:43] hone commented on #369
@steren I have an open PR that addresses the issue: <https://github.com/heroku/nodejs-npm-buildpack/pull/11>

[2019-10-29 13:55] mgibson1121 commented on #369
Hi @steren, sorry about the initial hiccup there.  Not sure to what extent you've used CNB's aside from this build, but curious if you have any other feedback so far?

[2019-10-29 14:35] hone commented on #369
@steren can you retry, we just pushed a new builder image with my PR included.

[2019-10-29 16:13] steren commented on #369
Thanks for the fast turnaround!
I confirm that the sequence of commands now works appropriately.

I'll open new issues to share more feedback (issues or suggestions of improvements)

Keep up the good work.

[2019-10-29 16:13] #369 closed

[2019-10-29 16:18] ekcasey opened #370 "Add proccess types to inspect-image output"
Depends on buildpack/lifecycle#206

### Happy Path
**Given** an image, `<image>` with the following metadata in the `io.buildpacks.build.metadtata` label
[code]
**When** I run `pack inspect-image <image>`
**Then** I see the following information in the output
[code]
**Then** `pack` prints a tip
[code]

### Backwards compatibility (no `processes` array in label)
**Given** an image, `<image>` with a

[2019-11-01 08:32] making opened #371 ""pack build --publish" to Github Package Registry fails in ANALYZING phase"
`pack build --publish` to [Github Package Registry](https://help.github.com/en/github/managing-packages-with-github-package-registry/configuring-docker-for-use-with-github-package-registry) fails in ANALYZING phase with the following message. Tested with `v0.5.0 (git sha: c9cfac75b49609524e1ea33f809c12071406547c)`

[code]

Actually it works without `--publish` option.

[2019-11-01 08:38] making commented on #371
`ANALYZING ` worked after the first push. but then `EXPORTING` fails

[code]

[2019-11-01 16:59] jromero opened #372 "Add support for Platform API 0.2"
## Motivation
An [upcoming change to the lifecycle](https://github.com/buildpack/lifecycle/pull/205) will break the current Platform API. This will effectively raise the Platform API version from 0.1 to 0.2. In order to mitigate, the breaking change we'd like to release `pack` with compatibility for both Platform API versions _before_ the change is released.

## Acceptance

### Platform API 0.1
**

[2019-11-06 14:55] #257 closed

[2019-11-06 19:11] #179 closed

[2019-11-07 14:45] jromero opened #376 "Proposal: package.toml format"
This toml format is proposed based on understandings from [RFC-7](https://github.com/buildpack/rfcs/blob/master/text/0007-spec-distribution.md#buildpack-developer) and [distribution spec](https://github.com/buildpack/spec/blob/master/distribution.md#buildpackage).

[code]

### Future Planning

* URI schema for docker (cnb) images (RFC needed)
* Create a table for additional information, for exampl

[2019-11-07 14:52] #240 closed

[2019-11-08 14:12] alexbrand opened #378 "`pack inspect-image --bom` should output the Bill of Materials (BOM) in a human-friendly format"
Currently, the `pack inspect-image --bom` command dumps the BOM as a JSON blob:

![image](https://user-images.githubusercontent.com/545723/68482478-b00ead80-0207-11ea-8aac-877a7f8ba128.png)

The JSON blob is great for passing the BOM to another utility, but it is difficult to parse as a human. I am wondering if there's an improvement we can make here.

[2019-11-08 14:31] ekcasey commented on #378
@alexbrand The simplest thing we could do is expand the JSON to make it more easier scan through. Because the metadata can contain arbitrarily nested keys and values the entire BOM is hard to print in a tabular or friendly format.

We could print just the name, version and contributing buildpack from each item in a table if that was useful to users.

[2019-11-08 14:37] jromero commented on #378
Do you have any suggestion?

BOM is an arbitrary dataset. Without making any assumptions I wonder if it's easy enough to provide the BOM output in other formats such as YAML. Would that satisfy this request?

Example output using `yj`:

[code]

[code]

[2019-11-08 14:47] ekcasey commented on #126
@nebhale Given the significant changes to the detect output since this issue was opened I am going to close it. Feel free to open a new issue if you have feedback on the new output.

[2019-11-08 14:47] #126 closed

[2019-11-08 14:52] ekcasey commented on #67
I am going to close this issue given that we have removed the nodejs sample buildpack. The larger ecosystem of productionalized buildpacks that now exists should provide solutions to this issue. Feel free to open an issue with the buildpack authors if you have further issues.

[2019-11-08 14:52] #67 closed

[2019-11-08 14:53] ekcasey commented on #107
I am closing this. Feel free to reopen if you see this issue again.

[2019-11-08 14:53] #107 closed

[2019-11-08 15:52] simonjjones opened #379 "Show mixins in `inspect-builder`"
Include Stack Mixins in output of `inspect-builder`

Example output:

[code]

[2019-11-08 16:39] nebhale commented on #378
The UNIX-y spirit would be tools that do a discrete thing well, chained together with other tools.  So a common invocation would pipe to `jq`, giving you lots of flexibility with that tool with regards, to formatting, coloring, filtering, querying, etc.

[2019-11-08 17:07] jromero commented on #376
@ecasey and I have updated the format based on some lengthy discussions with various individuals.

A few notes:

1. We focused on trying to make it easy to understand while still flexible enough for future additions.
1. We opted to set forth a proposal to group related keys under a separate object to hopefully make it easier to perceive (and document) a group of keys as "resources" to configure _h

[2019-11-08 18:55] nebhale commented on #126
All the suggestions here were incorporated into subsequent changes.

[2019-11-08 18:56] alexbrand commented on #378
@nebhale Definitely! I totally agree. I love that I can pipe to `jq` and do a bunch of stuff with the JSON.

I was just surprised to get that JSON blob because I had run `pack inspect-image` just before, which does provide a human-readable output.

With that said, it sounds like the BOM is an arbitrary dataset so it might be hard to output a pretty version of it.

@jromero YAML might help. But if

[2019-11-08 21:59] matthewmcnew commented on #376
Do `dependencies` need to actually be a dependency of the buildpack?

[2019-11-08 22:05] jromero commented on #376
The intention is certainly for them to be dependencies.

Are you thinking about a similar case to that of `builder` in which you can package an arbitrary number of buildpacks together?

[2019-11-08 22:36] matthewmcnew commented on #376
Similar, yes. Previously, when the `package.toml` had a `default` it implied that it could package alternative sets of buildpacks.

[2019-11-08 22:51] ekcasey commented on #113
I think is resolved. Let me know if you find any that slipped through the cracks.

[2019-11-08 22:51] #113 closed

[2019-11-08 22:53] ekcasey commented on #148
@jromero Do you still want this feature? I think this would probably warrant an RFC.

[2019-11-08 22:53] #148 closed

[2019-11-08 23:02] ekcasey commented on #201
This conversation has been quiet for awhile. Currently, we don't intend to make this change. Feel free to reopen if you want to continue the discussion :)

[2019-11-08 23:02] #201 closed

[2019-11-09 16:31] jromero commented on #376
That's partly the reason for the rename. @sclevine could probably elaborate a little more on this but I think we are trying to drive home the understanding that:

A _packaged buildpack_ (and it's dependencies) **_is_** a buildpack. In other-words, a [buildpackage](https://github.com/buildpack/spec/blob/master/distribution.md#buildpackage) is just the format of how a buildpack is packaged.

[2019-11-11 18:51] jromero opened #381 "spelling: overridden should be overwritten"
[code]

[2019-11-11 22:54] #379 closed

[2019-11-13 16:10] jromero commented on #336
It looks like the error could be closely related to https://github.com/buildpack/lifecycle/pull/211. That function is used in `exporter` as well and could very well be the underlying issue in that it's obfuscating an underlying error.

Could you try lifecycle from `master` and see if it changes the results?

[2019-11-13 18:11] paujas commented on #378
@alexbrand thanks for your input! I'm a working to enhance the overall experience for developers. I'm very curious and super interested to know what are the most relevant values you care the most when you get a blob output like that? (Besides using pipe to jq to make the format more readable of course.)

[2019-11-14 22:00] jkutner commented on #376
When using `[buildpack.git]` is the `[buildpack] uri` ignored? I don't understand how these do or do not work together. For example, let's say I have:

[code]

Is this an invalid `package.toml`?

[2019-11-15 03:02] jromero commented on #376
@jkutner They don't work together. In the provided example they are only their to exhastively show different permutations of `[buildpack]`.

To your concern about providing multiple resource types, the same could be said if someone provides an `[buildpack] image` and `[buildpack] uri`.

[code]
Failing as _invalid_ is one way we could handle it. Another option could be setting an order of precedenc

[2019-11-15 15:51] jkutner commented on #376
what about using well defined URI schemes:

[code]

Another option could be:

[code]

I'm not even sure i like `type` better, but wanted to toss it in.

[2019-11-15 18:50] jromero commented on #376
#### RE: URI schemes

It's hard for me to perceive the idea that we could create a single line format for every "type" in the future without ultimately creating more confusion. For example the [`s3` schema](https://github.com/aws/aws-sdk-php/blob/master/tests/S3/S3UriParserTest.php) already exists and doesn't contain `region`. The same could be said for `git` but say you wanted to specify a public

[2019-11-18 15:20] jkutner commented on #376
What if `[buildpack] uri` is always required and `[buildpack.xxx]` supplements it with type-specific fields? For example:

[code]

or

[code]

In this way, we can probably support many different `uri` values/schemes without the `[buildpack.xxx]` in a lots of cases.

[2019-11-18 17:08] jromero commented on #376
That's interesting. I still feel like maintaining and spec'ing URI schemas has an overhead that we might not want to overtake but if the experience benefits from it it might be worth exploring.

I did initially question myself as to how you would declare an OCI image via uri and found [skopeo](https://github.com/containers/skopeo) to have some good predefined schemas. Maybe we could leverage some

[2019-11-19 20:00] Zanadar opened #386 "pack inspect-builder <non-existent-tag> does not error"
No error when I try to inspect a non-existant or unreachable builder:
[code]

[2019-11-19 20:01] zmackie opened #387 "pack inspect-builder --json/yaml/toml"
I'd love to see `pack inspect-builder --format <json/yaml/toml>` so we could machine parse the output (of commands generally)

[2019-11-19 20:06] Zanadar opened #388 "pack inspect-builder should show digest of underlying build and run images"
It would be nice to trace the composing images of a builder

[code]

[2019-11-19 20:28] jromero commented on #386
Was going to mark it as a bug but this seems like a feature request. :)

### Acceptance Criteria
**Given** builder 'non/existent' does not exist
**When** I run `pack inspect-builder non/existent`
**Then** I should see output: `ERROR: Unable to find builder '...' locally or remotely.`
**And** the return exit code should be 1

[2019-11-19 20:45] jromero commented on #388
Recording the `sha` for the build image at the creation of `builder` makes sense.

For run images, the intent is that run images are updated after a builder is created. Additionally the `run-mirrors` feature can route to a different run image. Both of this aspects present problems that even if we were to capture the `sha` of the run image at builder creation time it could be perceived as misinform

[2019-11-19 20:48] Zanadar commented on #388
@jromero I guess reporting anything that's pinned down (eg. the build image) would be helpful. Essentially any piece of metadata about the component parts of the builder would be useful

[2019-11-19 20:48] jromero commented on #387
Loosely relates to #378

[2019-11-19 20:49] Zanadar commented on #386
@jromero Fair enough 😼 however you want to label it is fine by me!

[2019-11-20 12:17] #372 closed

[2019-11-20 13:34] jromero opened #390 "Update pack version format to semver"
Based on changes made for https://github.com/buildpack/lifecycle/issues/143, we'd like to have the pack version being displayed as semver.

### Release Candidates
**Given** I have built a `pack` binary using `VERSION=0.4.0 make build`
**When** I run `./pack version`
**Then** The output should report the given version and git sha as `<VERSION>+<first 7 chars from git commit>`

Example:
[code]

###

[2019-11-21 16:50] jromero opened #392 "Add `--no-pull` flag support to create-package"
Related to #349

## `--publish` / `--no-pull` semantics

Based on the same semantics used in `create-builder`.

#### `pack create-package some/package -p <w/ remote pkgs>`

- package data <- daemon <- pull image
- push -> daemon

**Expected**: package created in daemon

#### `pack create-package some/package -p <w/ remote pkgs> --no-pull`
- package data <- daemon
- push -> daemon

**Expected**: fa

[2019-11-23 00:20] jkutner commented on #376
For the OCI image I think we can do a `cnb://` and resolve it however we'd like.

[2019-11-26 15:43] simonjjones commented on #370
https://github.com/buildpack/pack/pull/397

[2019-11-27 15:14] Zanadar commented on #56
@sclevine I think we can close this?

[2019-11-27 15:28] Zanadar commented on #41
@nebhale I _think_ this is satisfied by: https://github.com/orgs/buildpack/projects/1 (w. milestones, etc.)

[2019-12-02 19:29] ekcasey commented on #387
How about `--output`  (`-o` short version) instead? The usage will be familiar to users of `kubectl`.

[2019-12-02 20:47] Zanadar commented on #387
💥 sounds great!

On Mon, Dec 2, 2019 at 2:29 PM E Casey <notifications@github.com> wrote:

[2019-12-03 23:07] simonjjones opened #402 "Pack acceptance tests leak docker images"
When running acceptance tests on a workstation we see two additional images leaked per run of the test suite:

[code]

We should track down which images are being leaked and make sure we're cleaning them up

[2019-12-04 00:53] Zanadar opened #403 "Exclude specified directories"
Can we somehow support exclusions for subfolders of apps that we don't want to be considered for a build, eg. `./vendor`?

Could be a flag, `.packignore`, both?

[2019-12-04 00:54] Zanadar commented on #403
CC @fuel-lightning

[2019-12-04 01:52] jromero commented on #403
Closing this as a duplicate of #210

**TL;DR**: We are currently planning to incorporate this sort of functionality in a feature that is currently in the RFC process (https://github.com/buildpack/rfcs/pull/25).

[2019-12-04 01:52] #403 closed

[2019-12-04 14:40] #349 closed

[2019-12-04 14:40] #392 closed

[2019-12-04 19:18] #381 closed

[2019-12-04 22:12] jromero commented on #376
@jkutner / @sclevine As discussed in the working group meeting, we will be moving forward with `image` key for oci images using the docker http protocol. We hope to have an RFC to create a URI format to use in the future and only need the `uri` key along with additional information in a relative TOML table as described in the description of this issue (under Future Planning).

[2019-12-04 22:12] #376 closed

[2019-12-04 22:43] ktpv commented on #256
-v is now reserved for verbose"in this PR https://github.com/buildpack/pack/pull/314

[2019-12-05 01:20] jromero commented on #283
Closing for now given it's part of out _internal_ structure.

[2019-12-05 01:20] #283 closed

[2019-12-05 01:20] jromero commented on #53
Closing due to staleness and provided documentation mentioned above.

[2019-12-05 01:20] #53 closed

[2019-12-05 01:47] jromero commented on #256
Too eager on the closing of this issue. Apologies.

Personally, I don't have a strong preference on the need a shorthand flag (in our case `-V` would be acceptable) for `--version`. At minimum `--version` makes sense and is somewhat expected.

[2019-12-05 15:08] #370 closed

[2019-12-05 17:16] #256 closed

[2019-12-06 18:16] BenTheElder commented on #277
v0.6.0 (and v0.6.1 for that matter) of kind is out now with new images and significantly newer containerd.

[2019-12-06 18:18] dgageot commented on #277
Last time I tried with v0.6.0, it also failed. I'll try again

[2019-12-06 19:56] sclevine opened #407 "pack build should fail when the specified image is already building"
Note: if we use a file to implement this, we should grab a lock on the file. Don't just use file presence to determine whether the image is locked. You should be able to `kill -9` pack without leaving the image locked.

[2019-12-09 14:13] dgageot commented on #277
Yeah, it's still failing

[2019-12-09 14:42] #386 closed

[2019-12-09 16:58] jromero commented on #92
It appears that this issue was resolved via support.

There are multiple reasons why this should be closed:
1. [`stack`](https://buildpacks.io/docs/concepts/components/stack/) is a composition of two images, a `run-image` and a `build-image`
2. Unclear use case, `--builder` satisfies described workflow.
3. We now [fail](https://github.com/buildpack/pack/blob/3b65cd774105a5f6e4487e67cef1f44a062b6d5

[2019-12-09 16:58] #92 closed

[2019-12-09 18:10] jonjohnsonjr commented on #159
Dropping some breadcrumbs in case I ever fix thsi: https://github.com/google/go-containerregistry/issues/211

tl;dr go-containerregistry doesn't respect docker's self-signed certificate configuration, but you can workaround that by adding certs to your system or by using go's environment variables for adding certs.

[2019-12-10 18:44] jromero opened #409 "Update package.toml format"
Based on outcome of #376, we are changing the structure of the project.toml format.

Additionally, stacks should be computed as the intersection of all stacks declared in the included buildpacks. There MUST be at least one compatible stack.

[2019-12-10 19:02] #402 closed

[2019-12-11 16:06] cppforlife opened #410 "provide a flag to easily extract image reference/image-id/digest"
ive added pack support to [kbld](https://get-kbld.io) and had to use a regex to extract image id from output like so: https://github.com/k14s/kbld/blob/8f03c2f4c34c5326d0b4a4a5b5ea5fa1005e8236/pkg/kbld/image/pack.go#L12-L17

ideally there would be another way, may be a flag that takes a file path (tmp file) that would get populated with some json with metadata?

[2019-12-11 16:33] jabrown85 commented on #410
I wonder if pack should consider having a flag that makes all output JSON messages. Similar to how docker communicates data for pushing images and reporting progress for instance.

[2019-12-11 20:32] Zanadar commented on #410
@jabrown85 https://github.com/buildpack/pack/issues/387 related

[2019-12-11 23:55] Zanadar opened #411 "Inspect builder has changing output"
Between two runs of creating a builder with the same configuration of buildpacks (order, versions, and entries unchanged) pack inspect-builder shows a different order of buildpacks in the list of buildpacks. See:

[2019-12-12 14:54] jromero commented on #411
Propose that it be simply alphabetical by ID first, then Version.

This sorting logic be applied prior to the creation of the metadata label so that it's embedded into the label itself and it be consistent throughout.

https://github.com/buildpacks/pack/blob/c394f394fbd14915fe74cf307e886a50785d6827/internal/builder/builder.go#L350

[2019-12-12 18:53] abitrolly opened #413 "Support podman"
https://podman.io is the daemonless docker alternative which supports CGroupsV2 and capable of running unpriviliged containers.

https://buildah.io/ can be interesting too.

[2019-12-12 20:09] sclevine commented on #413
Hi @abitrolly,

CNB doesn't depend on `docker build`, and we only depend on Docker at all because it's the only straightforward solution for running containers on Windows and Mac workstations.

There's been some discussion of supporting Linux containers directly on Linux workstations (without podman or docker), but that would result in UX inconsistencies. Supporting podman on Linux and Docker on W

[2019-12-14 14:20] abitrolly commented on #413
@sclevine `docker` is just a wrapper over standard Linux containers. It should run Linux on Mac/Windows to let you send command over the socket API which is `unix:///var/run/docker.sock`. How does it do that on Windows?

There would be no problem if `pack` just used `docker` from command line. `podman` is CLI compatible with it.

[2019-12-14 14:23] abitrolly commented on #413
I solved my problem by using `heroku/heroku:18-build` image to refresh gems in an old Heroku project. Don't need buildpack to recreate its build environment.

[2019-12-16 16:08] kfox1111 opened #417 "return codes not working"
Building an app that has an issue:
[code]
&lt;snip&gt;

[code]

The image clearly failed to build, but the shell result is 0 and text was "Successfully built image simple-app. This seems very wrong.

[2019-12-16 16:21] jromero commented on #240
No longer necessary based on changes to `package.toml`

[2019-12-16 16:57] Zanadar commented on #417
@kfox1111 Indeed there seems to be something wrong! Would you mind sharing the app you're building against?

[2019-12-16 17:44] philwebb opened #419 "Verbose logging is not applied to analyze phase when publishing"
The `withLogLevel` method is not applied to the "analyzer" phase that is created if `publish` is `true`. I believe that this [this line](https://github.com/buildpacks/pack/blob/ce90e90d25ae2f9aaef1d5f04ca19d927fa6bf16/internal/build/phases.go#L85) should be wrapped in `l.withLogLevel`.

[2019-12-16 18:04] philwebb commented on #419
I also just noticed that it's also [not applied](https://github.com/buildpacks/pack/blob/ce90e90d25ae2f9aaef1d5f04ca19d927fa6bf16/internal/build/phases.go#L111) to the `build` phase.

[2019-12-16 20:02] kfox1111 commented on #417
Basically the code from: https://github.com/pivotal/kpack/issues/237

but I had 'json' also in the requirements.txt file unnecessarily. it wasn't found and failed with a success.

[2019-12-16 21:30] #347 closed

[2019-12-17 17:13] #409 closed

[2019-12-17 20:23] dcorricelli commented on #379
Accepted 👍
- Tested with bionic builder, which included mixins
- Tested with cflinuxfs3 builder, which did not include mixins.

[2019-12-17 20:59] simonjjones commented on #179
Generated error statement is slightly inconsistent with story acceptance criteria. We have:
[code]

we want:

[code]

[2019-12-17 21:12] simonjjones commented on #179
Should we be validating run image mixins during `create-builder`? Currently we can successfully create a builder with a run image that is missing required common & run mixins.

[2019-12-17 21:19] ameyer-pivotal commented on #179
The error messaging is OK. The original was written without regards to extra context.

For validating run image mixins, this will be covered by a separate story (https://github.com/orgs/buildpacks/projects/1#card-28467986)

[2019-12-17 21:24] simonjjones commented on #179
During `pack build` when validating stack mixins where both a common & run mixin are missing from the run image, we first fail with only the common mixin marked as missing from the stack, then once we add the common mixin and reattempt the build we see a validation error missing the run mixin.

[code]

then, once I add mixinX to the run image:

[code]

It occurs that all of this validation could h

[2019-12-17 21:29] jromero commented on #372
👍 Accepted

Created an alpine builder from samples repo with lifecycle from master:
[code]

And `cnbs/sample-builder:alpine`:
[code]

[2019-12-17 21:30] ameyer-pivotal commented on #179
@simonjjones I agree that it's less than ideal. The complication is that even if we validate the run image mixins at `create-builder`, it's only valid as long as the stack images don't change between `create-builder` and `build` (where we do validate the stack images), which could be an indeterminate amount of time. The best that validating everything at `create-builder` time is that it gives a wa

[2019-12-17 21:31] simonjjones commented on #179
When validating the use case that `pack build` fails when the build image includes run mixins we do see it correctly fail:

[code]

An interesting note is the `index.docker.io` address for the builder - this is a locally built builder, where is this address coming from? Is it correct?

[2019-12-17 21:33] ameyer-pivotal commented on #179
Interesting. It might be

Interesting. Pack usually interprets it as this when there is no registry specified. However, I do not usually see it printed out. It wouldn't be a difficult fix, but seems minor at the moment. Perhaps we file an issue to track it and continue?

[2019-12-17 23:33] simonjjones commented on #179
I agree with regards the validity, but given that we do *some* validation at `create-builder` I think we should do all of the relevant validation here, and then do it again during `build`. Unless there's a valid use case for building an invalid builder that could then be _fixed_ by updating the build or run images at a later point?

[2019-12-18 14:40] jromero opened #422 "Support old metadata label format during rebase"
We need to update the lifecycle go dependency to inherit changes from https://github.com/buildpacks/lifecycle/issues/219.

Additionally, we need to make sure we can support the case proposed below.

<hr />

Error:

[code]

### Proposed Solution

- Lifecycle: Rebase would read data in either format
- Lifecycle: Rebase would write data in same format as read
- Lifecycle: Analyze would read data in n

[2019-12-18 15:19] Zanadar commented on #417
@kfox1111 What platform are you on? I just tried this locally and it failed. Maybe can you paste the whole output so we can get versions? Unlikely, but it an error in one of the components.

[code]

[code]

[code]

[2019-12-18 16:00] #422 closed

[2019-12-18 17:01] Zanadar commented on #85
@ttpcodes This is awesome. Thanks for putting that together. Is there some way to keep it up to date as new releases are cut? Looks like the `AUR` is a bit out of date.

[2019-12-18 17:02] Zanadar commented on #111
@ameyer-pivotal You've been owning logging/errors. What do you think? Can we close this issue?

[2019-12-18 17:02] ameyer-pivotal commented on #257
This passes acceptance.

[2019-12-18 17:03] Zanadar commented on #138
@jromero Think we can close this.

[2019-12-18 17:07] Zanadar commented on #183
@trenta3 Can you say a bit more about the usecase here? Are you trying to bind services to your app you're building? Or is that you want to produce images for eg. `postgresql`?

[2019-12-18 17:23] ameyer-pivotal commented on #392
This passes acceptance.

[2019-12-18 17:25] jromero opened #424 "Add short flag for builder in `pack build`"
As a developer, I'd like to be able to specify the builder using `-b` when calling `pack build`.

Why `-b` for builder and not buildpack? Most common use case is to specify a builder. Specifying a buildpack is more targeted towards an edge case for testing, troubleshooting or debugging.

[2019-12-18 17:30] sclevine commented on #424
I'm not sure if this will remain true with the introduction of buildpackage support, especially if we add a `--from-builder` flag that makes `--buildpack` easier to use with the buildpacks on the builder.

[2019-12-18 17:31] ameyer-pivotal commented on #111
@Zanadar Yeah we can close this. The issue is stale, but the effort is an ongoing thing to be more helpful when we write error messages.

[2019-12-18 17:31] #111 closed

[2019-12-18 17:34] jromero commented on #422
#### ✅ Accepted

###### App image created with pack 0.5.0 w/ lifecycle w/ platform API 0.1
* Created image with pack 0.5.0 w/ lifecycle w/ platform API 0.1
    * Successful
* Rebased image with pack 0.5.0
    * Successful
* Rebased image with pack 0.6.0
    * Successful
* Rebased image with pack 0.5.0
    * Successful

###### App image created with pack 0.6.0 w/ lifecycle w/ platform API 0.2
* Cre

[2019-12-18 17:38] thephw commented on #424
I am inclined agree with @jromero, but I think that usage may depend on the web frameworks being built. For certain monolithic targets like Ruby on Rails you'll have more than one buildpack typically by default, but for more microservice targets you may have a single buildpack. Specifying the builder work well for both and takes advantage of the detect step.

Whats the context around buildpackage

[2019-12-18 18:58] ameyer-pivotal commented on #349
This passes acceptance. Some minor differences in error message and key names are due to #409.

[2019-12-18 19:00] jromero commented on #424
RE: @sclevine

packages don't take away from the fact that pack _needs_ a builder to build with. `--buildpacks` are optional and arguably ideal to omit in most workflows since you want the builder to detect the best option. (I think this leans a little on what @thephw has stated.)

Currently, the fact that you have to use state, by calling `set-default-builder`, is less than ideal IMO. `set-defaul

[2019-12-18 19:06] jromero commented on #111
Relates to https://github.com/buildpacks/docs/issues/96

[2019-12-18 19:09] jromero commented on #111
Maybe this issue was over generalized when it reality there _could_ be something we can do to provide some guidance. The problem with this error is that it's not easy to determine what the issue is as you could see in https://github.com/buildpacks/docs/issues/96.

[2019-12-18 19:14] jromero commented on #138
@Zanadar Agreed.

**Note to all:**
Please open a new issue if you are expiriencing similar issues.

[2019-12-18 19:14] #138 closed

[2019-12-18 19:15] ameyer-pivotal commented on #409
This passes acceptance.

[2019-12-18 19:44] ameyer-pivotal commented on #239
This passes acceptance.

[2019-12-18 19:50] simonjjones commented on #179
It's not clear that the following acceptance criteria is a valid one. If any buildpacks require our builder image to include common mixins, then `create-builder` correctly fails. If the buildpacks do not require any common mixins then `build` does not fail at validation. This sounds like correct behavior, it would appear difficult to trigger this any other way.

[2019-12-18 19:55] simonjjones commented on #179
Aside from aforementioned suggestions for future improvements we have validated the scenarios detailed in the story.

[2019-12-18 20:07] ameyer-pivotal commented on #179
@simonjjones This may be a slightly outdated AC. A decision was made during the story that the run image could contain a _superset_ of the build image mixins (with regards to the common ones).

So really, the scenario outlined by the `NOTE:` is the one that should be enforced, regardless of whether buildpacks require any of the mixins.

Note was:
[code]

[2019-12-18 21:40] simonjjones commented on #179
@ameyer-pivotal I believe that this scenario was validated. I've moved this to *Ready to Release* given that there are no _false failures_ where everything is configured correctly, yet validation fails.

[2019-12-18 21:46] ameyer-pivotal commented on #289
This works for non-meta buildpacks. For a metabuildpack (one with an `order` but no stacks), I get an error like:

```<buildpack> must support at least one stack```

[2019-12-18 23:03] kfox1111 commented on #417
centos7

Fulll run:
[kfox@zathras pytest]$ pack build test --path . --builder cloudfoundry/cnb:cflinuxfs3
Trying to pull repository docker.io/cloudfoundry/cnb ...
cflinuxfs3: Pulling from docker.io/cloudfoundry/cnb
a15d98bff734: Pulling fs layer
5fc72bd1c95d: Pulling fs layer
a171588cfd4e: Pulling fs layer
5312ff4c2544: Waiting
26bbecca8d72: Waiting
c4e27ba2d968: Waiting
a64a4419715b: Waiting
df31

[2019-12-19 14:14] jromero opened #426 "Update packages image key in builder.toml"
We should align the naming of keys in `builder.toml` with that of `package.toml` when referring to an image.

Current `builder.toml`:

[code]

Current `package.toml`:

[code]

Based on extensive discussions in #376 we should use `image` in `builder.toml`

[2019-12-19 16:12] #426 closed

[2019-12-19 16:22] #289 closed

[2019-12-19 16:41] jromero commented on #386
Fixed by #406

[2019-12-19 17:34] simonjjones commented on #347
Attempting to `create-package` for acceptance 1 I see this failure:

[code]

It's not entirely clear to me why - acceptance-package.toml contains the config described in the acceptance:

[code]

The two buildpacks exist as tar files in the working directory that I'm calling pack from, and both include buildpack.toml files:

[code]

What am I missing @jromero ?

[2019-12-19 17:47] jromero commented on #347
@simonjjones The format changed since AC was written (see #376 & #409), albeit the error is cryptic at best.

Try changing it to something like:

[code]

Here are some samples I've just created based on the latest changes if that's helpful:
https://github.com/buildpacks/samples/pull/48/files

[2019-12-19 18:37] simonjjones commented on #347
Acceptance 1: Success (with some small changes to configs)

[code]

[2019-12-19 19:07] simonjjones commented on #347
Acceptance 2: Success (with some modifications to config)

[code]

[2019-12-19 19:46] ameyer-pivotal commented on #289
Noticed that this will result in a `stacks: null` field for a meta-buildpack, rather than the key being omitted. Other than that, this passes acceptance.

[2019-12-19 19:50] jromero commented on #289
This doesn't seem to be a true violation given that a `null` value and missing value represent the same thing.

[2019-12-19 19:52] ameyer-pivotal commented on #289
Agreed that it's not illegal or invalid per se. Just calling out that it's different from the ACs. I don't think it's important to fix at the moment as there's no functional impact.

[2019-12-19 20:07] jromero commented on #347
### Acceptance complete

####  --no-pull --publish semantic

[code]

[2019-12-19 20:09] jromero commented on #426
#### Accepted

[code]

[2019-12-20 16:55] kvedurmu opened #430 "pack create-builder should de-dup buildpacks list"
We recently ran into issues creating a builder packaged with CNBs that reference the same dependency. Here's a snippet of our builder.toml that is causing this issue:

[code]

When we ran `pack create-builder localhost:5000/cloudfoundry/cnb:bionic --builder-config builder.toml --publish` we see the following error:

[code]

**Expected Behavior**
- If a builder toml has multiple entries with the sa

[2019-12-20 18:46] Zanadar commented on #430
FYI
[code]

[2019-12-20 20:10] zmackie opened #431 "Unactionable error during builder validation"
In debugging #430 I attempted to create a config with duplicate CNBs removed. However this caused issues with versions, I think.
I got this rather cryptic error:

`ERROR: validating buildpacks: buildpack org.cloudfoundry.node-engine@0.0.124 not found on the builder`.

It would be nice to have something actionable out of that error. It reads like something for a developer to debug, rather giving th

[2019-12-20 20:20] Zanadar opened #432 "Pack does not print errors to `STDERR`"
During failed creation of a builder, I noticed errors don't propogate to STDERR

[code]

[code]

[2019-12-20 20:25] Zanadar commented on #424
What about `-B`? Having a short flag for both (buildpacks and builder) would be nice. I know buildpacks authors frequently use `--buildpack x --buildpack Y --buildpack Z` during testing.

So to summarize:
[code]

[2019-12-21 03:08] jromero commented on #424
@Zanadar Interesting... The thought of case-insensitive Windows did come to mind but [it seems like it might not be an issue](https://en.wikipedia.org/wiki/Command-line_interface#Option_conventions_in_DOS,_Windows,_OS/2). I like the proposal.

[2019-12-21 16:55] jromero commented on #431
Related to https://github.com/buildpacks/pack/issues/306.

This is UX concern. I am all in favor for it and would like to discuss what the best strategy would be. We could look at them on a case-by-case basis or, preferably, create a strategy for providing _assistive_ text.

Initial ideas:
1. Create error types that could be asserted against at the `cmd` package and provide additional information

[2019-12-21 16:59] jromero opened #433 "`pack report` should not display error when config.toml is not present"
Currently it seems misleading that we display an "error" when pack's config.toml is not present.

For example,
[code]

Expected output:

[code]

[2019-12-23 21:33] dfreilich commented on #430
What made this more confusing is that the versions of the dup'd cnb were different. One of the order's (.NET Core, [here](https://github.com/cloudfoundry/dotnet-core-cnb/blob/753e711c842089415039b6d358b0e0d4960573ce/buildpack.toml#L79)) had `node-engine-cnb` `v0.0.124`, while another (Nodejs CNB, [here](https://github.com/cloudfoundry/nodejs-cnb/blob/769129cb2c907ff330e6f904f80ea8373ef58261/buildp

[2019-12-24 17:50] jromero commented on #430
@dfreilich yes it should. We should really look into that.

[2019-12-24 22:26] trenta3 commented on #183
@Zanadar Yes, I'm trying to bind a database service to my app, so that my users can run the app without having to take care of setting up a local database.

[2019-12-29 05:46] #433 closed

[2019-12-30 02:55] jromero commented on #424
@sclevine / @jkutner / @hone  We've got a PR (#437) for @Zanadar's proposal to this issue. Any objections to this solution?

[2019-12-31 15:44] jkutner commented on #424
I'm fine with `B` and `b`. I agree with @sclevine that the use of `--buildpack` will become more common with buildpackages and a buildpack registry. The builder will usually be set as a default.

[2019-12-31 20:18] dmikusa-pivotal opened #438 "Command `pack run` has no way to set runtime environment variables"
When using `pack run`, there doesn't seem to be a way to pass environment variables into the running container. In addition, it does not seem to pass the build environment variables into the running container.

Steps to reproduce:

[code]

The creation of the image is successful, but the `PORT` env variable is not being set so it fails to start. The `-e` argument doesn't seem to help. It seems to

[2020-01-01 16:37] Zanadar commented on #438
@dmikusa-pivotal This has been a common problem and the way `pack run` works has been a source of confusion. `pack run` is likely going away in the future to focus on the *build* experience see: https://github.com/buildpacks/rfcs/pull/36

[2020-01-02 14:08] dmikusa-pivotal commented on #438
Ah, ok. I had just noticed it and thought I was missing out on something new and cool. If it's going away, let's just close this out.

[2020-01-02 14:08] #438 closed

[2020-01-02 17:52] #432 closed

[2020-01-02 17:53] #424 closed

[2020-01-03 00:29] jromero commented on #417
Still unable to reproduce this issue. I've attempted to run 0.5.0 and 0.6.0 on Centos 8. Although I'm getting a network related issue it resorts to the same "exit status 103" message but the process exits as expected.

[code]

This is the current setup:

[code]

[2020-01-03 01:43] kfox1111 commented on #417
I had to reinstall my laptop as its ssd was warning it was going to fail soon. So I'm on centos 8 now. I can confirm it works as expected on centos 8. So something on centos 7 tickles it.

[2020-01-03 06:58] jromero commented on #417
I'm glad it's resolved for you. I went ahead and tested it on Centos 7 and sure enough I was able to reproduce the issue. It appears that it's related to an older version of docker available in the yum repo by default. After following the [docker installation instructions](https://docs.docker.com/install/linux/docker-ce/centos/) for the latest docker-ce version the issue is resolved.

I honestly d

[2020-01-03 06:58] #417 closed

[2020-01-03 16:26] kfox1111 commented on #417
Ah, ok. That makes sense. I was using centos's docker rather then docker-ce. So I can confirm that.

That brings up a new question though related to your support question.

Redhat's not supporting docker at all anymore on el8. They prefer buildah. Its working pretty well here. It can even do unprivileged builds which is very nice.

To do the test, I installed only the docker cli, and attached it t

[2020-01-03 17:03] zmackie opened #439 "Document minimum docker version"
https://github.com/buildpacks/pack/issues/417 turned up the possibility of a minimum version of docker needed on workstation for `pack` to work. we should document that.

[2020-01-03 17:06] jromero commented on #417
@kfox1111 We are certainly looking into it. We used docker as a quick simple implementation. We haven't fully fleshed out exactly what it would entail but would look favorably at any contributions going in that direction.

Here's a bit more info:
https://github.com/buildpacks/pack/issues/413#issuecomment-565165832

[2020-01-06 16:33] zmackie opened #441 "Validate buildpackages"
## Description
1. For correctness, a `buildpackage` is a packaged buildpack and it’s dependendencies (which can be other buildpacks). We should validate that the buildpackage does not contain arbitrary buildpacks and is therefore correct.
2. For assurance, we want to make sure all the dependencies are present in a package.

## Acceptance Criteria

### AC1. Extraneous buildpack

**Given** buildpack

[2020-01-07 23:25] jromero commented on #304
Can't seem to find a built-in way in `cobra` (our current cli lib) to determine the position of a flag relative to another flag.

For example the commands below are treated the same.
[code]

From a UX perspective it's a little awkward to think that the order of two different flags impact each other.

We can determine positions based on the same flags.  (This works currently).

For example:
[code]

[2020-01-08 20:34] Zanadar commented on #317
`pack build --clear-cache` doesn't satisfy this system use case at the moment.

[2020-01-08 20:37] Zanadar commented on #317
This could help with discoverability or attribution of volumes created during an action, if labelling were used for those resources.

[2020-01-08 20:38] Zanadar commented on #317
Usecase:
- Purge all volumes that `pack` has ever created
- Print volumes names for *an* image

[2020-01-09 15:20] natalieparellano opened #443 "Chore: Compute previous pack fixtures in CI"
Remove the `pack_previous` directory and compute the proper fixtures directory from the last pack release's current fixtures.

[2020-01-09 20:11] ameyer-pivotal commented on #443
Confirmed works in Concourse: https://ci.buildpacks.io/teams/main/pipelines/pack/jobs/compatibility/builds/117

[2020-01-09 20:13] ameyer-pivotal commented on #443
Due to renaming `pack_current` -> `pack_fixtures`, we'll need to follow up after releasing pack 0.7.0 and change Concourse to look for fixtures at `pack_fixtures` rather than `pack_current`. Card created in planning board to remind us.

[2020-01-09 20:13] #443 closed

[2020-01-09 20:33] nebhale commented on #56
Since there's been no response on this issue in a couple of weeks, I'm going to close it.  If you'd like to see it re-opened, please comment on the issue and I'll reopen it.

[2020-01-09 20:33] #56 closed

[2020-01-09 20:33] nebhale commented on #41
Concur.

[2020-01-09 20:33] #41 closed

[2020-01-10 16:26] jromero commented on #62
I've started playing with this on my free time. There seem to be some limitations which make this more difficult than I initially thought.

My initials thought was to provide pre/post interception per lifecycle phase. A simple flow would look like this per phase:

1. Pre-phase: run container while changing CMD to a shell (interception)
2. Phase: run container with CMD set to the lifecycle executab

[2020-01-10 19:17] nebhale opened #446 "Understand Spring Boot Git Properties"
In a recent [change](https://github.com/buildpacks/spec/pull/68) to the CNB specification, support for [adding source metadata](https://github.com/buildpacks/rfcs/blob/master/text/0013-app-layer-metadata-source.md) to the created image's label was added.  This spec change was designed for the case where the input to `pack` is a repository of source code and the buildpacks create images from that s

[2020-01-10 19:57] ameyer-pivotal commented on #430
@kvedurmu Can you show the full toml for your builder? I'm curious to see what the `order` looks like.

[2020-01-10 20:10] ameyer-pivotal commented on #430
I'm able to reproduce a similar but not exact error with the following builder.toml:

[code]

Output:
[code]

Note that the second buildpack also has a different version, which shouldn't cause any problems...

[2020-01-10 20:13] ameyer-pivotal commented on #430
If I adjust both buildpacks to be identical (same ID and version), then I get the same error, but with an expected warning:

[code]

[2020-01-10 20:56] Zanadar commented on #446
Is there a reason this should live in pack (the platform) vs a buildpack? Aren’t we sort of coupling here? I’d worried that supporting this specific case (spring) in the platform would lead to others. Maybe technically this intelligence has to live on the platform because it handles the input to the buildpacks?

[2020-01-10 21:04] mdelillo commented on #430
We generate the builder.toml in a concourse job so all of the buildpack URIs are local paths, but here it is:

[code]

[2020-01-10 21:24] ameyer-pivotal commented on #430
@mdelillo Can you also provide the buildpack.toml contents for the two conflicting (node-engine) buildpacks?

[2020-01-10 21:37] ameyer-pivotal commented on #430
Also, I don't see `node-engine` in the `order`. Is it a dependency of another buildpack? Which one is the ultimate parent?

[2020-01-10 21:56] mdelillo commented on #430
[Here](https://github.com/cloudfoundry/node-engine-cnb/blob/165a96b5b01192a443d8d85fb929d8e829d75d82/buildpack.toml) is the buildpack.toml for the node-engine buildpack. Here are the buildpack.tomls for the two parents that include it: [nodejs](https://github.com/cloudfoundry/nodejs-cnb/blob/e315e4582a0c2e2d425c8197170e97f185392c32/buildpack.toml) and [dotnet-core](https://github.com/cloudfoundry/

[2020-01-10 21:57] nebhale commented on #446
Correct @Zanadar.  This is properly located in each platform because only the platform can reliably examine source information before sanitizing it for build.  An example of this is that each platform will need to implement support for VCSs such as Git, Mercurial, Subversion, CVS, P4, etc. because we plan to filter out things like the `.git/` directory before putting it into the build containers (

[2020-01-10 22:24] ekcasey opened #447 "create-builder and create-package should "zero" timestamps within layers"
### Description
`pack create-builder` should create layers where all of the timestamps (mod, access, change) are "zeroed out" (aka set to Jan. 1 1980).

### Proposed solution
Normal times for all tar entries when creating layers. The lifecycle `exporter` currently does this for app image layers.

### Additional context
This decreases the amount of storage required for builders. For example, if a n

[2020-01-11 17:00] zmackie opened #448 "Spike/Explore: Running combinatorial tests for PRs"
#### Why are we doing this:
The spike aims to "kill two birds with one stone"
1. Driving our requirements for running pack and/or thelifecycle directly in CI/CD systems
2. Making our PR testing more robust, discoverable, and community friendly.

#### Questions:
- What CI system should we target for the "combinatorial tests"? What parameters can we use to decide which systems we should prioritize?

[2020-01-11 17:08] Zanadar commented on #448
@ameyer-pivotal I made this into an issue. Feel free to fill out a bit more.

[2020-01-11 17:25] Zanadar opened #449 "Remove pack run"
Now that https://github.com/buildpacks/rfcs/pull/36 is merged, we should remove the `pack run` command.

[2020-01-11 17:28] Zanadar commented on #215
@dgageot I think we might want to table this issue since `pack run` is going away anyway (https://github.com/buildpacks/rfcs/pull/36)

[2020-01-11 17:28] #215 closed

[2020-01-12 13:30] michiboo commented on #449
Hi Can I have a go at this issue?

[2020-01-12 15:54] Zanadar commented on #449
@michiboo That'd be great!

[2020-01-13 15:12] dfreilich commented on #430
@ameyer-pivotal We had introduced a bug in our `builder.toml`, where we tried to de-dup seemingly duplicate buildpacks, when that was masking the real issue. The current builder.toml is
[code]

and the error we are seeing is
[code]

[2020-01-13 16:30] dfreilich commented on #430
When I try to inspect the layer where extracting fails (by curling the api for the blob, and untarring it), I see:
[code]

My suspicion is that the issue is with there being two separate layers `/buildpacks/org.cloudfoundry/node-engine`, instead of the list above reading
[code]

[2020-01-13 17:12] ameyer-pivotal commented on #430
@dfreilich

It looks like the dotnet order contains node-engine as optional, so I don't think it would be expected to satisfy both if you're only providing one version of node-engine and the buildpack.tomls specify differing versions.

That said, it looks like in the latest links from @mdelillo, both nodejs and dotnet-core require the same version, which makes sense as I see only one version of no

[2020-01-13 17:19] ameyer-pivotal commented on #430
@dfreilich

Every buildpack will always be in a separate layer, so this is not a concern in general. What I do notice though is that there are two `node-engine` directories in that TAR. That may be the common root cause I alluded to in the comment above. I'll investigate.

[2020-01-13 17:21] ameyer-pivotal commented on #430
@dfreilich I think you and I were seeing the same thing. Perhaps what you meant to say is that your suspicion is that there are two separate *header entries* (rather than two separate *layers*)?

[2020-01-13 17:45] zmackie opened #452 "Enable minimal pack build targetting windows"
### Description

As the CNB ecosystem evolves to support Windows as a target for builds, we would like to step our way towards that iteratively.

### Proposed solution
Initially targetting work in the the `lifecycle` to cross compile the lifecycle binaries

[Working document with phases](https://docs.google.com/document/d/1bRsoN7Cd2EZfuIJgKL-JbpreBf9wfnb_LWoUDc9eJQg/edit#)

### Describe alternativ

[2020-01-13 18:40] ameyer-pivotal commented on #430
@dfreilich Can you provide more info on what you mean when you say you tried to "inspect the layer where extracting fails". The output shown seems to be more than one layer. Is it a TAR? Where does it come from?

[2020-01-13 20:23] Zanadar commented on #267
Validated that creating a builder where the lifecycle bundle lack a `lifecycle.toml` fails.

[code]

[code]

[code]

[2020-01-13 20:43] ameyer-pivotal commented on #430
@dfreilich @kvedurmu It's important to note that the original error mentioned in this issue does not come from `pack`, but rather from `docker pull`. I found your CI logs:

[code]

You can see that pack actually completed the `create-builder` command. Confusingly, `pack` produces an error for me whenever I have two buildpacks with the same ID (regardless of identical versions or not):

[code]

Not

[2020-01-13 21:19] dfreilich commented on #430
We've had similar issues in the past. It seems that `pack build ... -publish` is somehow able to sidestep image issues that only arise when we then try `docker pull`ing the object.

[2020-01-14 17:49] zmackie opened #453 "Expose create-package command"
*Blocked by*: #348, #441

To prepare for the release of buildpackages in pack, we need to expose the `create-package`.

[code]

[2020-01-14 20:38] zmackie opened #454 "Chore: After next release, correct previous pack fixtures dir in CI"
Because #443 renamed `acceptance/testdata/pack_current` to `acceptance/testdata/pack_fixtures`, we need to correct this path after the next pack release.

Due to #443, Concourse now computes the previous pack release's fixtures directory by looking at the last release. As of playing #443, the previous pack release fixtures are found at `pack_current`. Once the next release goes out, that will fixt

[2020-01-14 20:38] zmackie opened #455 "Use `ytt` to enable/disable problematic test combos"
Use `ytt` to enable/disable problematic test combos

[2020-01-14 20:38] zmackie opened #456 "Validate contents of package.toml"
### Description
`pack` should validate `package.toml` during buildpackage creation

### Acceptance criteria

#### AC1. Tables

**Given** `package.toml` contains an array of tables that is not expected:
[code]
**When** I run `pack create-package some/package --package-config package.toml`
**Then** it should error with the following message:
[code]

#### AC2. Keys

**Given** `package.toml` contains

[2020-01-14 23:52] jromero commented on #253
@Zanadar what's the reason this was closed?

[2020-01-15 11:57] Zanadar commented on #253
@jromero misread the comments above! Reopening.

[2020-01-15 15:08] Zanadar commented on #449
Accepting:
[code]

[2020-01-15 21:42] Zanadar commented on #228
@ekcasey @sclevine Care to weigh in here?

[2020-01-15 21:46] Zanadar commented on #212
`pack create-builder` now supports publishing to a remote registry .
 via the `--publish` flag See: https://github.com/buildpacks/pack/blob/master/create_builder.go#L21

AFAIK, that accomplishes what you need @poy Let me know if I'm wrong.

[2020-01-15 21:51] zmackie opened #458 "Feature: pack can output a `.cnb` file"
### Description:

The builpacks [distributions spec](https://github.com/buildpacks/spec/blob/master/distribution.md#buildpackage) specifies that buildpackages can be packaged as a `.cnb` file

### Acceptance

#### standard output
Given I have a buildpack with appropriate package.toml
When I run `pack package-buildpack my/bp -p package.toml -o bp.cnb`
Then I should see a new file `bp.cnb`
And the `

[2020-01-15 21:55] Zanadar commented on #258
@josegonzalez We've discussed this and related issues a couple times in WG. Would you be amenable to opening an RFC on the subject?

[2020-01-16 14:37] natalieparellano commented on #456
@Zanadar - @jromero 's edits look good to me, I don't have anything to add - but I'm happy to shepherd this issue or do other needed things.

[2020-01-16 19:05] jromero commented on #62
![image](https://user-images.githubusercontent.com/475559/72554701-d3d21d80-3860-11ea-860a-47f50cba0c94.png)

[2020-01-17 16:33] #267 closed

[2020-01-17 16:34] #449 closed

[2020-01-17 18:47] zmackie opened #460 "Remove lifecycle symlink from lifecycle layer creation logic"
The symlink from `/lifecycle -> /cnb/lifecycle` is no longer needed in builders (after releasing pack 0.8.0), as pack 0.7.0+ will invoke lifecycle from `/cnb/lifecycle`.

### Acceptance Criteria

**Given** a `pack` with this change
**When** I create a builder with `pack create-builder`
**And** I run a container from the builder image
**Then** I should not see a symlink from `/lifecycle` to `/cnb/l

[2020-01-17 18:48] Zanadar commented on #460
@natalieparellano Ported from a card. Please flesh out.

[2020-01-17 18:50] zmackie opened #461 "Remove from io.buildpacks.builder.metadata label"
Remove from io.buildpacks.builder.metadata label both buildpacks and order based on
https://github.com/buildpacks/pack/issues/251

0.6.0

[2020-01-17 19:49] Zanadar commented on #200
Do we think this might need an RFC or would it be a platform specific thing?

[2020-01-17 21:17] ameyer-pivotal commented on #460
@Zanadar Done :)

[2020-01-18 03:53] jromero commented on #200
Given buildpack authors from various avenues would provide this information I believe this should be spec'd.

My initial thought is that this could live in a `buildpack.toml` similar to how `project.toml` has [source and documentation urls](https://github.com/buildpacks/rfcs/blob/master/text/0019-project-descriptor.md#what-it-is).

[2020-01-21 17:19] Zanadar commented on #430
### Acceptance:
Using the [two new test builder configs](https://github.com/buildpacks/samples/tree/pm/test-pack-430/builders/bionic) on my branch of samples I created builders locally an against a remote registstry. For each of the scenarios, I tested two case of builder config:
1. Duplicate buildpacks with the same version
1. Duplicate buildpack with differenct versions

General command i used `

[2020-01-21 17:21] #430 closed

[2020-01-22 14:49] jromero opened #464 "Permission denied within FAT formatted jars"
### Summary
Certain `.jar` files are not usable by `pack` as application input.

After a bit of research it was determined that the jar files in question are lacking the necessary permissions and/or directory flag which is likely a result of tooling packaging the jar in `DOS` format. See `fat` vs `unx` annotation below.

##### Failing JAR zipinfo
[code]

##### Working JAR zipinfo

[code]

#### Ref

[2020-01-23 14:39] jromero opened #465 "Bump DefaultLifecycle to 0.6.0"
Upon release of [lifecycle 0.6.0](https://github.com/buildpacks/lifecycle/milestone/8) we would want to bump pack's DefaultLifecycle to 0.6.0.

### Acceptance Criteria

#### AC 1. Report
When I run `pack report`
Then I see `Default Lifecycle Version:  0.6.0`

#### AC 2. Create Builder
Given I have `builder.toml`:
[code]
And I create a builder via `pack create-builder my-builder --builder-config bu

[2020-01-23 17:40] #352 closed

[2020-01-23 17:40] #304 closed

[2020-01-24 18:11] jamesward opened #468 "Docker Image with Pack"
### Description
As part of the release process, create & publish a Docker image that contains pack, like:
https://github.com/GoogleCloudPlatform/cloud-builders-community/tree/master/pack

To use pack from systems like GitHub Actions, Cloud Build, etc it is useful to have an image with pack in it so that builder files can be written like:
https://github.com/jamesward/hello-php/blob/master/cloudbuil

[2020-01-24 19:03] zmackie commented on #82
What if we just had it inject https://github.com/buildpacks/samples/tree/master/buildpacks/hello-world

[2020-01-24 19:36] ekcasey commented on #228
@jasonkuhrt `knative-build` and it's spinoff `tekton` both essentially provide a way to template and run arbitrary tasks. For both, we have provided buildpack task templates. Here is a link to the tekton task https://github.com/tektoncd/catalog/blob/master/buildpacks/buildpacks-v3.yaml.

https://github.com/pivotal/kpack provides a different model for executing buildpacks on k8s. Wiring `kpack` and

[2020-01-24 19:37] jromero commented on #82
I'd like to see something more robust to be honest. I'm a fan of user friendly scaffolding experience that tools like:

- [cookie-cutter](https://docs.pylonsproject.org/projects/pyramid/en/latest/quick_tutorial/cookiecutters.html)
- [open-faas](https://www.openfaas.com/blog/template-store/#building-the-template-store)

[2020-01-24 20:45] natalieparellano opened #469 "`create-builder` should be able to create a Windows image"
### Description
`pack create-builder` currently only creates Linux images.

### Proposed solution
`pack` (compiled for Linux and Mac) and `pack.exe` (compiled for Windows) should be able to create Windows images.

### Describe alternatives you've considered

### Additional context
* Leaving buildpackages out of scope for now due to their complexity
* Leaving validation of lifecycle/stack-image OS

[2020-01-24 20:48] natalieparellano opened #470 "`build` should be able to create a Windows image"
### Description
`pack build` currently only creates Linux images.

### Proposed solution
`pack` (compiled for Linux and Mac) and `pack.exe` (compiled for Windows) should be able to create Windows images.

### Describe alternatives you've considered

### Additional context
* This work should follow / is blocked by https://github.com/buildpacks/pack/issues/469
* Leaving buildpackages out of scope fo

[2020-01-27 15:45] #454 closed

[2020-01-27 16:02] zmackie opened #472 "Pack build supports `.cnb` files as arguments to `--buildpack`"
### Description

Blocked by by #458

Pack will soon be able to create `.cnb` files. It should also be able to consume those files.

### Proposed solution

Since we will soon be able to create a `.cnb` file, `pack` should be able to read that sort of file during `pack build MY-APP --buildpack BPG.cnb`.

## Acceptance criteria:

[code]

[2020-01-27 20:03] #465 closed

[2020-01-27 22:01] zmackie opened #474 "windows"

[2020-01-27 22:04] #474 closed

[2020-01-28 22:01] natalieparellano commented on #62
### Acceptance Criteria

(a/c based on the Slack convo above)

As an app developer
When I run `pack build my-app-image --intercept`
Then for each phase of the lifecycle, I get an interactive shell with the following (or similar) output:
[code]
And the command displayed is the command that would be executed on the lifecycle for that phase

When I type `exit` within the shell
Then `pack` proceeds to

[2020-01-29 17:27] zmackie opened #475 "Releases for macos should be "darwin""
### Summary

General convention for releases for the macos platform is to call them `darwin` because that's the actual OS they target.

---

### Reproduction

##### Steps

1. Got to https://github.com/buildpacks/pack/releases/latest and look at assets
2. See eg. https://github.com/buildpacks/pack/releases/download/v0.8.0/pack-v0.8.0-macos.tgz

##### Expected

1. Got to https://github.com/buildpack

[2020-01-29 22:15] zmackie commented on #452
Closing as this was essentially a spike to define the overall work.

[2020-01-29 22:15] #452 closed

[2020-01-30 05:02] matthewmcnew opened #476 "pack build --publish does not cache during export"
### Summary

A `pack build` with `--publish` with the lifecycle `0.6.0` will skip exporting the cache.

[code]

It appears that the `cache-dir` is only appended to the lifecycle args when not publishing?

https://github.com/buildpacks/pack/blob/c4636375b6a7e4388dd96ed64fd3baebf7d260e8/internal/build/phases.go#L158

---

### Reproduction

##### Steps

`pack build my/image --builder <builder/with-li

[2020-01-30 12:37] dgageot opened #477 "pack build ... | more produces garbage output"
When pulling an image, `pack` will show a `docker` progress bar if the output goes to a terminal.

The detection of terminals could be improved.

One way to trigger an issue that is to run `pack build test --builder heroku/buildpacks | more`. It'll produce something like:

[code]

[2020-01-30 14:07] ekcasey commented on #476
I was JUST about to file this myself. This is fairly catastrophic imho

[2020-01-30 14:53] #475 closed

[2020-01-30 15:15] zmackie opened #480 "Bump default lifecycle to `0.6.1` when lifecycle release is out"
Blocked by: `v0.6.1` of the lifecycle

When a patch of the lifecycle comes out, we need to bump the default lifecycle in the builder to `0.6.1`.

[2020-01-30 15:59] jromero commented on #476
- **Impact:**
    - This is an issue on pack >= `0.6.0` and lifecycle = `0.6.0`
    - Any cached layers are not persisted between builds
        - For example, as a Java developer, this would mean that I must download the JDK for every build.
- **Effort**:
    - Minimal. See https://github.com/buildpacks/pack/pull/479
- **Risk:**
    - Based on changes proposed in https://github.com/buildpacks/pac

[2020-01-30 16:11] jromero commented on #476
Resolved by https://github.com/buildpacks/pack/pull/479

[2020-01-30 16:12] jromero opened #481 "Bump default lifecycle version to 0.6.1"
Relates to issues:
- https://github.com/buildpacks/lifecycle/issues/239

[2020-01-30 16:14] #480 closed

[2020-01-30 17:37] zmackie opened #483 "Pack should have a way to inspect buildpackages"
### Description

Since I can make a buildpackage, it would be nice to be able to understand it after the fact.

### Proposed solution

`pack inspect-package <buildpackage-name>` should give me something more readable than what I get with:
[code]

### Describe alternatives you've considered

a more generic `pack inspect` command that would understand what its looking at.

### Additional context

[2020-01-30 18:49] #476 closed

[2020-01-30 18:55] #481 closed

[2020-01-30 21:11] zmackie opened #484 "pack create-builder should "conform" buildpackages to the target stack"
### Description

Given the linked [buildpack](https://github.com/buildpacks/samples/blob/hello-universe-validation/buildpacks/hello-universe/buildpack.toml), [buildpackage](https://github.com/buildpacks/samples/blob/hello-universe-validation/buildpacks/hello-universe/buildpack.toml) and [builder.toml](https://github.com/buildpacks/samples/blob/hello-universe-validation/builders/alpine/builder.toml

[2020-01-30 21:42] zmackie commented on #484
Diagram that describes the disconnect
<img width="1065" alt="stack issue" src="https://user-images.githubusercontent.com/5925347/73492833-78834d80-437f-11ea-8b80-246e9f2e7da5.png">

[2020-01-31 13:24] jromero commented on #484
@zmackie I'd like to have someone triage this before considering it a feature request. The spec is very specific as to how this works so if there is a request here it would most likely require a spec change. Otherwise, it might be as simple as making the sample buildpackage work across all sample builders.

[2020-01-31 15:20] #484 closed

[2020-01-31 16:22] #477 closed

[2020-01-31 16:27] zmackie opened #486 "pack should use the --no-color equivelant when its not attached to a terminal"
### Summary

---

#477 turned up the fact that color escape codes are leaking into output when `pack` is not attached to a terminal. It would be UX nicety for `pack` to run as the equivelant to `--no-color` when, eg. piping to `less`.

*note* the output below is with `pack` built from #478 (therefore has the docker progress bar stripped)

### Reproduction

##### Steps

[code]

##### Expected

Clea

[2020-01-31 16:42] nebhale opened #487 "Builder Configuration Is Undocumented"
Currently, the `create-builder` help describes a `-b, --builder-config string   Path to builder TOML file (required)` flag.  The schema of this file is not documented and must be.

[2020-01-31 16:59] #487 closed

[2020-01-31 22:08] ekcasey commented on #277
I just confirmed that this is resolved by in `pack` `v0.8.1`, probably because imgutil was updated, pulling in these changes `buildpacks/imgutil#20`.

Please feel free to reopen if you continue to see issues.

[2020-01-31 22:16] BenTheElder commented on #277
thanks :-)

[2020-02-01 07:42] dgageot commented on #277
I'm still seeing the issue. I'll investigate some more on Monday

[2020-02-03 14:48] #212 closed

[2020-02-03 15:13] dgageot commented on #277
I've run tests on a clean environment and I still see the issue.
pack v0.8.1
kind v0.7.0
node v1.17.0 @sha256:9512edae126da271b66b990b6fff768fbb7cd786c7d39e86bdf55906352fdf62
Docker Desktop MacOS 2.1.7.0

Could the issue be re-opened?

[2020-02-03 18:31] natalieparellano opened #488 "Phases should be unit-testable"
### Description
See [internal/build/phases.go](https://github.com/buildpacks/pack/blob/1a6e03a48c9444629c355bf83562d73206698f66/internal/build/phases.go)

This code is not unit-tested, therefore we may not be verifying that the correct arguments are passed to each phase binary.

We already shipped a bug (see https://github.com/buildpacks/pack/issues/476) as a result of not verifying the arguments.

[2020-02-04 15:30] zmackie commented on #413
Sounds like this issue is solved. For the broader feature ("Support Podman") we'd be happy to review a pull request.

[2020-02-04 15:30] #413 closed

[2020-02-04 15:42] zmackie commented on #82
@buildpacks/platform-maintainers Is this something we want to do?

[2020-02-04 16:29] jromero commented on #486
Determining whether we are attached to the terminal seems to be pretty straight forward with use of [terminal#IsTerminal()](https://rosettacode.org/wiki/Check_output_device_is_a_terminal#Go).

[2020-02-04 17:59] jromero commented on #483
@zmackie can you provide a little more insight as to what you expect the output to look like?

[2020-02-04 21:06] jromero commented on #468
Thanks for bringing this up. It makes sense.

Adding `state/discussion-needed` so that we can discuss this at the next working group meeting since it would require that we maintain another deliverable artifact. I don't anticipate any issues but would want to make sure everything is considered.

[2020-02-05 19:16] natalieparellano opened #489 "pack when disambiguating buildpack arguments should output chosen value"
### Description
`pack` when passed `--buildpack` can determine whether the value is a buildpack reference, a path to a directory, or a path/URL to a tar file (and soon, buildpackage).

It would be great if `pack` printed out where each buildpack is actually coming from, to avoid any confusion if the user intended the buildpack to come from somewhere else.

### Proposed solution
When `pack` is runn

[2020-02-05 19:37] natalieparellano commented on #461
@zmackie is it possible you could elaborate what are the uncertainties here i.e., what needs to be ironed out before this issue could be actionable (or not)?

[2020-02-05 19:56] natalieparellano commented on #455
@zmackie is it possible you could elaborate?

[2020-02-05 20:04] natalieparellano commented on #448
Since we recently found that GitHub Actions will allow us to easily obtain a Windows vm with Docker installed, that could be one avenue for solving this problem for Windows. I believe Mac is still an outstanding question.

Other thoughts (captured from a previous conversation awhile back):
* We could move the combinatorial tests to Travis for Linux only
* Use a remote docker daemon for running Mac

[2020-02-05 20:13] natalieparellano commented on #446
@zmackie is there an epic for adding source metadata to labels?

[2020-02-05 20:17] natalieparellano commented on #439
Where should that optimally live? Could `pack` run `docker version` and fail out if the version is not supported?

[2020-02-05 20:23] natalieparellano commented on #419
Possible acceptance criteria:

**When** I run `pack build` with `--publish`
**And** I inspect the output
**Then** I should see verbose logging from `analyzer` (not sure exactly what verbose logging looks like but we could add it later)
**And** I should see verbose logging from `build`

[2020-02-05 20:25] natalieparellano commented on #488
Consider addressing along with https://github.com/buildpacks/pack/issues/419.

[2020-02-05 20:28] natalieparellano commented on #387
Possible acceptance criteria:

**When** I run `pack inspect-builder --output json` or `pack inspect-builder --o json`
**Then** I see the output in json format

**When** I run `pack inspect-builder --output yaml` or `pack inspect-builder --o yaml`
**Then** I see the output in yaml format

**When** I run `pack inspect-builder --output toml` or `pack inspect-builder --o toml`
**Then** I see the outpu

[2020-02-05 20:32] natalieparellano commented on #407
Possible acceptance criteria:

**When** I run `pack build some-image`
**And** I run `pack build some-image` again while the previous invocation is still running
**Then** I should get a helpful error message

**When** I run `pack build some-image`
**And** I `kill -9` pack (or the equivalent on Windows)
**Then** I should be able to run `pack build some-image` again without error

[2020-02-05 20:46] natalieparellano commented on #388
Updated @zmackie's comment above to only specify the sha for build images.

[2020-02-05 20:50] thephw commented on #468
This approach is how at coca-cola we used Jenkins to run particular tools in a docker workspace without a node environment. Specifically in that instance we had a elasticsearch migration tool, [elastic-migrate](https://github.com/deftinc/elastic-migrate), written in node that was built as an executable docker image on release. For local development the image was used with a local docker volume mou

[2020-02-05 20:55] natalieparellano commented on #123
@abarke did the changes in 0.5.0 solve your issue?

[2020-02-05 20:57] natalieparellano commented on #159
Perhaps an outcome could be that we document the workaround in some easily discoverable place?

[2020-02-05 21:12] natalieparellano commented on #170
Potentially related to https://github.com/buildpacks/pack/issues/159

[2020-02-05 21:42] natalieparellano commented on #228
Is there any action to be generated from this issue? If not, could we go ahead and close it?

[2020-02-05 22:21] natalieparellano commented on #336
@evandbrown is this still an issue?

[2020-02-06 15:48] natalieparellano commented on #447
@zmackie we removed the roadmap/buildpackages label because we didn't see the association, but feel free to add it back if we're wrong

cc @jromero

[2020-02-06 16:11] natalieparellano opened #490 "pack inspect-image should accept an --output flag"
### Description
`pack inspect-image --bom` produces a wall of text that is hard to read. We should make it easier to understand the output of this command.

### Proposed solution
Output the data in a format that I want.

### Possible acceptance criteria

**When** I run `pack inspect-image --output json` or `pack inspect-image -o json`
**Then** I see the output in json format (with BOM information)

[2020-02-06 16:37] natalieparellano commented on #378
We created a related issue that would hopefully address this: https://github.com/buildpacks/pack/issues/490

[2020-02-06 16:37] #378 closed

[2020-02-06 16:51] natalieparellano commented on #340
Closing this issue for now. An RFC would be necessary to provide further guidance. Changes to the spec would most likely be necessary making it unsuitable for pack to implement it at this point in time.

[2020-02-06 16:51] #340 closed

[2020-02-06 16:58] natalieparellano commented on #258
Closing this for now as it would require an RFC for further discussion into how to implement it.

[2020-02-06 16:58] #258 closed

[2020-02-06 17:01] natalieparellano commented on #210
Closing this issue as the pain point should be addressed with https://github.com/buildpacks/rfcs/pull/25.

[2020-02-06 17:01] #210 closed

[2020-02-06 17:10] natalieparellano commented on #222
Closing this issue as it seems resolved.

[2020-02-06 17:10] #222 closed

[2020-02-06 17:24] natalieparellano commented on #228
It seems like the initial question has been answered. Closing this issue as it's technically not applicable to `pack`.

[2020-02-06 17:24] #228 closed

[2020-02-06 18:21] alexbrand commented on #378
Awesome! Thanks

[2020-02-06 18:56] hone commented on #468
@jamesward We talked about this in our WG meeting yesterday. This looks like an interesting use case, but there were some questions that came up:

* what platforms can run without extensive Docker-in-Docker support
* what behaviors would be enabled (create-builder, create-package, build, etc.)

Since this would add extra maintenance on one of the sub-teams and increase surface area, would you mind

[2020-02-06 19:56] natalieparellano commented on #85
We brought this up in the latest WG meeting and decided this is something that we'd like to do eventually.

@ttpcodes could we work with you on this? We'd like to be able to use the `pack-cli` namespace if possible.

[2020-02-06 20:10] natalieparellano commented on #446
Blocked by https://github.com/buildpacks/lifecycle/pull/230

[2020-02-06 20:15] natalieparellano commented on #345
This proposal is currently being fleshed out in https://github.com/buildpacks/rfcs/pull/46 and we expect subsequent work to resolve this issue.

[2020-02-06 20:18] natalieparellano commented on #336
Closing this for now, but feel free to reopen this issue if it's still a problem.

[2020-02-06 20:18] #336 closed

[2020-02-06 20:29] nebhale commented on #123
There is still an outstanding bug here that one of the outputs (from `lifecycle` I believe) doesn't honor the flag:

![image](https://user-images.githubusercontent.com/60754/73975994-3d7f9d80-48dc-11ea-9e6d-c5e50117a1bd.png)

The buildpacks that @trisberg is seeing the "always color" behavior with are mine and I'll take a look if I can make them respect that flag a bit more.

[2020-02-06 20:31] natalieparellano commented on #268
This probably requires further investigation on our part. See related conversation here: https://github.com/buildpacks/lifecycle/issues/180

[2020-02-06 20:38] natalieparellano commented on #183
@trenta3 see related [RFC](https://github.com/buildpacks/rfcs/blob/2c6ac8da87d3f6daddbbb859f258925047f15179/text/0012-service-binding.md) and [spec document](https://github.com/buildpacks/spec/blob/50fd6470694ea118eae2f48b997415ef68102418/extensions/bindings.md) - these have been finalized but to my knowledge, pack does not currently support them.

@nebhale could you comment further?

[2020-02-06 20:44] natalieparellano commented on #123
Hmm there may be a regression as `pack` is supposed to strip off color from output returned by the lifecycle. Maybe we could implement this better.

[2020-02-06 21:01] natalieparellano commented on #335
It looks like alignment is needed around how to print out the environment (if indeed we do want to do that). Tagging for discussion.

Perhaps work to address https://github.com/buildpacks/pack/issues/62 would also help with that pain point here.

[2020-02-06 21:31] natalieparellano commented on #199
Hi @ericis - apologies for the long delay without a response. We did just try installing WSL with Ubuntu, and were able to see `pack` install successfully by following the instructions for Linux here: https://buildpacks.io/docs/install-pack/#linux.

Could you provide some further details about what you are trying to accomplish?

![Screen Shot 2020-02-06 at 4 28 04 PM](https://user-images.githubuse

[2020-02-07 14:39] dgageot commented on #468
The classic way of running such image would be with the docker socket mounted. This would make it possible to run pack with a single `docker run` command on environments like Google Cloud Build, TravisCI and (I guess) GitHub Actions.

A Dockerfile for such image could be something as simple as:
[code]
(Copied from [Skaffold's codebase](https://github.com/GoogleContainerTools/skaffold/blob/master/d

[2020-02-10 10:44] burdiyan opened #491 "Allow caching all layers in the remote registry"
### Description

I probably wrongly was assuming that layers with `cache = true` in their `<layer>.toml` will be cached in the remote registry, in addition to local volume cache. This way rebuilds with empty local cache could be faster by reusing layers from the registry. Looks like currently it's not the case, and with empty local cache all layers are rebuilt from scratch.

### Proposed solution

[2020-02-10 18:22] nebhale commented on #183
Yep, we've got an RFC and spec, but `pack` doesn't yet support it. It's looking like, given the other things stacking up, that it won't make it until `0.10` or later though.

[2020-02-10 20:11] pclalv opened #492 "Preserving app file mtimes at build time"
As of [lifecycle#80][lifecycle-80], the lifecycle ensures that all app
files have the same predetermined mtime at build time, regardless of
the app file's actual mtime. It would be nice to have an option to
preserve app file mtimes at buildtime in order to support build steps
that use mtime to validate the cache and/or its contents.

## Detailed use-case

I have a Rails app with a [Sprockets][spro

[2020-02-10 20:53] simonjjones commented on #491
After some research we discovered that this functionality is already available in lifecycle, and can be consumed by executing the `analyzer`, `exporter` & `restorer` phases with a `-cache-image` flag.

Historically, when we first implemented caching it was done entirely against a registry and we found this to be a lot less performant than using a volume, and therefore removed that option.

We woul

[2020-02-10 22:22] nebhale opened #493 "Run Containers with mirrored TTY"
Currently the build container is always started without a TTY.  Given that most applications use the existence of a TTY to determine whether to display color, any sub-process run within that container assumes that it is not in a TTY and does not display color even though a user might want it to.

This problem is even more insidious as parts of the buildpacks ecosystem have had to do various work a

[2020-02-11 15:19] burdiyan commented on #491
@simonjjones Thanks for reaching out! Thanks for the call to participate in the group meeting, but I'm afraid I currently don't have bandwidth for that :(

As for the feature itself, I think it could be super useful having an option for best-effort local volume caching, and remote caching as a fallback or something like that.

[2020-02-11 15:33] jromero commented on #491
We've discussed this a bit in our stand-up and would like to proceed to make this an opt-in feature. The intention would be to leave existing behaviour but provide a `--cache-image` flag, similar to the `lifecycle`,  for the `build` command. This value would essentially be passed to the `lifecycle`.

@buildpacks/platform-maintainers please provide some feedback. 👍/ 🤔/ 👎

[2020-02-11 15:41] burdiyan commented on #491
I like the opt-in nature of the feature. I think it's fair. Looking at how kaniko implements this kind of caching, I believe it wouldn't be possible to specify a single cache image for all the different layers that might be cached. Kaniko specifies cache destination as a repository (not image with a certain tag), and effectively each layer is a new image tagged by its digest.

[2020-02-12 14:08] abarke commented on #123
@natalieparellano my issue was fixed. Im currently using v0.5.0

[2020-02-12 14:31] zmackie commented on #167
I _believe_ this is a duplicate of https://github.com/buildpacks/pack/issues/159 so I'll close this in favor. Feel free to reopen @kganger if I'm mistaken.

[2020-02-12 14:31] #167 closed

[2020-02-12 17:06] SocalNick commented on #468
[Asked about this in Slack])https://buildpacks.slack.com/archives/C94UJCNV6/p1581525852122900) and providing requested information:

* CI: Buildkite
* For images that need to interact with the VM docker daemon, we bind mount the Docker socket w/ `-v /var/run/docker.sock:/var/run/docker.sock`

[2020-02-12 17:47] ttpcodes commented on #85
I'd be willing to help with this. What resources would you need from me?

You can contact me via my email address on my profile if you want to discuss this over email.

[2020-02-12 18:15] pclalv commented on #492
Ah yeah, my mistake. While we invoke the lifecycle directly in our remote builds, I usually test our buildpacks locally with pack, and I mistakenly assumed that lifecycle builds and pack builds would be equivalent in this regard. It would be nice to smooth out this difference, though.

[2020-02-12 18:49] nebhale commented on #468
@SocalNick When you bind mount the Docker socket, do you typically have to do anything within the container to sanitize permissions?  And do you grant privileged status to the container?

[2020-02-12 21:41] zmackie opened #504 "Implement Service Bindings extension"
## Summary

Implement service [binding spec](https://github.com/buildpacks/spec/blob/master/extensions/bindings.md) relevant to `pack`:
https://github.com/buildpacks/spec/blob/master/extensions/bindings.md#detect-and-build-phases

## Acceptance

### Basic Usage

**Given** the following `<bindings-config>.toml` file:
[code]
**When** the following command is executed:
`pack build --bindings-config <

[2020-02-12 22:03] #455 closed

[2020-02-12 22:03] #431 closed

[2020-02-12 22:03] #439 closed

[2020-02-12 22:23] #348 closed

[2020-02-12 22:28] jromero commented on #468
Despite @nebhale's question which is valid and still worth answering, the @buildpacks/platform-maintainers have decided to move forward with this request. It will be prioritized accordingly.

If you are able to provide additional context into how it's used please feel free to add a comment to this issue. Insight is always welcomed.

[2020-02-12 22:30] natalieparellano commented on #439
I liked this one :(

[2020-02-13 16:56] #441 closed

[2020-02-13 17:16] ameyer-pivotal commented on #313
@loosebazooka There are a lot of great ideas here. This should go through an RFC, as mentioned by @sclevine, where we can continue the discussion more concretely and with a more targeted audience. As it stands, it's more of a spec concern, and any implementation would likely be handled by the [`lifecycle`](github.com/buildpacks/lifecycle) and/or buildpacks, rather than `pack`.

[2020-02-13 17:16] #313 closed

[2020-02-13 20:26] ameyer-pivotal commented on #184
@Skraelingjar We now change timestamps to a compatible date, so hopefully you're not seeing this anymore. Furthermore, we're going to address #492, which should also help resolve your issue if you still notice problems. Closing this for now, but feel free to comment or reopen if you have any more concerns. Thanks!

[2020-02-13 20:26] #184 closed

[2020-02-13 20:31] ameyer-pivotal commented on #492
Hi @pclalv, thanks for reporting this! We're in agreement with @ekcasey in that we should be able to preserve source file mod times during the build with no negative side effects (they will still get normalized before exporting the final image). This will resolve your issue and also #184.

[2020-02-14 20:37] ameyer-pivotal opened #500 "Migrate Travis tests to use GitHub Actions"
Eventually, we'd like our whole build pipeline to be run by GitHub Actions. This will help reduce the number of third-party integrations, easing community engagement. It will also enable more streamlined integration with our codebase (PRs, releases, compatibility matrix tests, etc.). As an initial step in this direction, we'd like to remove our dependency on Travis CI.

- [ ] Migrate current Travi

[2020-02-18 17:00] #461 closed

[2020-02-18 19:07] simonjjones commented on #456
Additional validation criteria included as part of this issue:

**AC 3: Dependency configured with both image & uri**

**Given** `package.toml` contains a dependency with both the image & uri specified:

[code]

**When** I run pack create-package some/package --package-config package.toml
**Then** it should error with the following message:

[code]

**AC 4: No buildpack configured**

**Given** `pa

[2020-02-18 19:58] #453 closed

[2020-02-18 20:19] jromero commented on #493
Related to https://github.com/buildpacks/pack/issues/486, yet this issue takes it much further by providing this information to the `lifecycle`.

[2020-02-19 15:15] jromero opened #503 "builder.toml: Replace packages with buildpacks"
### Description
In order to have alignment of use for packaged buildpacks the `builder.toml` should be updated to follow the same semantics as `package.toml`.

### Proposed solution
Replace the following declaration:

[code]

with:

[code]

### Additional considerations

* Docs should be updated accordingly. (https://github.com/buildpacks/docs/pull/121)

[2020-02-19 16:00] #500 closed

[2020-02-19 18:45] ekcasey commented on #491
@burdiyan

In a registry, layers blobs are always scoped to a repository. In this situation the lifecycle needs a manifest in addition to the layers themselves so that it can look up which layers to download. We can use labels in the config of a "cache image" to store metadata that allows us to locate and restore the correct layers.

Also, given that some registries will garbage collect orphaned b

[2020-02-19 19:17] jromero commented on #200
Closing this as an RFC has been filed. Once that is accepted we can implement that as a feature which would satisfy this issue.

RFC: https://github.com/buildpacks/rfcs/pull/55

[2020-02-19 19:17] #200 closed

[2020-02-19 19:38] #456 closed

[2020-02-19 20:56] ameyer-pivotal commented on #492
Hi @pclalv, we've got PR #505 up for this. Feel free to take a look at that branch and try it out.

[2020-02-20 15:53] #492 closed

[2020-02-20 16:32] jromero opened #507 "Add support for Platform API 0.3, drop Platform API 0.1"
### Description
Based on [new support for project-metadata.toml](https://github.com/buildpacks/lifecycle/pull/230#pullrequestreview-358559988) we need to update the supported Platform API versions. The new API version is strictly additive in nature so no additional compatibility concerns are presented.

### Proposed solution
- Drop support for Platform API 0.1. This is due to the ongoing effort to

[2020-02-20 19:01] #503 closed

[2020-02-21 15:37] natalieparellano opened #510 "Validate contents of builder.toml"
While working on https://github.com/buildpacks/pack/issues/503 we found that `builder.toml` is not being validated like `package.toml`. We should validate `builder.toml`.

### Description
`pack` should validate `builder.toml` during builder creation

### Acceptance criteria

#### AC1. Tables

**Given** `builder.toml` contains an array of tables that is not expected:
[code]
**When** I run `pack cre

[2020-02-21 23:04] natalieparellano commented on #493
Took a look at this today - in some sense starting the container with a TTY may be as simple as adding `Tty: true` [here](https://github.com/buildpacks/pack/blob/20305671ee25047ae437a534f89f6831a7176204/internal/build/phase.go#L36) and switching to use `io.Copy` [here](https://github.com/buildpacks/pack/blob/20305671ee25047ae437a534f89f6831a7176204/internal/container/run.go#L32) (see convo [here](

[2020-02-24 15:57] natalieparellano commented on #183
See https://github.com/buildpacks/pack/issues/504 for the work to implement this in pack.

I'm going to go ahead and close this issue, but feel free to circle back if there are further outstanding questions.

[2020-02-24 15:57] #183 closed

[2020-02-24 15:58] natalieparellano commented on #199
I'm going to go ahead and close this issue, but feel free to circle back if there are further outstanding questions.

[2020-02-24 15:58] #199 closed

[2020-02-24 21:20] ekcasey commented on #277
@dgageot I'm struggling to reproduce this.

Did you run into this with an image created by `pack build` or `pack create-builder`? If it's the former, which lifecycle version created the image?

[2020-02-25 09:05] dgageot commented on #277
It seems to be all good now, with the same versions. Only the heroku builder image has changed since my last test. Let's see if the Skaffold integration tests succeed now.

[2020-02-25 09:39] dgageot commented on #277
They seem to fail for a different reason. So I think it's all good now!

[2020-02-25 14:18] ekcasey commented on #277
I think the image creation logic was fixed in `pack` `v0.8.1`, but the heroku builder probably hadn't been recreated using the fixed version of `pack` yet.

[2020-02-25 14:18] #277 closed

[2020-02-25 15:48] #507 closed

[2020-02-25 16:42] elbandito opened #511 "add exclude and include support in project.toml"
### Description
Exclude and Include are not yet supported in `project.toml` for `pack build`.  Adding support for these features, moves us substantially closer to being feature complete with the Project Descriptor [RFC](https://github.com/buildpacks/rfcs/blob/master/text/0019-project-descriptor.md)

### Proposed solution
See [Exclude/Include](https://github.com/buildpacks/rfcs/blob/master/text/001

[2020-02-26 15:14] natalieparellano commented on #469
Reminder: confirm `imgutil` and `pack` both have secure containerized registries

[2020-02-26 15:36] ekcasey opened #512 "building jar gives a `project.toml` related error message"
### Summary
`pack build -p <path-to-jar>` causes ugly error message

---

### Reproduction

##### Steps

1. pack build <image> --builder cloudfoundry/cnb:bionic -p <path/to/jar>

##### Current behavior
logs include the following error message
[code]

##### Expected behavior
1. No error message
1. A new line between any error and the next log line

---

### Environment

##### pack info
Built from g

[2020-02-26 16:08] jromero commented on #512
![image](https://user-images.githubusercontent.com/475559/75363596-f6078400-587f-11ea-8de9-98d5d9a53002.png)

[2020-02-29 01:20] jromero opened #515 "Spike: Implementations of Cloud Native Buildpacks on CI/CD platforms"
### Description
Cloud Native Buildpacks primary function is to turn source code into runnable image and because of that it's natural for it to be used within various CI/CD platform pipelines.

The purpose of this issue is produce various proof of concept implementations for the top 5 to 10 platforms as ranked by [stackshare](https://stackshare.io/continuous-integration).

- [ ] Jenkins
- [ ] Travi

[2020-03-01 16:19] zmackie opened #516 "Pack build --no-pull fails —publish fails without indicating how to fix"
### Summary

I was trying to build some images without internet. Having previously run builds, I assumed that cached images on my local machine would be sufficient. Does not seem like that's the case.

---

### Reproduction

##### Steps

[code]

##### Current behavior

Offline build failed in looking for the base stack image.

##### Expected behavior

Cached local resources would allow the build t

[2020-03-01 20:13] jromero commented on #468
Relevant conversation regarding dog fooding pack to create a pack image.

**TLDR; need to make improvements to launch operation to satisfy initial use case.**

https://buildpacks.slack.com/archives/CSFE49VGR/p1583001110014800?thread_ts=1583001110.014800&cid=CSFE49VGR

![Screenshot_20200301-140957](https://user-images.githubusercontent.com/475559/75632947-7ef72600-5bc6-11ea-9130-168ccaa2907f.jpg)

[2020-03-02 13:49] yonkeltron commented on #170
Hey this is blocking my company's exploration of this technology due to our internal security policies and their expressions as crypto-cracking countermeasures at the edge. Since this is a non-negotiable thing for us, we are unable to proceed much further without this capability. How can we work to resolve this, knowing fully that we're willing to help test this in a corporate environment where Ma

[2020-03-02 15:33] #512 closed

[2020-03-02 16:25] jromero commented on #516
The problem happens to be that you are using `--publish` which uses remote images and furthermore makes `--no-pull` a no-op operation. Generally speaking, `--publish` doesn't make sense in a case where network is unavailable.

For a clearer picture on how the semantics work, see the story for [packages](https://github.com/buildpacks/pack/issues/392).

If there is an outcome of this it should be th

[2020-03-02 18:26] zmackie commented on #516
First off : facepalm. I somehow missed the publish flag in there.
That being said, I think we should reopen this issue because of the reasons you stated: the flag combo i used is invalid Or maybe not exactly invalid but doesn’t really make sense. I know that, but I’m not sure it would be generally understood by a user that this it’s the a sensical state. Maybe could have better error messaging tha

[2020-03-02 18:28] jromero commented on #516
Fair enough. I vote a new issue since this issue still provides a good historical reference.

[2020-03-02 18:28] #516 closed

[2020-03-02 20:21] mikegehard opened #517 "Allow `docker list` to show actual conatiner build time/date"
### Description

When teaching folks new to buildpacks how they interact with Docker, it is nice to have them look at their images before and after they use `pack` to build the image.

When they look after using `pack` it can be confusing to find the image that just got built because they can't look for a timestamp that happened recently because the newly built image says `40 years ago`.

### Prop

[2020-03-02 20:25] jromero commented on #517
This seems to be related to https://github.com/buildpacks/rfcs/pull/50. If that's correct and have some input please feel free to add your feedback to the RFC.

[2020-03-02 20:40] mikegehard commented on #517
Yep...added a +1 for docs there. Feel free to close this issue.

[2020-03-03 19:09] natalieparellano commented on #447
We observed some inconsistencies in how directory mod time is being set today - for example, `/cnb` doesn't have zeroed out mod time, whereas `/layers` does.

On the Windows side, Windows tar layers expect all parent directories to be explicitly created prior to the child entry being written.

Not sure how relevant this actually is for this issue, but could be worth keeping in mind.

[2020-03-03 19:42] supra08 commented on #510
Hi @natalieparellano ! I would like to work on this issue.

[2020-03-03 20:13] jromero commented on #510
Related implementation on how this was done for `package.toml`: https://github.com/buildpacks/pack/pull/501

[2020-03-03 20:17] supra08 commented on #510
Thanks! I will have a look.

[2020-03-04 01:03] jromero commented on #510
Hi @supra08,

Thanks for showing interest in working on this issue. I'll go ahead and assign it to you. If you have any questions or need assistance please don't hesitate to ask.

For more direct communication feel free to reach out via [slack](https://slack.buildpacks.io), specifically the `#platform` channel.

[2020-03-04 02:47] jromero commented on #517
Thank you for understanding. We'll continue to strive to get that answered via the RFC.

[2020-03-04 02:47] #517 closed

[2020-03-04 14:23] ekcasey opened #522 "add --default-process flag to `pack build`"
### Description
`pack build <image> --default-process <process-type>` should result in an image where the `CNB_PROCESS_TYPE` is set to `<process-type>` on the environment of `<image>`.

This flag should not be support when the builder's lifecycle has platform API < 0.3.

### Proposed solution
Given, platform API >= 0.3 `pack` can take advantage of the `-process-type` flag on `exporter` or `creator

[2020-03-04 14:28] ekcasey opened #523 "use `/cnb/lifecycle/creator` to improve performance"
### Description
Given a builder with platform API >= 0.3. `pack build` should execute the lifecycle in a single container to improve performance

### Proposed solution
When Platform API >= 0.3 `pack` should execute `/cnb/lifecycle/creator` rather than executing each phase individually.

### Additional context
RFC: https://github.com/buildpacks/rfcs/blob/master/text/0026-lifecycle-all.md
Lifecycle

[2020-03-04 15:19] 2pai commented on #515
hello @jromero , I would like to take this as my GSOC project. Can you help me with it? :D

[2020-03-04 16:44] simonjjones opened #524 "Acceptance tests should attempt to download pack & lifecycle pre-requisites when not specified by environment variable"
### Description
When running `make acceptance-all`, there are a variety of pre-requisites that are expected to be present on my local system, with their locations specified by environment variable. This presents a challenging environment for contributors hoping to validate that changes continue to be compatible with previous versions of pack and lifecycle, as well as builders created with a previo

[2020-03-04 17:15] natalieparellano commented on #504
Proposal - new format for a bindings config file:

[code]

We also propose to allow the bindings flag to be passed more than once (in case people want to split their services into files).

[2020-03-04 19:44] jromero commented on #523
👍 This would simplify our build process significantly.

https://github.com/buildpacks/pack/blob/master/internal/build/build.go#L67-L111

[2020-03-04 20:33] ameyer-pivotal opened #525 "Volumes should be mounted in detect phase"
Currently, when using the `--volume` flag during a `pack build`, the volume is only mounted during the build phase. We should also be mounting volumes during detect as well. This will enable pack users to mount directories for use as service bindings. (see #504)

[2020-03-05 16:44] zmackie commented on #515
Hi @2pai

Here are a few resources I was able to put together:

- [lifecycle phases](https://youtu.be/SK6e_ZatOaw?t=358) (video) - A high-level explanation of the lifecyle and it's phases.
- [pack build process](https://github.com/buildpacks/pack/blob/master/internal/build/build.go) (code) -  How these phases are executed by pack.
- [buildpack ecosystem](https://www.youtube.com/watch?v=j9Ak5YLrihU

[2020-03-05 17:31] jromero commented on #515
We can break each CI platform into its own issue given the scope of this issue and the potential for parallel work.

@2pai do you have one in mind that you'd like to look into?

[2020-03-05 18:48] simonjjones commented on #447
Current timestamps for a freshly built alpine sample builder:

[code]
[code]

[2020-03-05 19:53] jromero commented on #504
@nebhale After some discussion in the working group meeting we determined that the UX for this needs to be fleshed out a little bit more.

We do (or rather will) have a mechanism for testing bindings locally without this exact feature using #400 and #525. The user can create a directory to reflect that of the spec and mount it via `pack build ... --volume /my/dir:/bindings` this would yield a moun

[2020-03-06 17:15] 2pai commented on #515
Thank you @zmackie

I think I would take Jenkins @jromero

[2020-03-06 19:03] simonjjones commented on #447
In trying to replicate the behavioral issue of:

I have been unable to validate that timestamps are currently preventing this from happening in the `create-builder` case. @ekcasey perhaps you could shed some light on a reproducable failure scenario?

Here are the steps I took attempting to reproduce this using the [samples repo](https://github.com/buildpacks/samples):

[code]

[2020-03-09 15:11] natalieparellano opened #528 "pack should run `analyze`, `restore`, and `export` in an ephemeral image"
# Description
Implement [RFC 25](https://github.com/buildpacks/rfcs/blob/master/text/0025-dont-trust-builders.md)

This should be blocked on https://github.com/buildpacks/pack/issues/566.

# Motivation

Users of `pack` must select a builder image during `pack build`. The builder image is currently used to create all lifecycle phase containers.

When `pack build` is run with the `--publish` flag, t

[2020-03-09 15:21] natalieparellano opened #529 "pack when passed volume mounts should output a warning when running untrusted builders"
### Description
Users may be using volume mounts to pass credentials or other sensitive data to the `detect` and `build` phases of the lifecycle. If they are also running an untrusted builder (see #528), this presents a security vulnerability.

### Proposed solution
pack when passed volume mounts should output a warning when running untrusted builders

**AC 1** `pack build my-app -B untrusted-buil

[2020-03-09 15:22] natalieparellano commented on #529
Question: should we pause execution and wait for confirmation? Should we fail out? Should we just output the warning and assume the user will see it and cancel the build if that's not what they were intending?

[2020-03-09 15:22] natalieparellano commented on #529
Blocked on https://github.com/buildpacks/pack/issues/528 for the concept of untrusted builders.

[2020-03-09 15:40] zmackie opened #530 "Using pack build --publish --no-pull properly informs user when no local image is present"
### Description

Followup from #516

### Proposed solution

[code]

### Describe alternatives you've considered

### Additional context

From #516
[code]

[2020-03-09 16:43] jromero opened #531 "Create a Jenkins pipeline plugin"
### Description
As a Jenkins user, I would like to use a Cloud Native Buildpacks builder in my pipeline to generate a Docker image.

### Proposed solution
Create a pipeline plugin that makes it easy for users to use Cloud Native Buildpacks within Jenkins.

As an example, see the [Docker pipeline plugin](https://docs.cloudbees.com/docs/admin-resources/latest/plugins/docker-workflow).

### Describe

[2020-03-09 16:48] jromero commented on #531
@2pai has volunteered to work on this as part of GSoC.

[2020-03-09 16:49] jromero commented on #515
@2pai https://github.com/buildpacks/pack/issues/531 has been created. 😄

[2020-03-09 16:56] ekcasey commented on #530
I think there is a case where these flags make sense together. I might want `--no-pull` to avoid pulling the builder image, even if I am building with `--publish`.

[2020-03-09 17:03] jromero commented on #530
@ekcasey this isn't how things currently work in any of our commands that use these semantics. See https://github.com/buildpacks/pack/issues/392

I agree that in the future this might change but that's not how it's currently implemented and there is nothing to give you insight into what is actually happening.

[2020-03-09 19:11] #525 closed

[2020-03-09 19:23] ekcasey commented on #530
@jromero what you are saying makes sense for `create-builder` and `create-package`-  there is nothing to pull if you are publishing. But `pack build` always needs the builder image locally (in the daemon). Currently `pack build --no-pull` allows you to skip pulling the builder, even with `--publish`.

[2020-03-09 19:31] jromero commented on #530
@ekcasey Just confirmed that.

@zmackie Seems like we might still want to do this for `create-builder` and `package-buildpack` but not `build`.

[2020-03-09 20:55] zmackie commented on #458
https://github.com/moby/moby/tree/master/image/spec has an overview of the various versions of the spec

[2020-03-10 14:29] jromero commented on #530
To elaborate a little further on this issue...

1. The initial problem from #516 was that `--publish` flag was used yielding in connection errors when disconnected given the fact that we still need to use remote images. Giving a warning about using `--no-pull` and `--publish` does not apply or address the issue as described by https://github.com/buildpacks/pack/issues/530#issuecomment-596650613.
2

[2020-03-10 16:30] natalieparellano commented on #447
To investigate: does the behavior demonstrated above replicate on a linux host?

[2020-03-10 16:54] ekcasey commented on #447
I believe @nebhale reportedly ran into this in the wild. Maybe this is out of date? Or Ben can describe the situation where he has observed the issue?

I just tried it quickly and the layer blobs seemed to have reproducible digests. However, the order of the buildpack layers on the builder wasn't reproducible, which is a slightly different (but important) problem affecting full reproducibility.

[2020-03-10 17:45] ameyer-pivotal commented on #523
Blocked currently by PR #532

[2020-03-10 18:37] natalieparellano commented on #447
It's worth noting that the "change" time for `/cnb/buildpacks/io.buildpacks.samples.kotlin-gradle/0.0.1/bin/build` was the same in both builders (thereby it's unsurprising that the layer ids are the same). Does this imply that the second call to `create-builder` re-used the existing buildpack layer? Looking in the pack code to see how this might occur...

[2020-03-10 18:57] ekcasey commented on #447
My guess is that the change time is not encoded in the archive at all and instead gets set when the docker daemon extracts the layer (and that extracted layer overlay is reused between containers).

[2020-03-11 16:18] jromero commented on #458
Should be able to leverage GGCR's image layout package: https://github.com/google/go-containerregistry/tree/master/pkg/v1/layout

[2020-03-11 16:34] jromero commented on #458
#### Option 1
We can make it so that the positional argument MUST end in `.cnb` for it to output as

[code]

#### Option 2
We can change the format of the command and remove positional arguments.

[code]

#### Option 3
A new command. (can't think of a name)

[code]

[2020-03-11 18:04] zmackie commented on #458
I_think_ I prefer option 2 as being more explicit.

[2020-03-11 18:54] kvedurmu commented on #458
I agree with @zmackie. Not a huge fan of positional arguments in general

[2020-03-11 19:33] zmackie commented on #411
@ekcasey This is for the builder labels, related but not the same as what you were talking about I believe.

[2020-03-12 14:03] zmackie commented on #447
WG Concensus was: verify that these commands don't cause layers to get reshipped across the network, which is ultimately the aim. This issue may be already done, but we need to double check.

[2020-03-12 15:44] natalieparellano opened #533 "Flake: auth registry unit test"
### Summary
[This test](https://github.com/buildpacks/pack/blob/007ab0cb7d61d8c999efee282c82953b56bb5b80/internal/build/phase_test.go#L290-L300) fails some of the time, but not all of the time. Let's understand why and fix it.

It fails because it can't find the `packs/build:v3alpha2` image ("manifest unknown").

---

### Reproduction
run `make unit` ??? times to see the failure

[2020-03-12 16:08] zmackie opened #534 "Use run image digest if it exists in local daemon copy"
### Description

In exploring the issue of reproducibility, I unpacked *why* we have different configurations for the following cases:

*Case 1 (create image locally and push)*
[code]

*Case 2 (create image remotely with --publish)

[code]

I then fetched the configs and dug into them, which turned up the following diff, which is what I thought would be the case:
[code]

However, the run image use

[2020-03-15 20:07] safakozdek commented on #515
I am interested in working for GitLab CI integration as a GSoC participant. Where can I start ?

[2020-03-16 14:35] zmackie opened #537 "Verbose mode activates ggcr debug logging"
### Description

When using the `-v` flag in pack, can I get ggcr debug information?

### Proposed solution

This issue will probably need both work in pack and the lifecycle. But basically verbose mode should pass along the debug log level to the lifecycle, etc.

### Describe alternatives you've considered

### Additional context

[2020-03-16 14:55] chialin-liu commented on #515
Dear @jromero, I had the experience about using docker associated with Travis CI to deploy multiple container applications to AWS. May I take this as a GSoC project? Thank you so much

[2020-03-16 15:07] jromero commented on #537
We could isolate this story to encompass only packs changes and probably want another issue in lifecycle if we want the same change there.

[2020-03-16 15:28] natalieparellano opened #538 "builder.toml that contains `groups` should error, not warn"
### Description
If builder.toml contains `groups`, we are currently warning the user: https://github.com/buildpacks/pack/pull/263. Now that we are validating that builder.toml contains only the expected tables and keys, we should error instead of warning.

### Proposed solution
Don't treat `groups` as a special case for invalid builder config.

**AC**

Given a builder.toml that contains `groups` a

[2020-03-16 21:25] matthewmueller opened #539 "Support exporting a slug"
Hey there, thanks for working on this project, it seems like a much better supported version of Herokuish. Plus buildpacks will definitely make Docker more accessible.

### Description

I'm looking to deploy my application to a VM without docker installed. I'd love to build using docker locally or in CI, but then only ship a .tar.gz to production.

### Proposed solution

I'm wondering if it'd be p

[2020-03-17 02:37] josegonzalez commented on #539
Copying a message @sclevine [on slack](https://buildpacks.slack.com/archives/C94UJCNV6/p1571844897116000) (in case it drops off there):

[2020-03-17 15:08] natalieparellano opened #541 "Lifecycle should rely on a builder interface"
### Description
As in here: https://github.com/buildpacks/pack/blob/007ab0cb7d61d8c999efee282c82953b56bb5b80/internal/build/build.go#L25

It's frustrating that we have to `docker build` an image in our tests in order to be able to call things like `lifecycle.builder.Name()`.

### Proposed solution
Lifecycle should rely on a builder interface. Should make our tests faster and easier to write.

###

[2020-03-17 15:55] jromero commented on #541
Not sure I follow the connection between a `docker` binary execution and the underlying implementation. Could you elaborate? What does `docker build` have to do with whether the `lifecycle` uses a concrete object or interface?

[2020-03-17 16:04] jromero commented on #458
Another option for the UI/UX:

#### Option 4

Format flag with default format `image`.

[code]

_NOTE: This is more inline with `crane pull --format ... <image>` and slightly inline with future work with output [`pack inspect-builder ... --output json`](https://github.com/buildpacks/pack/issues/490)_

Thoughts?

CC: @kvedurmu @zmackie @natalieparellano @simonjjones

[2020-03-17 20:46] natalieparellano commented on #458
I like option 4. Being inline with other art is very compelling.

[2020-03-18 13:58] zmackie commented on #530
I think this is two issues, given what we've uncovered.
Issue 1 AC:
[code]

Issue 2 AC
[code]

@jromero I *think* that erroring makes the most sense because we can't necessarily know whether the user intended (did they want to publish but only using remote copies of everything? did they get confused and intend to keep everything local knowing they were offline? etc)

[2020-03-18 13:59] zmackie commented on #530
I'll break 2) out into another issue.

[2020-03-18 14:00] bithavoc opened #542 "pack build fails: open /buildpacks/order.toml: no such file or directory"
### Summary

I'm following the [tutorial in the website](https://buildpacks.io/docs/app-journey/) and when I execute the following three steps:

[code]

I get an error:

[code]

---

### Reproduction

##### Steps

[code]

##### Current behavior

I get an error:

[code]

I get an error with all the builders:

[code]

Error:

[code]

##### Expected behavior

I expect the image to build correctly.

-

[2020-03-18 14:02] bithavoc commented on #542
Maybe related to https://github.com/buildpacks/pack/issues/284 /cc @jromero

[2020-03-18 14:10] jromero commented on #542
Hi @bithavoc,

It looks like you are running a relatively old version of pack. Can you try upgrading to the latest version and trying again?

https://github.com/buildpacks/pack/releases

[2020-03-18 14:14] bithavoc commented on #542
@jromero I apologise, you're right, I was missing `brew upgrade pack`.

Thank you!

[2020-03-18 14:14] #542 closed

[2020-03-18 14:16] jromero commented on #530
Erroring instead of warning makes sense.

Could we add the specific verbage you'd like to see to the AC?

[2020-03-18 14:20] jromero commented on #542
No problem! Glad that worked out.

[2020-03-18 15:35] zmackie opened #543 "Error when running `create-builder` and `package-buildpack` with both --no-pull and --publish"
### Description

It should be an error case when `pack create-builder` and `pack package-buildpack` are run with `--no-pull --publish`.

### Proposed solution

[code]

### Describe alternatives you've considered

### Additional context

https://github.com/buildpacks/pack/issues/530 for the case of `pack build` (and discussion)
https://github.com/buildpacks/pack/issues/392 for semantics of `--no-pu

[2020-03-18 16:54] natalieparellano opened #544 "Acceptance tests fail on Windows due to volume mounts"
### Summary
See here: https://ci.buildpacks.io/teams/main/pipelines/pack/jobs/acceptance-lifecycle-current-windows/builds/96

This line of code is failing: https://github.com/buildpacks/pack/blob/007ab0cb7d61d8c999efee282c82953b56bb5b80/acceptance/acceptance_test.go#L501

With error message: `Error response from daemon: Drive has not been shared`

The volume we are trying to mount: `C:\Users\Admin

[2020-03-18 19:16] natalieparellano commented on #544
Current status:

* RPD'd onto the worker, tried to enable sharing for `C:\` per the Stack Overflow thread above
* Ran into what I think is this bug: https://github.com/docker/for-win/issues/5567 (submitting the dialog box had no effect)
* Need to update to the latest stable Docker (currently 2.2.0.4) to get the fix, but that version of Docker is not compatible with the version of Windows that we'r

[2020-03-18 20:34] natalieparellano commented on #544
Managed to re-install Docker Desktop, left breadcrumbs here: https://github.com/buildpacks/ci/wiki/Windows-worker-configuration

[2020-03-19 11:34] dgageot commented on #534
I have the feeling that this should append in the lifecycle, not in pack, right?

[2020-03-19 12:15] matthewmueller commented on #539
Thanks for the quick response! I'm also happy to see you are part of this effort too @josegonzalez ☺️

Does this only apply to images or would this solve my use case of no docker in production?

[2020-03-19 14:27] zmackie commented on #534
@dgageot That's probably right. @ekcasey what you think?

[2020-03-19 16:00] josegonzalez commented on #539
@matthewmueller might be good to jump into the buildpacks slack to discuss the use-case with other maintainers live :)

[2020-03-19 18:41] natalieparellano commented on #543
@zmackie I fixed a typo

[2020-03-19 19:27] natalieparellano commented on #544
Update: the Packet worker is now unusably slow. I tried spinning up a brand new medium sized VM and it is also unusably slow. Opened a ticket with Packet.

Looked into whether a GCP-provisioned Windows Server 2019 VM can do the job for us. I don't think it will work - trying to start Docker Desktop fails with "Failed to start the virtual machine 'DockerDesktopVM' because one of the Hyper-V compone

[2020-03-20 13:52] ekcasey commented on #534
@dgageot is right that the lifecycle adds this label. I think the change actually needs to be made in `imgutil` however. A `LocalImage` should return a `DigestIdentifier` if it finds one with a repository matching the original name. I'll move this to lifecycle b/c of the broader context and create a lower level issue on `imgutil`

[2020-03-20 15:42] natalieparellano commented on #544
The existing worker became happy and the tests passed but there now seems to be a flake: https://ci.buildpacks.io/teams/main/pipelines/pack/jobs/acceptance-lifecycle-current-windows/builds/121

Current status: wondering what other options are available, pondering in Slack.

[2020-03-23 16:08] #488 closed

[2020-03-23 16:51] sclevine commented on #458
Looks great, only suggestion would be `--format file` instead of `--format cnb`. The on-registry format is still CNB, just not on-disk. We could even select `--format file` automatically when the arg ends in `.cnb` (but no strong opinion about that part).

[2020-03-24 21:40] ekcasey opened #548 "Use exporter -run-image flag instead of -image (platform API 0.3+)"
### Description
When platform API >=0.3 use the `-run-image` flag on the `exporter` instead of the deprecated `-image` flag.

### Additional context

For clarity, `-image` has been deprecated in favor of `-run-image` on the `exporter` as of Platform API 0.3
- https://github.com/buildpacks/lifecycle/releases/tag/v0.7.0

[2020-03-25 16:04] #458 closed

[2020-03-27 14:22] jromero commented on #524
@natalieparellano based on our discussion:

Issues with current GH actions workflow for compatibility testing:

* Since we are testing against master branch of lifecycle, changes can cause unrelated failures to Pull Requests
    * Contributors should not have to debug something that has nothing to do with their PR
* Downloading artifacts requires some form of authentication. This adds UX complexit

[2020-03-30 14:10] yaelharel commented on #523
Hi, I'm going to start looking at this issue.

[2020-03-30 21:40] kvedurmu opened #551 "Can pack `suggest-builders` point to Paketo builders instead of Cloudfoundry?"
### Description
`pack suggest-builders` currently points to the Cloud Foundry bionic, cflinuxfs3, and tiny builders. Could we get this command updated to point to the Paketo builders? Going forward, Paketo builders will be officially supported and we're planning on deprecating the Cloud Foundry Builders fairly soon.

### Proposed solution
`pack suggest-builders` suggests the bionic, cflinuxfs3, an

[2020-03-30 21:53] jromero commented on #551
Thanks for the notice @kvedurmu. Should we include `suggest-stacks` here? Do we know their stack ID?

[2020-03-30 22:10] kvedurmu commented on #551
Oh I didn't even realize there's a `suggest-stacks` command 😄 . Yeah, we will need to make this update for stacks at some point, but I think that we should wait on this for now. Reason being, we're planning on adding mixins in pretty soon so that we can replace cflinuxfs3 with the bionic stack + mixins. In the interim, stack wise, we'll be publishing build/run stack images to the following paths:

[2020-03-31 13:55] jromero opened #552 "Update `suggest-stacks` command to point to Paketo images instead of Cloudfoundry"
_Originally posted by @kvedurmu in https://github.com/buildpacks/pack/issues/551#issuecomment-606277848_

[2020-03-31 13:55] jromero commented on #551
@kvedurmu created https://github.com/buildpacks/pack/issues/552 so we can do that work separately and continue discussing it.

[2020-03-31 14:01] jromero commented on #552
@kvedurmu A few questions to make this actionable:

This is the output right now:

[code]

1. Is it worth only suggesting `base-cnb` and `tiny-cnb` given `full-cnb-cf` could be a work in progress? We can always add it later.
2. Do you know what the stack ID for `tiny-cnb` will be?

If you or someone from the Paketo team could provide the information in the format it will be displayed (or even bett

[2020-03-31 14:06] kvedurmu opened #553 "Could suggest-builders indicate that there are Paketo Builders for n-2 Platform API Versions?"
### Description
The bionic, tiny, and cflinuxfs3 Paketo/Cloud Foundry builders are now maintained for the latest, n-1, and n-2 platform API versions. It would be great if there could be some UX for pack users to see that this is supported.

Here are the paths for the bionic builder:
[code]

We also support passing an explicit platform API version, but note that only the 3 latest versions will be m

[2020-03-31 18:46] #522 closed

[2020-03-31 19:16] jromero commented on #553
Jotting down some initial thoughts:

Because `latest` and `n-X` is a moving target, `pack` would probably use more explicit versions when suggesting builders.

In addition, it should only suggest versions that are supports or at least mark them as incompatible.

It would be nice to serve that data used to suggest builders and stacks. `pack` can then fetch and dynamically filter the suggested build

[2020-03-31 19:22] kvedurmu commented on #552
@jromero IMO this request is fairly low priority and we should wait on implementing this feature until our mixins work is complete. This seems like a fairly simple change, so we'd be happy to PR these changes in at that point.

@martys34 @sclevine could one of you answer the second question?

Also one note from the original post, we've decided to publish all Paketo artifacts to this GCR path: `gcr

[2020-04-01 13:17] jromero commented on #552
@kvedurmu that seems fair my only concern is with 0.10.0, we would be suggesting cloud foundry stacks. As long as your team is ok with that and those stacks stay functional then I would agree with pushing back til a future release.

[2020-04-01 14:26] yaelharel opened #554 "Upgrade to go1.14"
### Summary

Pack is currently using go1.13 as specified [here](https://github.com/buildpacks/pack/blob/30cb3dca7c746d1b21c00dc550f5b8219d3a7b9f/go.mod#L42).
We would like to upgrade go to its latest version and to fix any potential errors.

##### Current behavior

Contributors need to install go1.13 in order to compile pack.

##### Expected behavior

Contributors will be able to compile pack with

[2020-04-02 13:12] jromero opened #557 "Update default lifecycle to 0.7.2"
### Description
As an operator, when I create a builder and don't specify the lifecycle version or URL it should create a builder with lifecycle version 0.7.2.

### Additional context
Changes for compatibility have already been done. (https://github.com/buildpacks/pack/issues/507). This should be as simple as updating a constant or two and making sure acceptance tests are happy.

[2020-04-02 17:35] jromero commented on #511
Resolved by #549

[2020-04-02 17:35] #511 closed

[2020-04-02 18:29] elbandito opened #558 "add exclude and include support for package-buildpack"
Description
According to the [Project Descriptor RFC](https://github.com/buildpacks/rfcs/blob/master/text/0019-project-descriptor.md#buildinclude-and-buildexclude) `Exclude` and `Include` should be supported for `pack package-buildpack`.

Proposed solution
See Exclude/Include in [RFC](https://github.com/buildpacks/rfcs/blob/master/text/0019-project-descriptor.md#buildinclude-and-buildexclude). Thi

[2020-04-03 14:23] natalieparellano commented on #493
Per the conversation in [Slack](https://buildpacks.slack.com/archives/CJ6B92ZSB/p1583768048045000) around @zmackie's PR I believe this still requires discussion as to how to proceed.

[2020-04-03 16:05] supra08 commented on #489
@natalieparellano can I take it up if nobody is working on it?

[2020-04-03 18:57] jabrown85 opened #562 "Pack should show buildpack detection errors"
### Summary
When `pack build` is executed no errors are reported in cases where the buildpack's detect phase produced an error. This can occur for many reasons but the most common case is running out of disk space. In this case ALL buildpacks fail with an unexpected error but the error is not displayed via `pack` without  the `--verbose` flag.

---

### Reproduction

##### Steps

1. Fill up your d

[2020-04-03 20:37] #557 closed

[2020-04-06 15:28] jorgemoralespou opened #564 "Support an OCI Image Builder other than Docker"
### Description
There's many users that are starting to not have Docker installed on their systems because there are other alternatives that let's them create containers in a secure way as they typically run these containers on remote systems (e.g. kubernetes clusters).
Some of such alternatives are:
- [imagebuilder](https://github.com/openshift/imagebuilder)
- [jib](https://github.com/GoogleConta

[2020-04-06 15:29] natalieparellano commented on #489
@elbandito were you still looking into this one? Otherwise @supra08 go for it!

[2020-04-06 16:27] abitrolly commented on #564
It is possible add support for `podman` by running it as a service with `podman system service` and adding detection of `podman` socket https://github.com/containers/libpod/issues/4499#issuecomment-609893190 The socket is meant to be Docker-compatible.

However, for other builders, such as LXD, a more generalized interface could be used. Canonical maintains https://snapcraft.io/multipass as genera

[2020-04-06 16:31] abitrolly commented on #413
@zmackie `podman` provides Docker API over `/run/user/$UID/podman/podman.sock` socket. But I can not find where in the `pack` source this path can be detected, or set explicitly through a config.
[code]

[2020-04-06 16:48] sclevine commented on #564
The pack CLI is intended to be a tool for running Cloud Native Buildpack builds on a local workstation that doesn't natively support containers (often Windows or macOS). While it seems reasonable to support other local container runtimes besides Docker, CI platforms that support running container images are probably better off running the lifecycle directly, without needed a nested container runti

[2020-04-06 16:57] sclevine commented on #564
Another way of describing this is: the lifecycle is comparable to kaniko or other unprivileged image building tools. The pack CLI is glue code that makes it easy to use lifecycle with the Docker daemon. We could expand the functionality of the pack CLI so that it acts as glue code for other container runtimes, but that glue code is only necessary when containers are not natively accessible already

[2020-04-06 18:25] abitrolly commented on #564
@sclevine building random projects on a local workstation without containerization has a risk of killing the system or build environment. If `pack` does this, it is insecure by design.

[2020-04-06 18:35] sclevine commented on #564
This is not what I'm suggesting (or permitted by the CNB specification).

I'm suggesting that supporting another container runtime would only benefit desktop Linux users and users of non-container CI systems. That doesn't match the requested use case:

[2020-04-06 18:52] #472 closed

[2020-04-06 21:19] #510 closed

[2020-04-07 04:10] abitrolly commented on #564
@sclevine sorry, but your assumption that supporting another container runtime would benefit users of non-container CI systems contains logical error to me. I also don't see the connection to Linux desktop, which is about having Gnome or another WM.

If you want to say, that as a DevOps I should not have ability to use buildpacks on my Linux, and only do this in a self-hosted or vendor cloud, then

[2020-04-07 04:55] sclevine commented on #564
There are currently two ways to use the tooling provided by the Cloud Native Buildpacks project:

1. With the pack CLI. This uses Docker (purely as a container runtime, without using `docker build`) to run a builder image (which contains the lifecycle). Docker is available and easy to install on macOS, Windows, and Linux.

2. Without the pack CLI, by executing a builder image directly on platform

[2020-04-07 08:18] abitrolly commented on #564
Yes, I am interested that pack CLI in 1. allowed more secure alternatives than Docker.

With `pack CLI` I can reuse CI/CD container pipelines that are more simple to maintain that verbose k8s configs for every step.

[2020-04-07 11:44] jorgemoralespou commented on #564
@sclevine Well, VMware is working on a replacement for Docker Desktop (Windows/Mac) called Nautilus (https://vmwarefusion.github.io/). In essence, what you're saying is that any user that decides to adopt VMware's technology for containers/VMs on the Desktop will not be able to work with pack or develop a CNB locally? I hope that Nautilus provides a docker.socket and transparent connection to it f

[2020-04-07 14:18] sclevine commented on #564
While I can't speak for the other core team members, I imagine that we would welcome contributions to make the pack CLI compatible with Nautilus (or, as I mentioned, other alternative container runtimes).

To be clear, given that pack's only job is to interface with the container runtime and run the lifecycle, there is no way to implement it generically to support any container runtime. The lifecy

[2020-04-07 14:36] jromero commented on #548
Resolved by #560

[2020-04-07 14:36] #548 closed

[2020-04-07 14:54] zmackie commented on #564
https://github.com/buildpacks/pack/issues/413#issuecomment-609900787

[2020-04-07 14:55] zmackie commented on #564
whoops!

[2020-04-07 15:29] sclevine commented on #564
I think setting `DOCKER_HOST` to the podman socket location should just work, assuming podman provides the same daemon API as Docker.

[2020-04-07 17:43] jorgemoralespou commented on #564
we're in the process of testing this. cc @grahamdumpleton
Will update here with our findings

[2020-04-07 19:11] natalieparellano opened #565 "GitHub actions workflow for combo tests should use functionality in #550"
### Description
We developed a mechanism for downloading the required assets for the combo tests, but it's not tested anywhere (though presumably, we will be using it).

### Proposed solution
Use this mechanism in our GitHub actions workflow for the combo tests.

### Describe alternatives you've considered
Do nothing. Assume we'd catch any issues in the course of our local development.

### Additi

[2020-04-07 19:18] natalieparellano opened #566 "New command: pack trust-builder"
### Description
This is in support of [RFC 25](https://github.com/buildpacks/rfcs/blob/master/text/0025-dont-trust-builders.md) which introduces the concept of trusted builders.

We need a way to tell pack that a builder should be trusted, so that the user does not need to supply `--trust-builder` for every build.

### Proposed solution
**AC 1a**
When I run `pack trust-builder some-build-image`
An

[2020-04-07 19:24] natalieparellano opened #567 "pack should provide an easy way to list trusted builders"
### Description

We should provide an easy way to see which builders are currently trusted. #566 assumes that we can do this with `pack report`, but maybe there is a better way.

### Proposed solution
AC 1
When I run `pack list-trusted-builders`
Then I should see the default builders (from `pack suggest-builders`)

AC 2
When I run `pack trust-builder <some-builder>`
And I run `pack list-trusted-bu

[2020-04-07 19:40] jromero commented on #566
`AC #2`  doesn't look accurate unless we add a section specific for `trusted builders` that goes beyond printing the config. Maybe it's more appropriate for #567.

[2020-04-07 21:03] natalieparellano commented on #566
I guess phrased another way - is it correct that the builders from `pack suggest-builders` should be auto-trusted (regardless of how this information is presented to the user)?

[2020-04-07 21:04] natalieparellano commented on #565
Note the desired definitions for current and previous:

previous pack: latest released pack
current lifecycle: latest released lifecycle
previous lifecycle: latest patch of previous minor

[2020-04-07 21:06] natalieparellano opened #568 "GHA workflow to test pack master against lifecycle master"
### Description
Once #565 is complete, we won't have any automated tests of pack master against lifecycle master.

### Proposed solution
We should test master to master, but not against PRs. This configuration should only run on pushes to pack master.

[2020-04-07 21:08] natalieparellano commented on #544
To update this issue: we decided that our current configuration is good enough for now, but we'll investigate upgrading the worker to Windows Server 2019 in the future. Tests are happy so I think this issue can be closed.

[2020-04-07 21:08] #544 closed

[2020-04-07 21:10] natalieparellano commented on #568
Rationale for why we don't want master to master on PRs is outlined here: https://github.com/buildpacks/pack/issues/524#issuecomment-605027891

[2020-04-07 21:16] GrahamDumpleton commented on #564
It failed is all I can say:

[code]

It is hard for me to take it any further at this point since don't understand enough about either the podman socket support or the process by which pack works.

Since I am doing this from inside of a container may also be complicating things. Really should be tested directly on a full Fedora operating system initially.

[2020-04-07 21:21] jromero commented on #564
@GrahamDumpleton can you try specifying a builder?

[code]

[2020-04-07 21:26] GrahamDumpleton commented on #564
The builder was already set previously using:

[code]

Using different builder on command line makes no difference.

[code]

[2020-04-08 14:02] natalieparellano commented on #568
Consider: whether this should be in pack or lifecycle.

[2020-04-08 16:28] natalieparellano commented on #565
We decided to do this as part of #550.

[2020-04-08 16:28] #565 closed

[2020-04-08 20:53] natalieparellano opened #572 "pack version should be proper semver"
### Description
Today, the version that we use to compile pack is not a proper semver:
[code]

### Proposed solution
It should follow the format `0.9.0+build-XXX.sha-asdasdf`

We could start from the work in this PR: https://github.com/buildpacks/pack/pull/396

When running `make build` in GitHub actions, we should compile pack with a meaningful semver if the branch being tested is a release branc

[2020-04-08 21:12] jromero commented on #572
Could we possible condense the metadata of the build? This information typically only helps in identifying a specific build and not really intended to be human readable.

Some suggestions:
[code]

[2020-04-08 21:53] jromero commented on #390
Superseded by #572

[2020-04-08 21:53] #390 closed

[2020-04-09 14:11] natalieparellano commented on #572
I dislike prefixing the git sha with a letter because we will inevitably forget and wonder why commits cannot be found. Also I noticed https://github.com/buildpacks/pack/issues/390 mentions using 7 characters from the commit, is there a reason why that changed? I like 7 because that is displayed in various tooling (GitHub, `git lg`).

My suggestion:
`0.9.0+b-{{BUILD#}}.g-{{GIT_SHA_7}}`

[2020-04-09 19:07] zmackie commented on #170
An API for this issue is being discussed in https://github.com/buildpacks/rfcs/pull/69

[2020-04-10 02:51] jromero commented on #572
Looking at the proposed implementation, a few alternatives (in order of preference):

[code]

[code]

What brings me to these suggestions is the following:

1. The git sha should always be available. What is a practical case in which it should be allowed to be missing?
2. I agree with "I dislike prefixing the git sha with a letter because we will inevitably forget and wonder why commits cannot be

[2020-04-10 05:48] abitrolly commented on #564
@sclevine specifying `DOCKER_HOST` works for connecting to `podman`.
[code]
However, the `pack` then fails with the same error as @GrahamDumpleton mentioned.
[code]

[2020-04-10 05:50] GrahamDumpleton commented on #564
I haven't got the environment setup to check again myself, but if you run ``podman images`` is the builder image actually there? If yes, can you inspect it to see what labels it does have set.

[2020-04-10 15:11] natalieparellano commented on #572
The only time the sha would be missing is if `git rev-parse` fails for some reason. It looks like the lifecycle accounts for the possibility that it could be missing. For this reason I like having labels to avoid confusion in the case that git sha is missing but build is present.

[2020-04-10 15:41] jromero commented on #572
I'm okay with that. Thanks for making the changes to the PR.

Sounds like we're in agreeance with:

[code]

[2020-04-10 21:52] #572 closed

[2020-04-10 21:54] jromero commented on #533
It appears that this is happening more frequently. :/

[2020-04-12 07:20] abitrolly commented on #564
@GrahamDumpleton the images is there. Here are the labels.
[code]

[2020-04-13 13:59] ameyer-pivotal commented on #368
The runtime/experimental feature flagging could likely use the command hiding ability of Cobra, like we've been.

I like the idea of build-time feature flagging as well, and the specific mechanism proposed. Something to consider here is the concept of "mainlining" the feature flags (essentially removing them and any gates around the relevant code), so that we don't end up with an ever-growing list

[2020-04-13 14:37] jromero commented on #368
For that sake of keeping things simple, I think we should start with what we need and build out any enhancements to it as we see the need arise. I know @zmackie is looking to add a _flag_ he'd like to enable as experimental. For that case, I vote for runtime enablement option 2. I foresee a lot of maintenance work (as you've mentioned @ameyer-pivotal ) in option 1 without any value at this point i

[2020-04-14 16:50] zmackie commented on #368
Totally agree that option 2 is most useful. I'm working on something right now that will likel be released under an experimental flag. My assumption is that releasing it would entail cleaning up flags.

[2020-04-14 19:49] natalieparellano commented on #562
This sounds desirable. I am wondering how it would work in practice. I believe to get verbose output from `detect` we'd need to pass `-log-level debug` - but we'd only want this output if `detect` fails, which we won't know ahead of time. I wonder if maybe this is something that could be handled in the lifecycle i.e., the output is verbose only on failure? Alternatively maybe we could add a log me

[2020-04-14 21:50] ekcasey commented on #562
@natalieparellano Yep this sounds like a lifecycle request to me. We could make buildpack detect error logs info level output. I'll move it over.

[2020-04-15 14:58] yaelharel commented on #566
This issue relates to issues #523 and #528.
If this issue will be implemented after the others, I think that its A/C should include also running the other A/Cs after using the `pack trust-builder` command instead of the `--trust-builder` flag.

[2020-04-15 14:58] yaelharel commented on #528
Part of the A/Cs depend on issue #566.
If we would like to work on this issue before issue #566, I think that we need to change the A/Cs to use only the `--trust-builder` flag (will be probably introduced in #523) and move the A/Cs that relate to the `pack trust-builder` command to be part of #566.

[2020-04-15 14:58] yaelharel commented on #523
This issues depends on issue #566 and on introducing a new flag: `--trust-builder`.
Since I'm working on it while #566 is still open, I think that we need to create the `--trust-builder` flag and move the A/Cs that relate to the `pack trust-builder` command to be part of #566.

[2020-04-15 17:53] natalieparellano commented on #523
Thanks @yaelharel for the clarification. I updated the description here and in #566 to reflect the updated A/C.

[2020-04-15 17:54] natalieparellano commented on #566
This should be blocked on #523.

[2020-04-15 19:09] natalieparellano commented on #202
Might be a good time to pick up this issue. It would have been helpful to have this for this release cycle given that the next lifecycle will be a patch.

[2020-04-15 20:35] jromero opened #579 "Encoded character in pack inspect-builder output"
### Summary
The Created By pack version is encoded.

---

### Reproduction

##### Steps

1. `pack create-builder my-builder --builder-config ../samples/builders/alpine/builder.toml`
2. `pack inspect-builder my-builder`

##### Current behavior

Notice that the version plus symbol (`+`) is encoded as `&#43;`;

[code]

##### Expected behavior

To see the pack version number without encoding.

---

##

[2020-04-15 21:14] natalieparellano opened #580 "pack units contaminate pack config"
### Summary
Running `make unit` sets the default builder to `some/image`. This could be confusing to users of pack who are also working on pack.

---

### Reproduction
[code]

##### Expected behavior
I expect that `~/.pack/config.toml` is untouched.

---

[2020-04-16 15:05] #579 closed

[2020-04-16 18:24] #533 closed

[2020-04-16 19:07] natalieparellano commented on #538
I believe this has already been done as part of #535. But there is some unused code relating to the old behavior that still needs to be removed.

[2020-04-16 19:11] natalieparellano commented on #448
This has been done in GitHub actions, on Linux only. I believe other OSes are out of scope for now. This issue can probably be closed.

[2020-04-16 19:37] jromero commented on #448
Agreed.

[2020-04-16 19:37] #448 closed

[2020-04-17 14:13] #524 closed

[2020-04-17 18:36] jromero opened #586 "Support .cnb files in package-buildpack package.toml"
### Description
Add support for .cnb files in package.toml files for the command `pack package-buildpack`.

### Proposed solution
Most of this work would have already been as part of https://github.com/buildpacks/pack/issues/472. We should just need to evaluate what type of file it is.

#### Example usage

... with minor changes to [samples](https://github.com/buildpacks/samples):

[code]

### Add

[2020-04-17 18:48] jromero opened #587 "Support .cnb files in create-builder"
### Description
Add support for .cnb files in builder.toml files for the command `pack create-builder`.

### Proposed solution
Most of this work would have already been as part of https://github.com/buildpacks/pack/issues/472. We should just need to evaluate what type of file it is.

#### Example usage

... with minor changes to [samples](https://github.com/buildpacks/samples):

[code]

### Additi

[2020-04-17 19:52] ekcasey commented on #566
@natalieparellano whether or not we use `creator`, all builders are currently trusted. We need to create ephemeral images that contain only the trusted lifecycle as described in (https://github.com/buildpacks/rfcs/blob/master/text/0025-dont-trust-builders.md) to introduce the concept of a trusted builder. I think we need to capture that in the ACs.

[2020-04-17 19:58] ekcasey commented on #523
@yaelharel @natalieparellano I think this issue has interactions with trusted builders but could be implemented independently. Right now all builders are trusted. We wouldn't be making matters worse by migrating all builds to `creator`. The interactions only come in once we make a distinction between untrusted/trusted builders. If trust/untrust lands first, `creator` should only apply used w/ trus

[2020-04-19 05:00] abitrolly commented on #564
I could find out which requests are being sent to `podman` and repeat them with `curl`. The bug is most likely in `podman` 1.8.2, which Docker API doesn't return labels like `podman inspect` command does.
[code]
[code]

[2020-04-21 19:32] ekcasey opened #590 "pack inspect-builder prints garbled pack version"
### Summary
Pack version in `pack inspect-builder` doesn't display correctly

---

### Reproduction
[code]

##### Current behavior
Pack version is shown as `0.10.0&#43;git-06d9983.build-259`

##### Expected behavior
Pack version should match `0.10.0+git-06d9983.build-259`, the value in the `io.buildpacks.builder.metadata` label

[code]

---

### Environment

##### pack info
[code]

[2020-04-21 20:03] zmackie commented on #590
This is a duplicate of https://github.com/buildpacks/pack/issues/579 which has been addressed already.

[2020-04-21 20:03] #590 closed

[2020-04-21 20:28] #368 closed

[2020-04-22 11:47] tsalm-pivotal commented on #464
I had the same issue with a legacy application. I solved the issue (FAT formatted archive) for my application by upgrading the spring-boot-maven-plugin from version 1.5.X to 2.X.X. After the upgrade, the archive is in unix format.

So if there is no way to fix this in pack, many older Java applications will run into this problem!

[2020-04-22 14:13] jromero opened #593 "Add code coverage to acceptance tests"
### Description
https://github.com/buildpacks/pack/pull/591 adds code coverage for unit/integration tests. In order, to truly know the full coverage of our tests we need to add coverage to acceptance tests.

### Proposed solution

The proposed solution would apply to `pack=current, create builder pack=current, lifecycle=default` when pack itself is built by the acceptance tests. A possible solutio

[2020-04-22 16:52] nebhale commented on #504
I've been using the filesystem style and it works OK with a couple of caveats.  First, the input has to be an absolute path which can be long.  Second, an environment variable with `CNB_BINDINGS` must also be set when using the same "argument" at runtime.  Not sure if there's a ton we can do about this UX-wise without re-introducing `pack run`.  But my examples look like the following and they're

[2020-04-22 20:14] sukhil-suresh commented on #543
Made a PR for this issue: https://github.com/buildpacks/pack/pull/594

[2020-04-22 21:17] natalieparellano commented on #528
Some spike code on this branch: https://github.com/buildpacks/pack/compare/11e3a67..feature/528-ephemeral-lifecycle-image

This code creates a lifecycle image with the following, and uses this image to run the `analyzer` and `exporter` phases. The acceptance tests are passing.

* A lifecycle layer containing the lifecycle binaries downloaded from GitHub
* A layer containing `stack.toml`
* A layer

[2020-04-24 15:57] #543 closed

[2020-04-28 18:13] natalieparellano commented on #528
This is blocked on https://github.com/buildpacks/lifecycle/issues/285

[2020-04-28 18:19] jromero commented on #566
_blocked by: https://github.com/buildpacks/pack/issues/528_

[2020-04-28 18:20] jromero commented on #567
_blocked by: https://github.com/buildpacks/pack/issues/528_

[2020-04-28 20:54] natalieparellano commented on #538
This is closed in #592!

[2020-04-28 20:54] #538 closed

[2020-04-28 21:40] jromero opened #597 "Use resource-based subcommands"
### Description

As the list of commands grows, the need for grouping related `pack` commands starts to show. There could be an argument made that this pattern is common and expected.

This is what our current list of commands looks like:

[code]

### Proposed solution

[code]

#### Open Questions
- Is `run-image-mirror` good enough? Not sure how to fit `set-run-image-mirror` into this new structu

[2020-04-29 15:17] #580 closed

[2020-04-29 16:39] yaelharel commented on #523
Discussion about performance testing can be found in the following slack thread:
https://buildpacks.slack.com/archives/CD61YAG69/p1588004835159100

[2020-04-30 21:29] natalieparellano opened #599 "Default process type is not set when running against a registry"
### Summary
Currently, the default process type is only set if publish is false: https://github.com/buildpacks/pack/blob/82549aa7c8980ed7a42b0c8947c0a37d6d1edade/internal/build/phases.go#L191 (note the return on line 185)

We should set the default process type for both the registry and the daemon case.

---

### Reproduction

##### Steps

Making some assumptions here...
1. `pack build <some-image

[2020-05-01 10:59] jromero opened #601 "Unvendor Pack"
1. imgutil and lifecycle have moved to "un-vendored".
2. imgutil has started using dependabot ([see PRs](https://github.com/buildpacks/imgutil/issues?q=label%3Adependencies+is%3Aclosed)).

Maybe we want to follow suit.

_Originally posted by @jromero in https://github.com/buildpacks/pack/pull/600#issuecomment-622344418_

[2020-05-01 16:46] ukch opened #603 "Completion for zsh"
### Description
Currently, the only shell-completion that exists is for bash. Attempting to run the bash completion in zsh returns the following error:
[code]

This is using pack 0.10.0, installed from the GitHub release.

### Proposed solution
If possible, make a fully POSIX-compliant completion file, that works on sh, bash, zsh among others. If this is not possible, please make a zsh-specific co

[2020-05-01 18:56] natalieparellano commented on #541
This was closed in #560

[2020-05-01 18:56] #541 closed

[2020-05-04 13:03] dfreilich commented on #603
@ukch Under the hoods, `pack` uses [cobra](https://github.com/spf13/cobra) to generate the bash shell completion (see [here](https://github.com/buildpacks/pack/blob/master/internal/commands/completion.go#L34).). It seems that there is support for Zsh completion in cobra (https://github.com/spf13/cobra/pull/646), but no fully POSIX-compliant completion yet (https://github.com/spf13/cobra/pull/646#i

[2020-05-04 14:45] zmackie commented on #587
@dfreilich

[2020-05-04 22:59] jromero opened #604 "What do Windows-based buildpackages look like?"
### Description
On WCOW, what should `pack package-buildpack` yield?

### Considerations

- .cnb file
    - We use GGCR's oci-layout functionality to create an OCI image which has no OS/Arch attribution.
- image
    - There is no such thing as a "scratch" image for Windows
- Do we need to consider the potential of future registry/hive functionality?

[2020-05-04 23:01] jromero opened #605 "WCOW: Should download Windows variant of lifecycle"
### Description

### Proposed solution

### Describe alternatives you've considered

### Additional context
- [ ] This feature should be documented somewhere

[2020-05-05 00:50] #464 closed

[2020-05-05 13:20] simonjjones opened #606 "Acceptance tests could be clearer, easier to separate and simpler to add to"
### Description
The primary acceptance test file has grown to over 2000 lines and is proving hard to reason about, especially for people who are new to working with it. The tests are supported by a range of methods, state and service objects that are variously declared throughout the codebase and instantiated anywhere from the package level to individual tests.

### Proposed solution
I propose a r

[2020-05-05 13:22] simonjjones commented on #447
Waiting on https://github.com/buildpacks/pack/issues/606

[2020-05-05 14:18] jromero opened #607 "Gate WCOW behind `experimental` flag"
### Description
As of https://github.com/buildpacks/pack/pull/571, there is partial support for WCOW (Windows Containers on Windows). In an effort to ensure user are aware that this feature is experimental, we should gate the support behind the [experimental configuration flag](https://github.com/buildpacks/pack/pull/576).

### Proposed solution

[code]

### Additional context
- [x] This feature s

[2020-05-05 14:21] #469 closed

[2020-05-06 00:29] yaelharel opened #608 "Hide the registry flag [-R] behind experimental"
### Description

The registry is still an early beta. We would like to ensure that users are aware of that. Therefore, we would like that the registry flag `-R` will be visible only if the `experimental` flag is on in the config.

### Proposed solution

[code]

### Additional context
The `experimental` flag was introduced in [this PR](https://github.com/buildpacks/pack/pull/576).
The `registry` fl

[2020-05-06 15:09] ameyer-pivotal opened #609 "Buildpack `from=all` sandwich not working 🥪"
### Summary
Supplying a custom buildpack via the `--buildpack` flag both before and after a `--buildpack from=all` only applies one of the provided buildpacks.

---

### Reproduction

##### Steps
From the `bug` directory, after extracting [the attached zip](https://github.com/buildpacks/pack/files/4587619/bug.zip) (this directory contains two very simple buildpacks that always pass detection):

[c

[2020-05-06 16:27] yaelharel opened #610 "Don't pass default values explicitly to the lifecycle phases"
### Description

Currently, we're passing the following flags with their default values to the lifecycle phases: `-layers`, `-platform` and `-app`. There is no reason to do so and it can be confusing to the reader.
We would like to stop passing these values explicitly.

### Proposed solution

Remove the flags `-layers`, `-platform` and `-app` from the calls to the following lifecycle phases: `dete

[2020-05-07 13:27] #599 closed

[2020-05-07 20:03] dfreilich commented on #587
@jromero Can we assume that a valid file must end in `.cnb`?

[2020-05-07 20:03] dfreilich commented on #587
If so, then we should probably enforce that, by making any file we create (using `pack package-buildpack ... -f file`) end in `.cnb`, even if that wasn't provided by the user

[2020-05-07 21:34] jromero commented on #587
It wouldn't be ideal to depend on extensions and therefore enforce extensions. (What is this Windows? :D). A packaged buildpack in file format is valid if it has the contents in OCI layout format and contains the appropriate labels therein.

[2020-05-07 21:37] jromero commented on #587
This conversation has some additional context. Might be worth opening a separate issue:

https://buildpacks.slack.com/archives/CJ6B92ZSB/p1586961828112700?thread_ts=1586959710.111700&cid=CJ6B92ZSB

[2020-05-08 08:53] dfreilich commented on #587
Interesting. I'll open another issue then!

I certainly hear that. If we looked at extensions, it would make it easier to do this solution as part of the `Packages()` func [here](https://github.com/buildpacks/pack/blob/master/builder/config_reader.go#L20-L28), which is why I asked

[2020-05-08 11:39] dfreilich opened #612 "Append .cnb to package files created without file extensions"
### Description
Append `.cnb` to package files created using `pack package-buildpack <NAME> -f file`, when there is no extension provided.

Otherwise, it is confusing on two respects: (1) users won't know what a `.cnb` file, and (2) users may think it's a `zip` file, when it's encoded differently.

### Additional context
Discussed [here](https://buildpacks.slack.com/archives/CJ6B92ZSB/p15869618281

[2020-05-08 11:40] dfreilich commented on #612
Potentially, we should enforce it as well. Should we overwrite other extensions/provide warnings if given `.tar` or `.zip`, for instance?

[2020-05-08 19:17] ahmetb opened #615 "--publish doesn't show indication that it is pushing"
I ran `pack build --publish` and thought the build is legit stuck here for 1 minute:

[code]

I started to worry, but then it printed

[code]

a message indicating build has started would be nice.

[2020-05-08 19:31] ekcasey commented on #615
Yep, we should improve this. This information would need to be printed by the lifecycle, so I am moving it over.

[2020-05-08 19:47] jromero opened #616 "Warning about default process types when none are passed in"
Note the confusing warning about default process, I think it's because [this line](https://github.com/buildpacks/pack/blob/cb1ef794c4f7e56bbfdb433c051e44a93d4bc115/internal/build/phases.go#L168) doesn't include a check that the default process is specified, but that's unrelated to this PR.

[code]

_Originally posted by @natalieparellano in https://github.com/buildpacks/pack/pull/595#issuecomment-

[2020-05-08 20:26] #523 closed

[2020-05-11 11:17] jorgemoralespou opened #618 "Pack doesn't honour completely DOCKER_HOST env variable"
### Summary
Trying to run pack on an education platform we're building that uses Dind (Docker in Docker) running inside Kubernetes pods.

We have a failure when running `pack` with the java maven quickstart.

[code]

##### Current behavior
As can be seen in the error, it's being reported the docker client trying to connect to `/var/run/docker.sock` while the socket is configured with `DOCKER_HOST=

[2020-05-11 14:46] natalieparellano commented on #253
Possible way forward: change the way `Detection Order` is presented and incorporate a `--depth` flag. We are not exactly sure how this will play out so this probably requires some spiking and experimentation.

[2020-05-11 15:11] natalieparellano commented on #618
@jorgemoralespou thanks for raising this issue. We agree this is something we'd like to fix.

If the referenced connection is a unix socket, the fix seems relatively straightforward - we just need to pass this information through to the lifecycle. If it is a tcp remote connection, we may need to do additional work in case the user supplies a network mode that is not compatible (e.g., `--network no

[2020-05-11 17:25] jorgemoralespou commented on #618
Thanks, that sounds as it'll work for us, as our platform users Linux socket, but agreed that in the long run it would be worth supporting any option as that's what any regular docker user would expect of a docker tooling.

[2020-05-11 23:43] GrahamDumpleton commented on #618
In the end I don't think this is the issue.

On the client side where pack runs it does honour ``DOCKER_HOST``. The actual problem in this case was that it was being run against docker in docker (dind), and in order to share the docker socket from the dind container to the client side container, an emptyDir volume in Kubernetes was used. In order to have the dind side docker.sock in the emptyDir v

[2020-05-12 10:12] jorgemoralespou commented on #618
I'm going to close this issue since from our triage doesn't really match the description and it's a corner case of how we run pack inside kubernetes pods.

[2020-05-12 10:12] #618 closed

[2020-05-12 15:46] yaelharel commented on #608
Following a discussion with @sclevine, we consider making two changes to the error message:
1. Write "buildpacks" instead of "buildpackages".
2. Indicate that the "experimental" flag can be set in the config file.

So the updated error message will be:
"ERROR: Support for using buildpacks in a CNB Registry is currently experimental. If you would like to try it, add `experimental = true` to your co

[2020-05-13 02:52] jromero commented on #608
Minor feedback:

1. Given that the flag is `--buildpack-registry`, the error message should also replace "CNB Registry" with "buildpack registry".
2. We have a `Tip` format to provide "actions" the user can take in a consistent manner.
3.  Bonus, we should provide the path to the config file for ease of use.

With that in mind, what do you think about this output?
[code]

As far as implementation,

[2020-05-13 13:18] abarke commented on #531
Any updates here? Would be great to use this plugin. Is there any other way to currently use `pack` CLI and `jenkins` to run tests within a built docker container?

[2020-05-13 13:54] jromero commented on #531
Unfortunately the GSoC project did not go through.

@2pai is this something you'd still be interested in pursuing even outside of GSoC?

[2020-05-13 14:02] jromero commented on #531
@abarke we don't have any examples but theoretically it should be possible. As long as a container runtime is available you may use one of the following options.

1. If you are able to configure how containers are executed and share volumes between tasks: You should be able to use the lifecycle similar to how [Tekton](https://github.com/tektoncd/catalog/tree/master/buildpacks) uses it.
    * We re

[2020-05-13 14:33] 2pai commented on #531
Sure, but I think I need some assistance. is that okay ?

[2020-05-13 14:52] yaelharel commented on #608
@jromero, thank you for your feedback! Your idea sounds good.
I'll make these changes.

[2020-05-13 20:10] jromero commented on #531
Yes, of course. Feel free to schedule some time using [this link](https://calendly.com/rjavier_vmw/60min) or reach me directly via [Slack](http://slack.buildpacks.io/).

[2020-05-13 20:16] yaelharel commented on #608
@jromero After giving it another thought, what do you think about the following solution:
- Create a new file `experiment_error.go` in the `commands` package. The file will contain an `ExperimentError` struct with a string (the message) and another constant string (the tip string).
- The `Error()` function of the struct will return a concatenation of the message and the tip.
Then we don't need to

[2020-05-13 21:13] jromero commented on #608
First point makes sense but the second might not work in actuality since you'll want to use the logger to take advantage of it's formatting functions for things such as colors. You _could_ pass the logger to the Error type but I'd be wary of adding logic to a data type.

[2020-05-14 17:53] nebhale opened #623 "builder.toml will not allow both image and uri buildpack locations in same definition"
### Summary

Currently, when you attempt to create a builder with a `builder.toml` that contains both a buildpack with an `image` location and another buildpack with a `uri` location, the creation will fail and an incorrect error message will be reported.

---

### Reproduction

##### Steps
1.  `pack create-builder` with the following configuration:

[code]

##### Current behavior
[code]

Note tha

[2020-05-14 17:58] nebhale opened #624 "pack report discloses sensitive information"
### Summary
Currently the output of `pack report` discloses the name of the the default builder.  This information can be sensitive and should not be reported.  There is a very real possibility of unintended disclosure of products and projects that are sensitive and non-public.  Contrast this with the output of `docker info` which does not disclose any sensitive information about how it is configu

[2020-05-14 18:00] simonjjones commented on #623
Our acceptance tests do currently test the case of defining buildpacks with both uri and image in a single builder.toml - using this fixture https://github.com/buildpacks/pack/blob/master/acceptance/testdata/pack_fixtures/builder.toml (the variable is configured at https://github.com/buildpacks/pack/blob/master/acceptance/acceptance_test.go#L1786 ) however none of the package_image buildpacks are

[2020-05-14 19:22] dfreilich commented on #586
This story doesn't include supporting the `[buildpack]` being a `.cnb` file as well, does it? It is only the dependencies?

[2020-05-14 19:35] jromero commented on #586
I'm trying to understand why you would do that... 🤔

A `.cnb` file should contain all it's dependencies already.

[2020-05-14 19:38] dfreilich commented on #586
That's fair, I wasn't thinking - I only noticed that we explicitly handle both images and uris for the dependencies, and thought we should do the same for the buildpack 🤦

[2020-05-14 19:43] nebhale commented on #623
@simonjjones Image buildpacks in ordering works fine (I've got dozens of image buildpacks in half-a-dozen builders).  But the structure of your test indicates that there might be a problem integrating both kinds into the order.

[2020-05-15 06:53] jromero commented on #623
Was able to confirm the issue. It has nothing to do with the `order` field.

It's a result of mutating an array by index but using a filter function that ultimately shifts indexes.
https://github.com/buildpacks/pack/blob/v0.10.0/builder/config_reader.go#L135-L141

Will get the fix out in the upcoming release unless there is a higher urgency you'd like to provide.

[2020-05-15 08:18] #587 closed

[2020-05-15 13:31] zmackie commented on #553
@kvedurmu Is this still something you're interested in?

I'm concerned that the UX of this is a bit confusing; `suggest-builders` is sort of oriented to newer users (people who don't really have a sense of the builders they want) and this feature would expose details about platform api that are confusing ("what is this platform api and why do I care about it I just want to build my app?").

I pers

[2020-05-15 13:46] kvedurmu commented on #553
@zmackie I'm fine dropping this. Totally agree that the UX for this is going to be pretty tricky. Is there a concept of `Homepage` for builders yet? If we had that, we could just link out to our builders repo (which explains this pretty well).

[2020-05-15 13:59] zmackie commented on #603
Breadcrumb: https://github.com/VilledeMontreal/cobra/blob/feat/zshCompletionV2/shell_completions.md

cobra is getting completion for bash, zsh, powershell, and fish

[2020-05-15 15:01] natalieparellano opened #629 "When platform API 0.2 is no longer supported, analyze and export don't need to branch on publish"
### Description
When platform API 0.2 is no longer supported, we can always assume that the lifecycle will have the creator.

Therefore when publish is false we will always use the creator.

The code in analyze and export that deals with publish true / false can be simplified to assume that publish is always true.

### Proposed solution
Delete a bunch of code. Delete the TODOs in the code that per

[2020-05-15 15:12] zmackie commented on #609
This is a result of the detection logic: https://github.com/buildpacks/lifecycle/blame/3b41bc40cc1eca7aeca47b4612b01f2d348a12d5/detector.go#L256-L258

Given two buildpacks of the same ID and different versions, at the moment only one will be considered for detection.

The buildpacks in your zip file have the same ID.

[2020-05-15 15:13] #609 closed

[2020-05-15 19:34] chrono2002 opened #632 "Pack is painfully slow"
Guys, I'm sorry, why pack is so painfully slow?
It takes ~20 sec to build or rebuild a simple hello world app every time.
I've got a blazingly fast machine with a huge amounts of ram.
Docker in experimental mode (with buildkit) is much faster.
Pack takes ~10 seconds on pre-detecting phase and another ~10 to build an image.
That's ~20 seconds overhead!

[code]

[2020-05-15 19:56] chrono2002 commented on #632
I've decided to try latest master and it's much more faster but still not enough.
What are program doing for about ~10sec before the CREATING step?

root@host:~/buildpacks# time ./build.sh
2020/05/15 22:52:00.243838 ===> CREATING
[creator] ---> DETECTING
[creator] io.buildpacks.sample.node 0.0.1
[creator] ---> ANALYZING
[creator] Restoring metadata for "io.buildpacks.sample.node:v13.14.0" from cac

[2020-05-15 20:08] jromero commented on #632
This is very valuable feedback. Thank you for the input and furthermore trying it out on master. We've got performance at the forefront of our minds so getting these insights and expectations voiced is greatly appreciated.

You can see a bit more detail by using the `--verbose`.

[2020-05-15 20:11] jromero commented on #632
I'm will to throw a wild guess that this might be pulling the image (or at least checking if the images are up to date). I'd be interested to see what the command arguments are that you are using you can preferch the images and then run build with `--no-pull`.

[2020-05-18 13:34] ameyer-pivotal commented on #609
@zmackie 🤦I should have tried that. Thanks!

[2020-05-18 14:08] #616 closed

[2020-05-18 17:05] #608 closed

[2020-05-18 17:49] ShadowJonathan commented on #564
+1 to this, I was already thinking about how `pack` could be integrated in my soon-to-be kubernetes-ran CI system, and other kubernetes-based CD systems.

[2020-05-18 20:14] natalieparellano commented on #566
Updated the AC to reflect the fact that `list-trusted-builders` functionality will be completed separately.

[2020-05-19 13:37] #551 closed

[2020-05-19 13:40] jromero opened #635 "Add google builder to suggested builders"
### Description

We should suggest the Google builder: https://github.com/GoogleCloudPlatform/buildpacks

    gcr.io/buildpacks/builder

### Proposed solution

As a `pack` user
When I run `pack suggest-builders`
Then I should see:
[code]

### Describe alternatives you've considered

### Additional context
- [x] This feature should be documented somewhere

[2020-05-19 19:35] jromero commented on #632
Can we take "funky" as a positive comment? 😄

Is there more insight or conversation needed to be had here?

We are always looking to improve performance wherever possible but would hate to have an open-ended issue around. @chrono2002 were these answers satisfactory?

[2020-05-19 19:52] #623 closed

[2020-05-20 00:04] #635 closed

[2020-05-20 02:14] #586 closed

[2020-05-20 14:56] #632 closed

[2020-05-20 15:18] #528 closed

[2020-05-20 15:42] #566 closed

[2020-05-20 18:56] nebhale opened #641 "Remove [creator] eye catcher"
### Description
With the recent update to use a single container for all phases, there is now a single `[creator]` eye-catcher on every single line.  This makes the output redundant and should be removed.

### Additional context
![Screen Shot 2020-05-20 at 11 56 33](https://user-images.githubusercontent.com/60754/82485901-f7b4a280-9a90-11ea-933d-fca7ef3a1bd1.png)

[2020-05-20 20:19] natalieparellano commented on #641
Breadcrumb: see `logging.NewPrefixWriter` in internal/build/phase.go

[2020-05-20 20:24] natalieparellano commented on #553
I believe homepage is only a thing for buildpacks (vs. builders). Perhaps this information could be added to the description?

[2020-05-21 13:55] kvedurmu commented on #490
@natalieparellano I wonder if this could instead be a global flag and/or environment variable. This is a fairly common pattern in another CLIs and I could see this flag being valuable in other pack commands (esp. for users automating on top of pack commands)

[2020-05-21 13:57] kvedurmu commented on #553
This seems reasonable. We could add it into description for now. Closing this.

[2020-05-21 13:57] #553 closed

[2020-05-21 14:34] kvedurmu opened #642 "Pack inspect-buildpack command"
### Description
It would be great if `pack` supported a `inspect-buildpack` command. Now that more projects such as Paketo are starting to ship buildpackage artifacts both as `.cnb` artifacts and to a registry, it would be helpful for users to be able to see what's inside of the buildpack.

### Proposed solution
Create a `pack inspect-buildpack` command. I'm sure we could display a lot of useful b

[2020-05-22 08:50] #603 closed

[2020-05-25 00:43] chrono2002 opened #652 "Performance issues continued"
Hello!
I've continued to dance around buildpacks and got the following issues/considerations:

1. Why rebuild everything when application tag changes?

For example, I have app:v1. Changed a few lines and publish it as app:v2. Now pack are doing complete rebuilt instead of just swapping (copying) same layers. Staying just one tag you lose the ability to rollback.

2. Why rebuild a same layer in sev

[2020-05-26 07:34] dgageot commented on #554
I'm happy to take a shot at it if nobody's working on it already

[2020-05-26 08:28] dgageot opened #657 "Move project.toml parsing out of internal package"
When using `pack` as a library like we do in [Skaffold](https://github.com/GoogleContainerTools/skaffold), it would be useful to use pack's code to parse `project.toml` files. The code is currently in the `internal` package which make it impossible for downstream projects to use.

[2020-05-26 12:00] jromero commented on #657
This makes sense in the short-term.

Long-term it might be worth moving to buildpacks/lifecycle as some of the functionality from project.toml would be ideal to implement in the lifecycle for platforms such as CI systems that execute the lifecycle directly.

cc: @ekcasey / @natalieparellano

[2020-05-26 15:08] jromero commented on #624
There is certainly a trade-off here. We aren't trying to print the default-builder per se but instead would want a snapshot of the pack configuration file to better understand certain issues. This would help us address issues beyond builder specific such as buildpack registry, experimental setting, trusted builders. Could the buildpack registry be sensitive, the trusted builders, etc.?

We could t

[2020-05-26 16:23] #554 closed

[2020-05-26 18:26] dfreilich commented on #629
We can also remove a branch on adding `-log-level` in the build logic here: https://github.com/buildpacks/pack/blob/957bf93b9afb078b3e1f9103127f855443a86556/internal/build/phases.go#L225

[2020-05-27 13:47] dgageot opened #658 "--no-pull should apply to the lifecycle image"
`pack build --no-pull --builder not-trusted-builder` should not pull the lifecycle image. It is currently always pulled, with or without `--no-pull` flag.

When `--no-pull` is set and the lifecycle image is not available locally, the build should error out.

[2020-05-27 13:54] dgageot commented on #641
This is fixed with #653. It can be closed

[2020-05-27 14:13] #658 closed

[2020-05-27 14:17] jromero commented on #642
NOTE: This feature should support both `image` and `.cnb file` as inputs.

For example:

[code]

[2020-05-27 14:26] nebhale commented on #624
We regularly see people posting in issues or gists information that is clearly sensitive and I don't think our default behavior should be to give people the rope that they will then use to hang themselves.  I think _a lot_ of that information you're suggesting (e.g. a registry URI like `registry.nsa.gov/wiretapping-the-populatation:2020`) would be considered sensitive.

I'm all for having a lot of

[2020-05-27 14:56] #607 closed

[2020-05-27 14:57] #641 closed

[2020-05-27 17:20] zmackie opened #664 "Chore: Document packages with readmes"
go packages should have some form of documentation to detail what the purpose of given package is for.

For example `github.com/buildpacks/pack/internal/dist`:

[2020-05-27 18:46] dfreilich commented on #410
@cppforlife @jabrown85 This does seem pretty related to #387, I'll close it in favor of that. If you think that this is a separate concern, feel free to reopen it.

[2020-05-27 18:46] #410 closed

[2020-05-27 18:50] dfreilich commented on #82
This seems like it's been a long-ranging discussion, but we do have our samples repo now. Feel free to reopen it if it's still a concern, but it doesn't seem like it's highest on our priority queue...

[2020-05-27 18:50] #82 closed

[2020-05-27 18:52] dfreilich commented on #159
There is an open RFC for this issue here: https://github.com/buildpacks/rfcs/pull/69, and this seems pretty related to #170. I'll close it in favor of that issue.

[2020-05-27 18:52] #159 closed

[2020-05-27 18:58] dfreilich commented on #322
@jromero This has been open for quite a while, and hasn't had so much further discussion. Should this be considered ready?

[2020-05-27 19:03] dfreilich commented on #345
👍 to running faster!

I think that the work on using trusted-builders, and thereby reducing the number of containers, helped with this particular point, but we should definitely be optimizing speed, as #632 and #652 point out. Given the trusted-builder point, though, I'll close this for now.

[2020-05-27 19:03] #345 closed

[2020-05-27 19:19] dfreilich commented on #552
Closed in #559

[2020-05-27 19:19] #552 closed

[2020-05-27 22:02] ameyer-pivotal commented on #322
Thought it's been stale, I still think it should be considered. The flags as they are are inconsistent and therefore a bit confusing. :)

[2020-05-28 12:12] dgageot opened #665 "User-defined cache volume names"
`pack build` creates two cache volumes named after the final image name:

[code]

One has a ".launch" suffix and the other has a ".build" suffix.

When rebuilding an image from slightly different sources, with the same base name but a different tag, brand new cache volumes are created. In a tight development loop, this leads to downloading again many things we have in cache. It also consume a lot

[2020-05-28 14:02] jromero opened #666 "Externalize suggested-builders output"
### Description
Currently when a user runs `suggest-builders` it looks at a built-in list of builders and looks up the manifest on the registry for additional metadata. There are two improvements that can be made here.

1. The registry lookup is expensive creating a lag time in output for the user
2. Changing the suggested builders requires a new version of pack to be released.

### Proposed solut

[2020-05-28 16:29] ekcasey commented on #652
@chrono2002 The lifecycle needs to calculate the layer diffID (essentially generate a tar from a given layer directory) to figure out whether it can actually reuse a cached layer*. We write a layer tarball at the same time that we calculate the has so that it is available if we need to use it. We could consider hashing first and then regenerating/writing it only when necessary. The cost of travers

[2020-05-28 16:41] ekcasey commented on #665
@dgageot I think we can default to the safer (cache per image) but allow users to supply a cache volume name. However, the lifecycle currently cleans up unused layers from the cache after every build, so using the same cache for multiple images could result in unpleasant fights about which layers should be in the cache. I think some more fundamental things might have to change about caching to mak

[2020-05-28 16:51] natalieparellano commented on #652
@chrono2002 if you re-run your `pack build` with `--timestamps` that could give more insight around what is taking so long. We'd be happy to help investigate it further.

[2020-05-28 16:51] natalieparellano commented on #652
Oh hmm, nevermind - I see that was part of your original output. Thinking...

[2020-05-28 17:58] jspawar commented on #564
@sclevine Have also been hoping to run `pack` in contexts without Docker daemons, specifically CI because the approach of spinning up an entire cluster with `kpack` and configuring that entire workflow seems relatively heavy-handed compared to just running a Concourse task that just does `pack build`.

I have been poking around with trying to do this with the `cloudfoundry/cnb:bionic` image; howev

[2020-05-28 20:10] natalieparellano commented on #652
Related discussion here re: timestamps: https://github.com/buildpacks/lifecycle/issues/293

[2020-05-28 22:04] jorgemoralespou commented on #564
Not only that, but eventually not requiring Docker could also help improve the lifecycle in terms of build speed, artifacts caching, rebase, ....

[2020-06-01 18:18] ekcasey opened #668 "pack build with the --timestamps flag doesn't add timestamps to container logs"
### Summary

`pack build` with the `--timestamps` flag doesn't add timestamps to container logs.

---

### Reproduction
##### Steps

1. `pack build <my-image> --timestamps`

##### Current behavior
Only one line has a timestamp:
[code]

##### Expected behavior

Every line has a timestamp.

---

### Environment

##### pack info

[code]

[2020-06-01 19:22] #657 closed

[2020-06-02 13:52] #419 closed

[2020-06-02 14:54] jromero commented on #567
Let's break this into 3 issues. Maybe only two as `pack builder list` not a thing yet.

[2020-06-02 17:34] natalieparellano opened #669 "pack when inspecting a builder should show that a builder is trusted"
### Description

We should provide an easy way to see which builders are currently trusted. #566 assumes that we can do this with `pack report`, but maybe there is a better way.

See also #567

### Proposed solution
AC 1
When I run `pack inspect-builder <some-default-builder>`
Then I should see something indicating that the builder is trusted

AC 2
When I run `pack trust-builder <some-builder>`
An