[2021-03-05 20:28] jromero opened #1101 "RFC: `pack stack create`"
### Description

Based on [this RFC](https://github.com/buildpacks/rfcs/pull/123), pack should implement a new command using the upcoming tool `stackify`.

[code]

### Proposed solution

See pack references under "How it Works" in the RFC.

### Describe alternatives you've considered

### Additional context
- Blocked by availability of stackify tool (TBD)

[2021-03-06 22:41] abitrolly commented on #966
No, haven't played with `podman` lately.

[2021-03-07 17:16] jdalbis commented on #1093
I'm following this thread with interest as we're considering using pack in a CI/CD environment using jenkins and a remote docker daemon.  Using the --docker-host parameter, I can get past the ===> ANALYZING problems, but only when using an insecure remote docker daemon.
Unfortunately, when using a docker daemon secured with --tlsverify and --tls*certs, the analyze phase now fails with a `ERROR: fa

[2021-03-07 18:02] micahyoung commented on #1093
@jdalbis If I understand your scenario correctly, it sounds like your use-case may already be supported with current pack, without the `--docker-host` flag. You should be able to do this today:

[code]

With this setup, `pack` creates its build container on the remote Docker daemon over the TLS-encrypted API. It then runs all the buildpacks there, builds your app, and depending on whether you use

[2021-03-07 18:39] micahyoung commented on #1093
@matejvasek This leads me to wonder if there's a mismatch between the name of the `--docker-host` flag and it's implemented behavior. I wonder if it would make sense to change the flag name for now.

Maybe something like `--lifecycle-docker-host` or `--lifecycle-socket` but keep all the implemented behavior. That could make it easier to distinguish from `pack`'s `DOCKER_HOST`, and probably makes i

[2021-03-08 16:24] ekcasey commented on #1095
@dfreilich @dfreilich I think there is still an issue here where `pack` errors when there is no docker daemon even when the command shouldn't require a docker daemon

Example using `pack` built from `main`:
[code]

Other commands like `inspect-builder` at least print the data for the remote image, but still produce an ugly error message.

[2021-03-08 21:52] jromero commented on #537
@dwillist I believe you've played a bit with GGCR logging. Do you have some insight into what options are available and/or if this is something reasonable to implement?

[2021-03-09 15:58] natalieparellano opened #1105 "lifecycle-image should be configurable in acceptance test suite"
### Description
Similar to how we have `LIFECYCLE_PATH=<some-path> make acceptance`

I want to be able to do `LIFECYCLE_PATH=<some-path> LIFECYCLE_IMAGE=<some-image> make acceptance`

This will allow us to run the pack acceptance tests in an automated fashion with a pre-released version of the lifecycle (that hasn't been tagged on Docker Hub yet with the version it implements).

### Proposed solut

[2021-03-09 19:38] #1033 closed

[2021-03-09 22:05] adrianliechti opened #1107 "reported version is 0.0.0"
pack does not return the correct version

$ pack version
0.0.0+git-d9cb4e7.build-2045

this seems to happen on builds downloaded with brew on mac; and github releases on both mac and windows.

it would help us a lot to get the correct version (e.g. 0.17.0, so we can auto update the binaries

thanks a 1000

[2021-03-10 15:24] #1095 closed

[2021-03-10 17:44] jromero opened #1108 "pack builder create should successfully overwrite pre-existing buildpacks"
### Summary

Currently, if buildpack layers with the same `id@version` but different contents are provided while creating a builder the following error is presented:

[code]

##### Additional Context

- Slack discussion: https://buildpacks.slack.com/archives/CD61YAG69/p1615323343013800
- Related to https://github.com/buildpacks/pack/issues/1081

---

### Reproduction

##### Steps

1. Create `build

[2021-03-10 17:45] jromero commented on #945
Waiting for spec PR to be approved.

[2021-03-10 17:51] jromero commented on #1089
Duplicate.

Issue resolved on main branch:

[code]

[2021-03-10 17:51] #1089 closed

[2021-03-10 17:53] jromero commented on #558
@elbandito I see you are still assigned to this issue. Is that still accurate?

[2021-03-10 18:21] jromero commented on #489
This feature was inadvertently contributed as part of  #625.

See output:

[code]

[2021-03-10 18:21] #489 closed

[2021-03-11 16:03] jromero commented on #1082
AND

are resolved by #1103  and #932

We opted to make `--config` and `--path` mutually exclusive in https://github.com/buildpacks/pack/pull/1103#discussion_r591741577

---

We are still missing the following parts of this proposal where buildpacks are retrieved from the registry:

[2021-03-12 03:50] fagiani commented on #223
Hello @jsamoocha!

I had a similar requirement and ended up creating a CNB apt-based buildpack off the `heroku-buildpack-apt` called `fagiani/apt`... You can check more details [here](https://github.com/fagiani/apt-buildpack).

Any feedback would be highly appreciated as it is the first buildpack I created pretty much to get a deeper understanding of how it works.

I hope it becomes helpful to oth

[2021-03-15 07:55] jsamoocha commented on #223
At the time, I worked around the issue using a totally different approach, not requiring any build packs. So I'm afraid I'm not in the position to provide meaningful feedback on your solution.

[2021-03-15 15:20] dwillist commented on #1107
Should be fixed by #1112

[2021-03-15 15:41] adrianliechti commented on #1107
thanks a 1000!
amazing responsiveness

[2021-03-17 15:50] micahyoung commented on #1078
For WCOW, this will likely require selectively moving [`EnsureVolumeAccess`](https://github.com/buildpacks/pack/blob/0c84b4ae7a30a22fec257d539dcd857584bb6246/internal/build/container_ops.go) which currently runs in [`Detect`](https://github.com/buildpacks/pack/blob/48440b923121dba2253f4e66b42f2519c286f81e/internal/build/lifecycle_execution.go#L233) to run somewhere in `Analyze`, depending on the A

[2021-03-17 19:22] dfreilich opened #1114 "RFC 138: Add builder to project descriptor"
Implement https://github.com/buildpacks/rfcs/pull/138

# Summary
Add a `builder` key to the `project.toml` file, under `build`

Since a builder can be selected multiple ways, the following defines the order of precedence when selecting a builder:

1. `--builder` flag (highest precedence)
2. `project.toml` → `uild.builder`
3. configured builder (set via pack config default-builder)

## project.toml

[2021-03-17 22:50] samj1912 opened #1115 "Facing issues with pack publish to local registry"
### Summary

When using pack build with --publish with a local registry I get

[code]

---

### Reproduction

##### Steps

1. docker run -d -p 5000:5000 --restart=always --name registry registry:2
2. git clone https://github.com/buildpacks/samples
3. pack build localhost:5000/buildpack-examples/cache-image-example \
                     --builder cnbs/sample-builder:bionic \
                     -

[2021-03-18 09:26] EricHripko commented on #768
Hi folks! I've made a barebones BuildKit frontend (available [here](https://github.com/EricHripko/cnbp)). It's doesn't offer the full functionality/spec compatibility, but would love to hear your feedback 🙂

[2021-03-18 13:54] jromero commented on #768
This is great! Thanks for the initiative. I haven't played with it or looked at it in depth but hope to do so next week. I can provide more feedback then.

[2021-03-18 14:22] samj1912 commented on #1115
Fixed - pack build needed `--network host` to be passed to it.

[2021-03-18 14:22] #1115 closed

[2021-03-19 00:31] sclevine commented on #768
Awesome work @EricHripko! How are you handling launch layers that aren't rebuilt or cached (so they're not present in the container), but still need to be carried over from the last image?

After chatting with Tonis, it seems like we'd need https://github.com/moby/buildkit/issues/1431 to implement our caching model.

[2021-03-19 09:29] EricHripko commented on #768
Right now the frontend isn't doing anything smart when it comes to reusing launch layers (thus every build is from scratch). That being said, I think `MergeOp` isn't (strictly speaking) needed if the scope of the frontend is to just support local workflows. From what I understand from the [spec on launch layers](https://github.com/buildpacks/spec/blob/main/buildpack.md#launch-layers), caching can

[2021-03-21 01:48] dlorenc commented on #268
I'm working on a project to help out with image signing and would love to make it work well with buildpacks. You can check out the docs here: github.com/sigstore/cosign

I think it would work fine for buildpack images today - it just operates on whatever has been pushed to a registry directly. If there are any other interesting lifecycle points in buildpack that would make sense to plug this into

[2021-03-22 19:46] #1107 closed

[2021-03-22 20:30] abdennour commented on #1090
I found that `DOCKER_HOST=localhost:2375` .
I replaced it by `DOCKER_HOST=tcp://localhost:2375` , and now, it's working

[2021-03-22 20:30] #1090 closed

[2021-03-23 19:22] #612 closed

[2021-03-24 06:29] frenzymadness commented on #966
I'm trying to use pack on Fedora 33 for the first time to build my own stack/builder/buildpacks etc. I'm using the latest released pack from github and the latest released podman from Fedora RPM (updates-testing).

[code]

It seems that the podman's API is available via the socket:
[code]

But the pack does not work - cannot connect:
[code]

Is there something I'm doing wrong? Is this combination

[2021-03-24 11:24] matejvasek commented on #966
@frenzymadness try:
[code]

[2021-03-24 11:40] matejvasek commented on #966
@frenzymadness  Now looking at the error the `--docker-host` flag won't help. Issues is somewhere else.
Please try running:
[code]
What is the output?

[2021-03-24 12:11] matejvasek commented on #966
@frenzymadness
I think you are missing one slash in you docker host:
`export DOCKER_HOST=unix://run/user/1000/podman/podman.sock`
vs.
`export DOCKER_HOST=unix:///run/user/1000/podman/podman.sock` <-- this is correct

[2021-03-24 14:02] frenzymadness commented on #966
Thanks a lot! It works now like a charm. But I might uncover a possible bug. I'm able to build a custom builder:
[code]
But building an application on top of this custom builder fails because it seems to not respect the environment variable trying to contact running container runtime via `/var/run/docker.sock` instead of mentioned `/run/user/1000/podman/podman.sock`:

[code]

Is it possible that t

[2021-03-24 14:06] matejvasek commented on #966
It does IIRC.

That's odd it should help.

[2021-03-24 14:07] matejvasek commented on #966
You need set both envvar and the flag.

[2021-03-24 14:09] matejvasek commented on #966
`./pack build --path apps/standalone-test-app/ --builder fedora-python-builder:f33 standalone-test-app-image --docker-host=unix:///run/user/1000/podman/podman.sock`
Whats the output? @frenzymadness

[2021-03-24 14:16] frenzymadness commented on #966
There is a slight difference but neither work:
[code]

[2021-03-24 14:30] matejvasek commented on #966
@frenzymadness that's SELinux issue I believe. Either you will need proper labels somewhere, or run `podman` over TCP socket not Unix socket.

[2021-03-24 14:31] matejvasek commented on #966
Just try using `setenforce 0`.

[2021-03-24 14:33] matejvasek commented on #966
Using TCP: `podman system service --time=0 tcp:0.0.0.0:1234`

[2021-03-24 14:41] matejvasek commented on #966
SELinux doesn't like mounting files (like sockets) without proper labels.

[2021-03-24 14:48] jromero commented on #1077
An additional use case for this feature with Bitbucket (via [slack](https://buildpacks.slack.com/archives/C94UJCNV6/p1616479368022600)):

![image](https://user-images.githubusercontent.com/475559/112330242-dced2480-8c85-11eb-8bfc-9182f89f29a9.png)

![image](https://user-images.githubusercontent.com/475559/112330337-f0988b00-8c85-11eb-8d34-6e2d6dad54cb.png)

Links:

- https://community.atlassian.co

[2021-03-24 20:53] dwillist opened #1117 "unable to release pack `0.18.0` for `i386` on ubuntu bionic"
### Summary
We are currently unable to release the above version of pack for bionic i386 architectures due to the difficulties building the golang dependency, see https://github.com/longsleep/golang-deb/issues/5

There should be a workaround possible if we build a golang deb dependency ourselves & use it. Though this is a quite complicated. See https://github.com/longsleep/golang-deb for a possibl

[2021-03-25 06:26] frenzymadness commented on #966
Thank you very much for your help. It would be awesome to transfer these useful tips to some documentation for podman users. I can confirm that disabling selinux as well as switching to tcp fix the issue.

[2021-03-25 07:14] dfreilich commented on #966
@frenzymadness 💯 . I opened https://github.com/buildpacks/docs/issues/341 as a result.

[2021-03-25 12:24] abitrolly commented on #966
Looks like there is no point in SELinux if everybody needs to disable it to work with `podman`. :D

[2021-03-25 12:53] matejvasek commented on #966
I suggested turning off the enforcing only to test if the issues is indeed caused by selinux. You shouldn't do that. @abitrolly

[2021-03-25 13:34] matejvasek commented on #966
BTW depending on how you installed `docker` you can have selinux issues too. Fortunately many installation repos/packages also include selinux policy package.

[2021-03-25 15:22] matejvasek commented on #966
https://danwalsh.livejournal.com/78373.html

[2021-03-25 15:25] abitrolly commented on #966
@matejvasek yes I hope for a proper solution to forget about SELinux problems.

[2021-03-25 15:28] matejvasek commented on #966
Most simple is to run `podman` on TCP (not UNIX) socket IMHO.

[2021-03-25 20:13] jromero commented on #1077
@dwillist I've started an RFC. Would love to get your contributions in there.

https://github.com/buildpacks/rfcs/pull/149

[2021-03-29 13:17] matejvasek commented on #966
https://github.com/containers/podman/discussions/9860

[2021-03-29 20:58] jattgurpreet opened #1121 "Need support in buildpacks to change the location where all the source code gets copied."
**On Page:** [Getting Started](https://buildpacks.io/docs/)

As of now by default , it seems there is no way to specify where in docker container soource code should be copied, default is  '/workspace' Can we please get a feature where we can override this as not everybody wants to maintain there code in /workspace.
https://github.com/buildpacks/pack/blob/aa49ae6d845f40bd576cc488a3105845e9e77506/i

[2021-03-30 11:04] abdennour opened #1120 "docker-compose support"
### Description
buildpack solves reducing build files for building **app container images**.. but still there is no way to declaratively define **container runtime**

### Proposed solution

`buildpack-compose -f docker-compose.yaml up -d` should build the images then run the container

### Describe alternatives you've considered
N/A

[2021-03-30 12:01] samj1912 commented on #1120
There's a separate/related ticket at https://github.com/buildpacks/pack/issues/768

If we have a buildkit frontend - buildpacks could just "work" out of the box with docker.

[2021-03-30 12:01] jromero commented on #1120
From a [slack conversation](https://buildpacks.slack.com/archives/CJ6B92ZSB/p1617105466016700):

See https://github.com/buildpacks/pack/issues/768

[2021-03-30 12:20] samj1912 commented on #1120
Alternatively an easy way out that I use right now if put as many arguments as possible in `project.toml` to configure `pack` and run a `pack build <image-name>`  and use the output image in docker-compose instead of building it through docker-compose. You can tie the two together in a make command or some higher level wrapper.

[2021-03-30 18:49] jromero commented on #768
[This bit](https://github.com/EricHripko/cnbp/blob/main/pkg/cnbp2llb/export.go#L22-L25) is a very interesting problem to solve:

It would be nice if the lifecycle export function could be used. Lacking solutions but wanted to call it out as a pain point if we need to maintain multiple "exporting" implementations.

CC: @ekcasey

[2021-03-30 20:27] jromero commented on #768
The idea of needing a `Dockerfile` to execute buildpacks which in most cases would only require one option (the builder) seems like a poor experience. If the user ends up requiring more configuration options (ie. buildpacks, env vars, etc), it feels like we would be reimplementing [`project.toml`](https://github.com/buildpacks/spec/blob/extensions/project-descriptor/v0.1/extensions/project-descrip

[2021-03-30 20:34] samj1912 commented on #768
+1 on @jromero's idea, I think it also begets the question that was asked in the builder rfc - how many of packs flags should we replicate in the project descriptor and how do we distinguish the ones that are pack specific vs others while still making config management easy on pack side 🤔

[2021-03-31 00:02] jromero commented on #768
If we think about the project descriptor as a way to configure the project for a "platform" as oppose to pack (and now buildkit) we should have a better definition on what should be included vs excluded.

[2021-03-31 15:48] jromero commented on #1078
We should be able to simply use the platform API version to determine the execution order.

- Migration and features enabled by this are separate to this issue.

[2021-03-31 15:57] jromero commented on #1117
May want to look into other ecosystem tooling as to how they are solving this limitation or if they are using an alternative method to building go binaries on x86 for Ubuntu.

[2021-03-31 16:13] jromero commented on #1093
We should discuss this in a sub-team sync when @micahyoung is present.

[2021-03-31 17:25] dwillist opened #1125 "Refactor and add tarball support to imgutil."
### Description

It would be quite useful to have `imgutil` support importing & saving `tarball`artifacts. This would considerable simplify the code in `https://github.com/buildpacks/pack/tree/main/internal/buildpackage` as we currently need to break the imgutil abstractions in order to save buildpackages as tarballs.

### Proposed solution

Add tarball functionality to `imgutil`

### Additional c

[2021-04-01 15:11] jromero commented on #768
From https://github.com/buildpacks/lifecycle/issues/423#issuecomment-811974384:

[2021-04-01 15:12] jromero commented on #1125
Should we move this issue to imgutil?

[2021-04-01 15:14] dwillist commented on #1125
Do we want to keep something here so we remember to do the actual refactoring?

[2021-04-01 15:25] EricHripko commented on #768
I was going to comment along the same lines. Being quite new to BuildPacks, I found it surprising (in terms of separation of concerns) that lifecycle instead of the platform is responsible for exporting images. It's strange that the API boundary isn't drawn on the [image spec](https://github.com/opencontainers/image-spec) layer, but instead `exporter` has to support various export methods (docker

[2021-04-01 15:33] EricHripko commented on #768
Definitely agree on this point if there's a better alternative available (e.g., `builder` setting in `project.toml`).

Note that BuildKit does support additional inputs (these usually map to [docker build arguments](https://docs.docker.com/engine/reference/commandline/build/)). For some configuration options (e.g., env. vars), it might make sense to support them this way:
[code]
(`dockerfile` key

[2021-04-01 17:29] jromero commented on #768
How do args work with front-end syntax? For example, are args replaced prior to being provided to the frontend or does the frontend have to process them (and provide `ARG` syntax for it)?

[2021-04-01 17:57] jromero commented on #1125
That sounds reasonable. My ask was more that we track this effort from imgutil's side. +1 on having an issue on both.

[2021-04-02 09:11] EricHripko commented on #768
IIUC, it's fairly straightforward as you get final values of build args as `map[string]string`. I've jotted down a barebones implementation of this in my repo (see https://github.com/EricHripko/cnbp/commit/32bb24b6686d2baa247627698ac397177dad108c). Setting `--build-arg BP_JVM_VERSION=8` let me control the version of Java that detected Buildpacks end up using.

[2021-04-03 16:10] EricHripko commented on #768
Another quick update: I had a go at implementing caching with BuildKit build-time mounts. It somewhat works with a bunch of caveats (see https://github.com/EricHripko/cnbp/commit/96e4d774d8b601cf46f66f3830cfa03279f07ced); key takeaways for me were:
- _Difference in caching models_ - BuildKit caches are machine-wide by default whilst Buildpacks seem to expect the cache to be specific to app (essent

[2021-04-04 19:55] dfreilich opened #1127 "RFC 140: Project Descriptor Domains"
### Description

Implement https://github.com/buildpacks/rfcs/pull/140

### Proposed solution

### Describe alternatives you've considered

### Additional context
- [ ] This feature should be documented somewhere

[2021-04-04 19:57] dfreilich commented on #1117
I wonder whether switching to goreleaser would simplify our whole release process. I'm not sure whether it works for x86 for Ubuntu, though.

[2021-04-04 20:00] dfreilich commented on #966
@matejvasek At this point, it seems like the main issue has been solved, though there definitely can be improvements made. Should we keep this issue open to generally track all podman concerns?

[2021-04-04 20:04] dfreilich commented on #268
Thanks for letting us know about it, @dlorenc ! (also, thanks for your very enjoyable blog posts on container/go subjects!)

We definitely should look into that. Is this the right forum in asking how you think it'll work together/separately from notary?

[2021-04-04 20:08] dlorenc commented on #268
Sure! Here or I'm happy to chat over email/video!

[2021-04-05 13:29] jromero commented on #966
Closing this issue in favor of having new issues created for more specific improvements/bugs.

[2021-04-05 13:29] #966 closed

[2021-04-05 16:58] jasonschroeder-sfdc commented on #1121
One example of "not everybody wants to maintain code in /workspace":
TektonCD always volume-mounts /workspace, so builder images built with buildpacks are not compatible with TektonCD.

https://tekton.dev/docs/pipelines/tasks/#reserved-directories

[2021-04-05 17:39] jromero opened #1128 "Refactor packages into components"
### Description

See RFC PR: https://github.com/buildpacks/rfcs/pull/139

[2021-04-05 20:31] jabrown85 commented on #768
Namespacing a single cache volume would be great for CNB/pack anyway IMO. We've talked about machine-wide cache solutions in the past. Maybe something like `project.toml`'s `id` or `name` could, by default, be the cache namespace. That would allow you to build multiple images and share the same cache as long as it is the same project. We could look at opening up cache via something in `project.tom

[2021-04-06 06:14] #1114 closed

[2021-04-06 17:28] jromero commented on #768
RE: cache scoping

There was [an RFC](https://github.com/buildpacks/rfcs/pull/89#issuecomment-656170705) I opened some time ago in regards to cache scoping. The conversations there may be relevant here. The final outcome was that the concerns for cache poisoning were too great. That said, it may be worth re-discussing based on new limitations/findings.

[2021-04-06 18:28] #994 closed

[2021-04-06 21:18] samj1912 commented on #1099
I can take this up if no one else is working on it :)

[2021-04-06 21:20] samj1912 commented on #946
https://github.com/buildpacks/pack/pull/1051 should fix this?

[2021-04-06 21:23] samj1912 commented on #202
What is the consensus on this issue - should it use the latest version by default or only the latest patch of a supported version or the latest version of the lifecycle that implements the platform api that pack is compatible with?

[2021-04-07 11:32] jromero commented on #202
Good call out. The consensus was that we should just use the latest available version of the lifecycle available. It _should_ be compatible with pack based on the ideals that lifecycle will maintain long-term backwards compatibility support.

That said, we should safeguard this feature a bit by displaying a useful error IF the user remains on an older version of `pack` while `lifecycle` does termi

[2021-04-07 11:39] jromero commented on #1114
We might have missed a prerequisite here. This should be dependant on project descriptor spec which hasn't been created.

See https://github.com/buildpacks/spec/issues/215

Overall, I don't think it's a big deal given the minimal impact of an extra field that is being respected but something to look out for in the future for more impactful changes. For example, reverse domain tables #1127. In thos

[2021-04-07 11:51] samj1912 commented on #1114
There is a pending PR for the spec changes https://github.com/buildpacks/spec/pull/217

Waiting for that to be reviewed/merged.

[2021-04-07 15:41] dwillist commented on #537
# Cursory investigation

There are 3 possible levels of debugging GGCR provides:
`warn`, `progress`, and `debug`.

## Warn & Progress
These produce no extra output on the tests I've run, Progress may produce a bit more output for large images that take a while to pull:
### Output:
[code]

## Debug
Like drinking from a fire-hose
### Output:
[code]

[2021-04-07 15:53] dwillist commented on #537
## As per discussion in the working group. Debug output would be useful, and would ahve helped us debug lifecycle issues with the `0.13.0` release. But there is a bit too much info being generated. In order to effectively present this to users we should:
- Introduce a new level of logging in both the `lifecycle` & `pack`
- Provide some filter for the GGCR debug output

Due to the complexity of the

[2021-04-08 14:27] jromero commented on #768
Hi @EricHripko, there are various people in the community that are **very interested** in the work you've been doing. It would be great if you could join one of our [Office Hours](https://github.com/buildpacks/community#office-hours) or [Working Groups](https://github.com/buildpacks/community#working-group) to talk to the broader audience about this effort. I understand if it isn't ideal but if yo

[2021-04-09 11:58] EricHripko commented on #768
Hi @jromero - thank you for this invitation! I've emailed you to understand this a bit more 🙂

[2021-04-09 12:23] #1081 closed

[2021-04-09 12:23] #1108 closed

[2021-04-09 12:44] dfreilich commented on #537
I think with that, we should close this. If there is further demand, let us know and we can look into implementing it.

[2021-04-09 12:44] #537 closed

[2021-04-09 12:46] dfreilich commented on #1114
I would argue that it isn't truly a pre-requisite. We can support features that aren't specified; the project descriptor spec is meant to allow for modification and further features.

[2021-04-09 18:28] jromero commented on #768
-- posted on [#implementation](http://slack.buildpacks.io/) channel

[2021-04-10 00:18] genevieve opened #1131 "Would you expect --publish && --cache-image to work for a new image to a registry?"
### Summary

I did something probably unusual but got a weird error and thought I'd ask about the behavior here.

I am testing performance times using `--publish` && `--cache-image` on rebuilds for a given application's code (unchanging between rebuilds.)

I ran `pack build APP_NAME:TAG --publish --cache-image APP_NAME:TAG` so that it would publish the image _for the first time_ to a public regist

[2021-04-10 00:25] genevieve commented on #1131
I didn't add those labels above so is that an automated thing? ^ 🤔

[2021-04-10 00:29] genevieve opened #1132 "Attempt to delete previous cache image fails"
### Summary

Everything seems to be working correctly building a simple go app with `--publish` and `--cache-image` for an existing image in a remote registry but there's a log at the end of rebuilds that says it fails to delete the previous cache image. Not sure what the cause is.

### Reproduction

##### Steps

1. Run `pack build app:tag --publish --cache-image app:tag`
2. Run it again

##### Cu

[2021-04-13 14:14] ekcasey commented on #1132
@genevieve not all registries actually allow you to delete images. You could confirm with `curl` or `crane delete app:image` whether your registry supports this.

[2021-04-13 14:19] ekcasey commented on #1131
@genevieve Are you seeing this consistently on every first build? If not, I would guess you are running into [this flake](https://github.com/buildpacks/lifecycle/issues/414) which should be mitigated in lifecycle `0.11.x`.

which labels?

[2021-04-13 14:36] ekcasey commented on #558
@elbandito you are right that the RFC says this should apply to `pack package-buildpack` but this confuses me. The project descriptor describes an app not a buildpack.

If your buildpack uri in `pojrect.toml` was a path to a directory or something like that it would make sense to include/exclude the buildpack files when adding the buildpack dynamically during `pack build`, but I don't know that it

[2021-04-13 16:34] genevieve commented on #1132
Which `crane` are you referring to ?

I tried with a different image to a different registry and on the first run it failed but the second it succeeded. The first run is the first time the image with that tag was published so I guess it automatically tries to delete the previous cached image even if there was none for that image when it initially checks at boot?

[code]

[2021-04-13 16:44] genevieve commented on #1131
The issue labels, I realized after, are automated but look like I set them.
<img width="658" alt="Screen Shot 2021-04-13 at 9 07 49 AM" src="https://user-images.githubusercontent.com/12158641/114584628-b93f4d80-9c37-11eb-9f52-adeee33fe758.png">

[2021-04-13 16:51] genevieve commented on #1131
I haven't seen the issue again so perhaps it was a flake. The lifecycle version used is `0.11.1`.

[2021-04-13 16:52] #1131 closed

[2021-04-13 17:38] natalieparellano commented on #1131
Ah... we added retries on EOF errors for image fetches but not image pushes. This is something we could explore.

[2021-04-13 19:16] #1117 closed

[2021-04-13 19:26] jromero commented on #558
This certainly requires clarity. As of right now a `project.toml` doesn't apply to [`pack buildpack package`](https://buildpacks.io/docs/tools/pack/cli/pack_buildpack_package/). This new config `include` and `exclude` should be discussed in context of `buildpack.toml` or `package.toml`. It may be the case that the RFC is so out of sync with the eventual reality that it no longer applies directly.

[2021-04-14 15:45] jromero commented on #1093
Waiting on platform sub-team RFC from @micahyoung on this.

[2021-04-15 17:54] dwillist commented on #1132
I believe [this](https://github.com/google/go-containerregistry/tree/main/cmd/crane) is the crane tool referred to above.

[2021-04-15 17:57] dwillist commented on #1132
Unfortunately AFAIK there is no good way to determine if a registry supports the `DELETE` operation unless you attempt it. Though we could make it a less jarring user experience.

[2021-04-15 19:31] natalieparellano commented on #202
Would we then lose the ability to let the lifecycle "bake" a bit before pulling it into pack?

[2021-04-16 12:49] aemengo commented on #771
@mwcd I'm interested in this issue. I'm taking a look if you don't mind 👍🏾

I'm definitely curious though, what's the doing the resolution of `mdavis-l  -> 10.49.42.30`? (ex. `/etc/hosts`)?

Thanks for such a detailed write-up.

[2021-04-16 13:05] cborealis opened #1134 "Prefixed Mixin resolution too strict"
### Summary
When a stack provides a mixin for both build and run images, like 'tar', and a buildpack declares that it needs tar, but only for build, like 'build:tar', the build fails.

Essentially, requiring 'build:tar' forbids tar being available in the run image, which does not make sense.

### Reproduction
create a buildpack with the following configuration:

[code]

##### Current behavior
the

[2021-04-16 13:53] natalieparellano commented on #1134
I want to say that this is a duplicate of https://github.com/buildpacks/pack/issues/868.

This is targeted for the next platform API (0.7).

[2021-04-19 17:55] jromero commented on #1134
Yes, that sounds like exactly the same issue. @cborealis please re-open or comment if that's not true. Closing this issue as a duplicate.

[2021-04-19 17:55] #1134 closed

[2021-04-19 19:20] jromero commented on #771
The issue https://github.com/buildpacks/lifecycle/issues/524 is regarding the non-daemon case (aka `--publish`). It doesn't appear to be applicable to this issue based on the initial description.

@aemengo, in your reproduction it looks like you are using the `remote` package. Can you try it with [`daemon`](https://github.com/google/go-containerregistry/tree/main/pkg/v1/daemon)?

[2021-04-19 20:13] pandarrr commented on #531
In case someone is having trouble, this is my setup to run pack in Jenkins.

[code]

Our Jenkins runs in a container and each pipeline has a separate container(s). The docker sock is mounted automatically in our configuration. BUILD_TAG and WORKSPACE are provided by Jenkins.

Naming the root agent, passing the volumes along with `--volumes-from`, and setting `--path` were all necessary to give pac

[2021-04-20 14:00] dwillist opened #1136 "Improve CLI documentation for the `pack build --tag` flag"
### Description
We do not specify anywhere that this needs to be a full image name (`repo/image:tag`) vs just the final `:tag` portion.

### Proposed solution
Add some guiding documentation to this flag

### Additional context
https://buildpacks.slack.com/archives/CD61YAG69/p1618506243015800

[2021-04-20 15:37] jromero opened #1137 "Provide project source metadata from local git information"
### Description
As a buildpacks user, I'd like to have the source and version information of my project embedded as metadata in the final app image.

### Proposed solution

Based on the spec, we should be able to provide `<layers>/project-metadata.toml` in [this format](https://github.com/buildpacks/spec/blob/platform/0.6/platform.md#project-metadatatoml-toml) which would be translated into the [`

[2021-04-20 15:53] jromero opened #1138 "Provide project source metadata from project.toml"
### Description
As a buildpacks user, I'd like to have the source and version information from my `project.toml` file embedded as metadata in the final app image.

### Proposed solution

Based on the spec, we should be able to provide `<layers>/project-metadata.toml` in [this format](https://github.com/buildpacks/spec/blob/platform/0.6/platform.md#project-metadatatoml-toml) which would be translat

[2021-04-20 18:29] jromero opened #1139 "Epic: Embed source metadata in OCI image"
## Description

As a pack user, I would like to be able to inspect the final app image and determine where the source of the code is located as well as what _version_ (keeping in consideration SCM systems) was used.

## Issues

_full list of issues: [epic/source-metadata](https://github.com/buildpacks/pack/labels/epic%2Fsource-metadata)_

The following is a current snapshot of issues:

- [Provide

[2021-04-20 20:03] samj1912 commented on #1139
I would like to help out with this if possible. Especially item 2.

[2021-04-21 16:24] dwillist commented on #558
@elbandito any further context on this? Seems like we might want to amend the RFC to clarify this point.

[2021-04-22 12:15] mleegwt opened #1156 "permission denied when using container option"
**On Page:** [Pack](https://buildpacks.io/docs/tools/pack/)

From the instructions I chose the 'container' option.

After running `docker run -v /var/run/docker.sock:/var/run/docker.sock -v $PWD:/workspace -w /workspace buildpacksio/pack build myimage --builder packetobuildpacks/builder:tiny` I receive the message:

[code]

I run as a local user. The user is in the 'docker' group. `ls -lha` for th

[2021-04-23 22:13] samj1912 opened #1143 "Allow pack to build applications that have their source code at a remote location"
### Description

A lot of the times, source code could be at remote locations such as git repos, blob stores as tarballs etc. It would be nice if we could provide an option with pack that could pull source code from such locations.

for example -

[code]

### Proposed solution

Adding the above option to pack.

### Describe alternatives you've considered

### Additional context
- [ ] This feature

[2021-04-26 18:23] aemengo commented on #771
I synced up with @jromero out-of-band for this.

Looks like the problem ultimately is that we're not passing `"insecure-registries" : ["mdavis-l:5000"]` options to the underlying `google/go-containerregistry`. We _could_ move in that direction but it's a little more pragmatic to let the docker daemon do the heavy lifting here (instead of terminating early) because the daemon can already handle the

[2021-04-27 21:51] jjbustamante commented on #1069
Hi @jabrown85 , @jromero I started to take a look at this case, but after analyzing it I believe the issue will be solved by this [PR - 96](https://github.com/buildpacks/imgutil/pull/96) in the Imgutil repository.  That PR is adding a retry logic when the image is been downloaded. In case the image is not downloaded the message **does not exist on the daemon** is shown because of what @jabrown85

[2021-04-28 08:13] #1121 closed

[2021-04-28 14:53] jjbustamante commented on #1069
Today I updated my code frio [Imgutil repository](https://github.com/buildpacks/imgutil/) in my local environment and I ran the Fetcher test suite, there are some tests that are failing after applying the code from [PR - 96](https://github.com/buildpacks/imgutil/pull/96).

[code]

I will take a look to those tests and try to add new tests to reproduce this issue an very the fix with the code added

[2021-04-28 21:24] jjbustamante commented on #1069
Ignore this comment, the tests were failing in my local because of an issue with docker desktop v3.2*, I downgraded to version 3.1 and the tests were fine

[2021-05-03 15:36] natalieparellano commented on #768
@EricHripko thanks for much for the [insightful presentation](https://www.youtube.com/watch?v=jFvOV6crtfI) last week!

I'm having a bit of trouble following how the `llb.Copy` operations in the POC in creating the layers (such as [here](https://github.com/EricHripko/cnbp/blob/bfe5c2ada25bb8f6392210f2714d4885a9e73513/pkg/cnbp2llb/export.go#L113)) would mesh with the lifecycle if we added support fo

[2021-05-03 18:47] EricHripko commented on #768
Thank you for sharing the recoding and thanks to community for having me 🙂

At the very least, `llb.Copy` supports [AttemptUnpack](https://github.com/moby/buildkit/blob/4e69662758446c7dc0e6de2bc1f7973d03bacbed/client/llb/fileop.go#L430) flag which should be able to take a tarball and turn it into a layer with BuildKit (somewhat equivalent to `ADD` instruction of the `Dockerfile`). It's worth point

[2021-05-05 16:52] jjbustamante commented on #1069
Hi @jabrown85 .

I created the [Pull Request #111](https://github.com/buildpacks/imgutil/pull/111) in the imgutil repository with some improvements to handle this cases, the error you are facing I think is happening because of the status 401 or 404 been thrown during the call to the ECR registry

[2021-05-06 16:12] mleegwt commented on #1156
I found out that for Windows the `--user root` option works. On linux the fix was similar: `chmod 666 /var/run/docker.sock`. The Stackoverflow question: https://stackoverflow.com/questions/36765138/bind-to-docker-socket-on-windows helped in this regard.

[2021-05-07 13:49] dlorenc commented on #268
@dfreilich - let me know if you'd like to catch up here, I think we can probably help out with the integration if you're interested!

[2021-05-07 17:35] matejvasek opened #1167 "Temporary files are not deleted after build"
### Summary

Temporary files are not deleted after build when using with `podman`.

The `podman` doesn't support "sparse" tarballs, so `pack` has to download builder layers to temp.
The issue is that the files are not deleted after build finished.

Even more so when `pack build` is run repeatedly multiple identical temporary directories occupies temp filesystem.
This is particularly problematic wh

[2021-05-07 17:41] matejvasek commented on #1167
Seems reusing might be against https://refspecs.linuxfoundation.org/FHS_2.3/fhs-2.3.html#TMPTEMPORARYFILES
`Programs must not assume that any files or directories in /tmp are preserved between invocations of the program.`

[2021-05-08 03:34] #1105 closed, assigned to nobody

[2021-05-10 08:31] timmyyuan opened #1168 "Tests failed: TestTrustedBuilderCommand and other 6 tests"
### Summary

There are 7 tests failed when running `make test`:
[code]

---

### Reproduction

##### Steps

1. checkout v0.18.1
2. make test

##### Current behavior

[code]

##### Expected behavior

These tests passed
---

### Environment

[code]

##### pack info

v0.18.1

##### docker info

[code]

[2021-05-11 08:39] rverma-dev opened #1171 "Support multi arch build using buildx"
### Description
With aws graviton and many other arm systems on the rise, it is good to have multi arch images.

### Proposed solution
Have a way to leverage buildx to build the multiarch images for defined platforms. Document an example for the same.

[2021-05-11 15:11] jromero commented on #1168
This is a very interesting set of errors. It appears as if our tests intended to make it so that certain files aren't writable are able to write in your environment. Could you provide the output of `umask`?

For example:

[code]

[2021-05-11 16:19] iainfogg opened #1172 "PPA seems to be supplying the wrong version"
### Summary
I've followed the instructions for installing `pack-cli` but although it says it installed `0.18.1-0ubuntu1~focal`, `pack` says it's version `0.15.1`.

### Reproduction

##### Steps

1. I followed the Linux/Ubuntu instructions at https://buildpacks.io/docs/tools/pack/
[code]
The output from the last step was:
[code]
2. If I run `pack --version` I get `0.15.1`
3. If I rerun `sudo apt-ge

[2021-05-11 19:53] jromero commented on #1171
Given that this is associated with ARM could you provide the specific configuration you're wishing to be possible?

Here's a "matrix" of all the components and how they interact. It would be nice to know which configuration is so that we may prioritize it appropriately.

Could your request be more-or-less formulated in the same way as... ?

[2021-05-11 19:55] jromero commented on #1172
@dwillist would you know what may be going on here?

[2021-05-11 20:20] jromero opened #1174 "TCP daemon communication tests fail in Gitpod"
### Summary

The [TCP communication test](https://github.com/buildpacks/pack/blob/5c378266bce76b638f0441801f2d2148f84bd3f9/internal/build/phase_test.go#L299-L324) to the docker daemon fails in Gitpod with the following output:

[code]

---

### Reproduction

##### Steps

1. Start Gitpod: https://gitpod.io/#https://github.com/buildpacks/pack
2. Navigate to `internal/build/phase_test.go`
3. Run test

[2021-05-11 21:45] dwillist commented on #1172
do you have multiple pack binaries on your path? what is the output of `type -a pack`?

[2021-05-12 06:42] timmyyuan commented on #1168
Of course, the output is
[code]

[2021-05-12 12:31] iainfogg commented on #1172
Thanks, that's helped - I ran `type -a pack` and got this:

[code]

When I saw that, I noticed it's actually running a Docker image. I tried running `docker pull buildpacksio/pack:latest` which did pull down a new image (there already was one present) and when I re-ran `pack --version` it showed the correct output.

I'm guessing that I must have installed it in the past and forgotten about it, but

[2021-05-12 13:13] jromero commented on #1172
In the alias when `docker run` is called you can add the [`--pull always`](https://docs.docker.com/engine/reference/commandline/run/) argument but note that this will add a small delay every time you execute `pack` so that it can check it has the latest version.

[2021-05-12 14:11] iainfogg commented on #1172
Thanks, that's helpful.

I'm wondering what should normally do the pull though, and what a new version in `apt` is actually installing?

[2021-05-12 14:16] briandealwis commented on #973
GCP Buildpacks received an [error report about this issue](https://github.com/GoogleCloudPlatform/buildpacks/issues/135).  The problem is in `Cache.CreateCache()`, specifically this line:

https://github.com/buildpacks/pack/blob/88c345552c7bfb90ebd3a622e5a16ffdb29e72bd/internal/registry/registry_cache.go#L190

The cache is created in `$TMPDIR` and then moved into the cache root.  But the rename wi

[2021-05-12 14:43] briandealwis opened #1182 "Building with explicit list of buildpacks may fail with `invalid cross-device link`"
### Summary
`pack build --buildpack=xxx` fails when `$TMPDIR` is on a different file system from `$HOME/.pack`.

The problem is in `Cache.CreateCache()`, specifically this line:

https://github.com/buildpacks/pack/blob/88c345552c7bfb90ebd3a622e5a16ffdb29e72bd/internal/registry/registry_cache.go#L190

The cache is created in `$TMPDIR` and then moved into the cache root.  But the rename will fail if

[2021-05-12 15:05] jromero commented on #1172
The way I read [this output](https://github.com/buildpacks/pack/issues/1172#issuecomment-839732373), is that you have two different installs of pack.

1. An `alias` declared somewhere.
    - Likely somewhere in these locations: `~/.bashrc, ~/.bash_profile, ~/.profile, /etc/profile, /etc/bash.bashrc`
2. The binary installed from `apt`

I would suggest that you find the alias definition and remove i

[2021-05-12 15:37] dwillist commented on #558
@elbandito Closing this, feel free to re-open.

[2021-05-12 15:37] #558 closed

[2021-05-12 15:38] iainfogg commented on #1172
Credit to you, and my apologies! When I'd used `pack` a while ago, I must have followed the Docker approach, and this time I did the `apt` approach (having forgotten all about the first time!). I'd not realised that there were effectively two versions running.

The alias is gone, and it's happily reporting the correct version.

Thanks again!

[2021-05-12 15:38] #1172 closed

[2021-05-12 18:26] jromero commented on #1143
There are a couple things we'd probably want to hash out through an RFC process:

1. We should aim to use the same flag for any source input. If `--path` doesn't make sense for urls, we should rename it to be more generic.
2. What specific additional protocols are we going to support? Can we get some specific examples/use cases?

[2021-05-13 20:32] #1182 closed

[2021-05-14 05:04] dwillist opened #1184 "Fully support Platform API 0.5 & 0.6"
### Description
Now that the lifecycle has support for these new platform API versions. We should support them as well in pack.

#### Work needed to support each API:
- `0.5`
  - None, all of the path changes in this API version are abstracted  from us via lifecycle env vars (thanks lifecycle folks) for a list of these changes see the [lifecycle release notes](https://github.com/buildpacks/lifecyc

[2021-05-14 05:12] dwillist opened #1185 "Default to new location for `order.toml`"
### Description
As of Platform API version 0.6 there is a new supported location for `order.toml` at `<layers>/order.toml`. We should default to this location and follow the general trend of moving these metadata files into `<layers>`.

See Lifecycle changes [here](https://github.com/buildpacks/lifecycle/pull/508)
Spec Reference [here](https://github.com/buildpacks/spec/blob/main/platform.md#input

[2021-05-14 05:58] dwillist commented on #665
There is a RFC about to go through that will provide this level of flexibility and make the `caching` flags a bit more coherent here buildpacks/rfcs#149.

[2021-05-17 13:54] dwillist commented on #1185
This seems low impact as the lifecycle change was additive and the old order.toml location is supported.

[2021-05-19 09:22] #771 closed

[2021-05-24 15:40] jromero commented on #1156
Sounds like this was resolved. Thank you for posting your resolution. 🙏

[2021-05-24 15:40] #1156 closed

[2021-05-25 13:56] jromero commented on #1139
## Additional Resources

* [RFC Pull Request](https://github.com/buildpacks/rfcs/pull/9) (conversations behind idea)
* [Accepted RFC](https://github.com/buildpacks/rfcs/blob/main/text/0013-app-layer-metadata-source.md) (accepted idea)
* Spec Changes:
    * [Draft](https://github.com/buildpacks/spec/pull/68/files)
    * [Final](https://github.com/buildpacks/spec/pull/81/files)

**NOTE: RFC details

[2021-05-27 19:38] jromero commented on #1049
[Discussion started](https://github.com/buildpacks/community/discussions/101) for this feature request. Please vote/contribute to it.

[2021-05-31 11:33] #961 closed

[2021-06-01 15:20] natalieparellano commented on #268
@dlorenc looking forward to checking out your presentation in CNB office hours on 6/10/21! [Link](https://docs.google.com/document/d/1CwixRknj3gAXbi-fTI1-chwtMfy6G3GhdH17aEUjhK0/edit#heading=h.2jx1jkccw58p) for those interested.

[2021-06-01 15:23] natalieparellano commented on #1171
@jromero did you mean to link [this document](https://docs.google.com/document/d/1j2EISF1OMIrqJiM826Bm-PYJ9ycCGwdfEKHzet3xIjA/edit)? FYI for those interested, there is an #arm channel in [CNB Slack](https://slack.buildpacks.io/) where some discussion is taking place.

[2021-06-02 06:22] importhuman commented on #897
Hello! I'd like to work on this. Can you give me some pointers as to where I should start? I know some Go, and the basics of Docker and how to use the pack CLI.

[2021-06-02 14:08] jromero commented on #897
Hi @importhuman, very excited to hear that this is something you are interested in contributing.

Here are a few steps I can think off:

Prerequisites:
1. Read our DEVELOPMENT.md document and install all the [prerequisites](https://github.com/buildpacks/pack/blob/main/DEVELOPMENT.md#prerequisites).
1. Make sure you can run `make test` and all tests pass.

Development:
1. Create a **unit test** for

[2021-06-02 15:48] dwillist commented on #1167
Comments from Platform Sync.
Needs some investigation around what layers are not getting cleaned up here.
- Are these from the ephemeral builder?
- Are these a lifecycle concern?
Some additional investigation is needed to figure out which layers are being left around.

[2021-06-08 14:01] samj1912 opened #1196 "Add image/information to our dockerhub repo"
### Description

The Cloud Native Buildpacks Docker Hub repos (buildpacksio and (cnbs)(https://hub.docker.com/u/cnbs)) look pretty sketchy. cnbs is understandable, given that it seems like we only host sample/internal images (though we do reference it in our docs), but given that buildpacksio is a bit more external (we will soon be referring to it in our tekton task (tektoncd/catalog#434), and it

[2021-06-08 15:24] briandealwis commented on #907
@dfreilich that specific error is related but different from https://github.com/buildpacks/lifecycle/issues/435: `gcr.io/buildpacks/builder:v1` is `linux/amd64`-only.  Your build should work if you have `binfmt_exec` extensions configured, though it will produce a `linux/amd64` image.

[2021-06-08 15:40] briandealwis opened #1197 "`pack build` fails with untrusted builders on Apple Silicon"
### Summary

`pack build` from an Apple M1 will fail when using an untrusted builder.  With untrusted builders, the pack library will not use the builder's embedded `lifecycle` binary and instead attempt to run the lifecycle from a separate image:

https://github.com/buildpacks/pack/blob/e53adb9c9e55b33e830f2e92bc4741cc32dc24f7/build.go#L329-L343

Recent lifecycle images (e.g., `buildpacksio/lifec

[2021-06-08 20:08] jromero commented on #1197
The proposal, "Perhaps `pack` should attempt to pull down the lifecycle image for the same os/arch as the builder image.", makes a lot of sense to me.

It looks like we'd need to propagate some information about the builder image to these locations:

Perhaps pack should attempt to pull down the lifecycle image for the same os/arch as the builder image.

https://github.com/buildpacks/pack/blob/e53a

[2021-06-10 12:10] micahyoung opened #1199 "Windows builds fail with --env and an untrusted builder"
### Summary
Building with an untrusted builder and any `--env` flag fails with:
[code]

---

### Reproduction

With `buildpacks/samples`:
[code]

##### Current behavior
Fails whenever `--env` flag is used with untrusted builder

##### Expected behavior
Does not fail

---

### Environment

##### pack info
[code]
##### docker info
[code]

[2021-06-11 14:11] natalieparellano commented on #1197
Just to connect some dots, we've had some comments on https://github.com/buildpacks/lifecycle/issues/435 indicating that this issue is causing errors when trying to use Hashicorp Waypoint on M1 Macs (see https://github.com/buildpacks/lifecycle/issues/435#issuecomment-859045100).

[2021-06-11 15:47] aemengo opened #1200 "Pack build should visually depict pulling step"
### Context
Pack is currently _the gateway_ to the buildpacks ecosystem for a wide audience. Users base their opinion of buildpacks on the experience of the pack tool. To cater to users of lower experience levels, `pack build` should have a visual workflow. In hopes that these users are introduced to different buildpack abstractions, intuitively.

### Objective
**When** I run `pack build --interac

[2021-06-11 15:54] aemengo opened #1201 "Pack build should visually depict detect step"
### Context
Pack is currently _the gateway_ to the buildpacks ecosystem for a wide audience. Users base their opinion of buildpacks on the experience of the pack tool. To cater to users of lower experience levels, `pack build` should have a visual workflow. In hopes that these users are introduced to different buildpack abstractions, intuitively.

### Objective
**When** I run `pack build --interac

[2021-06-14 13:57] aemengo opened #1203 "Pack build should show terminal UI with image: and builder: info"
### Context
At this point of the `pack build` visual workflow, the pull and detect steps will have been completed and we will be in the *build step*. To avoid too much work in one PR, this issue is only about showing information about the **image** and **builder**. This is an opportunity to introduce the builder and its major components.

### Objective
**When** I run `pack build --interactive/-i <

[2021-06-14 18:18] aemengo opened #1204 "Pack build should show terminal UI with log: info"
### Context
At this point of the `pack build` visual workflow, the pull and detect steps will have been completed and we will be in the *build step*. To avoid too much work in one PR, this issue is only about showing information about the **logs**.

### Objective
**When** I run `pack build --interactive/-i <name>`
**And** the pull step completes successfully
**And** the detect step completes succe

[2021-06-14 18:24] aemengo opened #1205 "Pack build should show terminal UI with plan: info"
### Context
At this point of the `pack build` visual workflow, the pull and detect steps will have been completed and we will be in the *build step*. To avoid too much work in one PR, this issue is only about showing information about the **plan**. The contents of a **plan** is the sequence of [metabuildpacks](https://buildpacks.io/docs/concepts/components/buildpack/#meta-buildpack) that will be i

[2021-06-14 19:15] aemengo opened #1206 "Pack build should depict completed build in terminal UI"
### Context
At this point of the `pack build` visual workflow, the pull, detect, and build steps will have been completed. This issue is about depicting <ins>the result</ins> of a build within the terminal UI. This depiction consist of:
- **BUILD SUCCEEDED** / **BUILD FAILED** line at the end of the **logs** pane
- Checkmarks for every [metabuildpack](https://buildpacks.io/docs/concepts/components

[2021-06-16 01:38] matejvasek opened #1208 "Add `--security-opt` flag"
### Description
The `docker` CLI has flag `--security-opt` allowing to disable `SELinux` labeling.
This is useful when local `SELinux` policy is causing troubles with mounting docker socket.

### Proposed solution
Add the `--security-opt` flag so user can disable labeling for containers created by `pack` during build. Alternatively we could and some universal flag, something like `--other-docker-o

[2021-06-16 01:39] matejvasek commented on #1208
cc @cardil

[2021-06-16 12:16] jromero commented on #1208
I feel dirty proposing it but how terrible would it be to disable SELinux labeling by default? Given that it's a very specific set of containers and operations there in I do wonder if it should be more of pack's "opinion" as oppose to propagating the control to the user and require them to  discover it.

[2021-06-16 13:17] cardil commented on #1208
I also think that exposing another CLI option for pack isn't a good idea. In my opinion, it would be better to add the security opt of `label=disable` to containers that mount docker socket. That's the analyzer container, for sure. Maybe some others as well.

[2021-06-16 13:32] matejvasek commented on #1208
May feels dirty but I am not against.

[2021-06-16 14:30] fbongiovanni29 opened #1209 "Pushing Multiple tags pushes multiple images"
### Description

When pushing multiple tags it results in multiple images being pushed each with a tag. I've tried running a few different things including:
[code]
and:
[code]
But I always get two images in my repository with one tag a piece:
![Screen Shot 2021-06-16 at 10 27 41 AM](https://user-images.githubusercontent.com/2322727/122237986-c40f9c00-ce8d-11eb-8a63-ee6ae1ae018e.png)

### Proposed

[2021-06-16 15:11] jromero commented on #1209
Hmm... I wonder if this is specific to how it's presented in GCR. Do you have an example of what a "single image with multiple tags" looks like?

Most registries would treat "us.gcr.io/$PROJECT_ID/${_APPLICATION}" as the repository (aka image) and tags anything after `:`. Not sure what "single image" in this context is intended to mean if the prior statement isn't true.

[2021-06-16 15:17] fbongiovanni29 commented on #1209
Sure, here's an example of what it looks like:
![Screen Shot 2021-06-16 at 11 15 33 AM](https://user-images.githubusercontent.com/2322727/122246083-413e0f80-ce94-11eb-92a0-214f66de8857.png)

I ran the following with docker to produce that:
[code]

[2021-06-16 15:18] jromero commented on #1208
If there are no objections from @dfreilich, I'd be open to accepting a PR that adds the security opt `label=disable` as part of the `WithDaemonAccess ` option:

https://github.com/buildpacks/pack/blob/dc17e6486504896f32661d26a3a8c4a86b3f818c/internal/build/phase_config_provider.go#L126-L153

[2021-06-16 15:50] jromero commented on #1208
@sclevine, as security compliance officer 😉, you might also have some thoughts here.

[2021-06-16 16:50] fbongiovanni29 commented on #1209
Here's another, potentially bigger issue, the image (digests?) are not the same. I'm able to shell into one but not the other:
[code]

[2021-06-16 18:12] aemengo commented on #1209
If it’s alright, I’m interested in taking a look. 👍

[2021-06-16 18:33] fbongiovanni29 commented on #1209
Sure! How can I assist with that?

[2021-06-16 19:06] aemengo commented on #1209
@fbongiovanni29 For now, I'm having trouble reproducing...
 - Could you report the version of pack you're using with `pack --version`?
 - Try something similar to the following? I'm trying to see if the `--cache-image` or maybe `--buildpack` is at fault

[code]

[2021-06-16 20:31] fbongiovanni29 commented on #1209
`--cache-image` is the culprit! Removing that line fixes it

I also tried removing `:latest` from `--cache-image us.gcr.io/$PROJECT_ID/${_APPLICATION}:latest` but that did not fix it either

pack version is `0.19.0+git-360dbae.build-2550` which seemed odd to me but I got it from downloading and unpacking the latest release from http://github.com/buildpacks/pack/releases/download/v0.19.0/pack-v0.19

[2021-06-16 20:45] fbongiovanni29 commented on #1209
Looking at the [documentation for cache image](https://buildpacks.io/docs/app-developer-guide/using-cache-image/) it looks like using a separate repo for caching may be the norm, is that correct?

Running it this way succeeded as well:
[code]

[2021-06-16 21:57] aemengo commented on #1209
@fbongiovanni29  The repo name or tag is up to you, as long as it's different from your application's. If you peek inside, the cache image isn't a full application image. It's a bunch of files that will be re-used in another build.

<img width="1024" alt="Screen Shot 2021-06-16 at 5 51 57 PM" src="https://user-images.githubusercontent.com/4236888/122299113-91849400-cecb-11eb-8341-04705283db4a.png"

[2021-06-17 13:55] fbongiovanni29 commented on #1209
Neat, I got the feeling that it was something like that given the smaller size, fact that gcr couldn't scan it & couldn't shell into it. I'm going to close this as I feel it's resolved, thanks so much for your help!

[2021-06-17 13:55] #1209 closed

[2021-06-21 01:28] sclevine commented on #1208
This seems reasonable for containers that need access to the daemon, given that they never execute untrusted buildpack/app code and are generally only used for local builds.

We should document that these containers have host access with privileges potentially equivalent to the daemon host process.

[2021-06-23 16:44] natalieparellano opened #1213 "GHA for cutting release should specify target sha"
### Summary
https://github.com/softprops/action-gh-release provides a `target_commitish` option to specify where the Git tag is created from. I am not 100% sure the default value, but it appears to be the latest state of the default branch i.e., the latest commit on `main`. We may want to change it to be the latest commit on the `release/<version>` branch.

Related Slack convo: https://buildpacks.

[2021-06-24 16:17] matejvasek opened #1214 "pack.Client::Build() closes logger's `io.Writer`"
### Summary
I am using `pack` code as a library in my own Go project.
I am not sure how much is this supported and whether this is really a bug.

Still:
[code]

The issue is that after invocation of `packClient.Build()` the `logWriter` is closed.

There is a code that check whether `logWriter` instance also implements `io.Closer` and if it does it will call close on it deliberately.
In case that t

[2021-06-24 17:36] matejvasek commented on #1214
correction: `logging.PrefixWriter` actually is `io.Closer` but it doesn't really close the underlying `io.Writer` that it is wrapping

[2021-06-24 17:49] matejvasek commented on #1214
this was probably introduced in https://github.com/buildpacks/pack/pull/867

[2021-06-24 17:49] matejvasek commented on #1214
cc @jromero

[2021-06-25 20:41] ekcasey opened #1217 "Pack loses the names of buildpacks"
### Summary
1. `pack buildpack inspect` does not print the names of component buildpacks.
2. `pack builder inspect` does not print the names of any buildpacks
3. When a multibuildpack is packaged only the name of the top-level buildpack in recorded in the `io.buildpacks.buildpack.layers` label
4. When a builder is packaged none of the buildpack names are recorded in the `io.buildpacks.buildpack.la

[2021-06-29 12:41] #1197 closed

[2021-06-29 12:42] jromero commented on #1197
@briandealwis a fix for this by @aemengo has been merged to `main`. Could you verify that it address the issue?

[2021-06-29 15:16] FlorianLudwig commented on #966
Hi @matejvasek

Following your suggestion here:

I cannot get it working.

Using the example from buildpack - since I could not find any `fedora-python-builder` (but i'd be interested ;))

[code]

any idea what could be wrong? Thanks!

[2021-06-29 15:24] matejvasek commented on #966
@FlorianLudwig I think this could be related to `podman`'s reluctancy  to pull not fully qualified image names as 'cnbs/sample-stack-run:bionic'. If you are using for instance `Fedora 34` (fresh install) then default config forbids pulling images without `host` (like `docker.io`) in the name of image.

[2021-06-29 15:26] matejvasek commented on #966
@FlorianLudwig of course the error message is confusing. I believe I fixed that in some newer version of `podman`.

[2021-06-29 15:28] FlorianLudwig commented on #966
@matejvasek It looks like you are right.

using:

[code]

instead of

[code]

works better - but still not fully functional as it will try pull the next image without a fully qualified name.

Btw, I am on podman 3.2.1

[2021-06-29 15:34] FlorianLudwig commented on #966
For reference:

To workaround the issue, comment out `short-name-mode="enforcing"` in `/etc/containers/registries.conf`.

[2021-06-29 15:36] FlorianLudwig opened #1218 "Use fully qualified image names (podman compatibility)"
### Description

For podman compatibility (and more) it would be good to use fully qualified image names ( = include registry in image name)

Example: Instead of:

[code]

use:
[code]

### Changes

- [ ] Update internal references to images to include registry
- [ ] Update docs to use fully qualified image names in examples

### Additional context

See also:
 - https://www.redhat.com/en/blog/be-ca

[2021-06-29 15:39] matejvasek commented on #966
yeah I had to put:
[code]

into `~/.config/containers/registries.conf`

[2021-06-29 15:41] matejvasek commented on #966
podman is just to paranoid, with short name somebody might spoof malicious image

[2021-06-29 15:43] matejvasek commented on #966
IMHO it's kinda of fault of `cnbs/sample-builder:bionic` to use short name (assuming everything in in `docker.io`)

[2021-06-29 15:47] FlorianLudwig commented on #966
I agree and opened https://github.com/buildpacks/pack/issues/1218 :)

[2021-06-29 15:47] matejvasek commented on #1218
Not only `podman` compatibility, it should be also safer.

[2021-06-29 19:21] jromero commented on #1218
I like this suggestion although I know there will be some necessary discussion about ease-of-use considering that there's a large number of users that are coming from the docker CLI where the host is assumed if missing.

[2021-06-30 13:40] FlorianLudwig commented on #1218
@jromero

changing:

https://github.com/buildpacks/pack/blob/88c345552c7bfb90ebd3a622e5a16ffdb29e72bd/internal/config/config.go#L130

would not be visible end-user facing. So at least for that part, no ease-of-use consideration would be necessary?

Updating the docs so that all examples include the host might be different.

I do not want to suggest to enforce only accepting image names that contai

[2021-07-01 18:48] lsm5 opened #1220 "RFE: vendor go dependencies"
Not a bug. I have a request on my plate to package this up for Fedora. It would be really convenient if all the go dependencies were vendored into the upstream source.

[2021-07-01 18:56] lsm5 commented on #1220
if maintainers are open to this, i'll be happy to submit a PR.

[2021-07-01 19:13] natalieparellano opened #1221 "pack should export report.toml"
### Description
[report.toml](https://github.com/buildpacks/spec/blob/main/platform.md#reporttoml-toml) contains information about the built image as well as the "build BOM" - build-time only dependencies. It is written (by default) to `/layers/report.toml` but the exporter does NOT put it in the final image. Therefore, unless the platform copies it out of the build container, it will be gone when

[2021-07-03 15:32] matejvasek commented on #1167
@dwillist I think this is related to ephemeral builder. The thing is that `pack` uses clever hack to speed up build. It pushes only newly create layers (they are small) for ephemeral builder and it leaves out some rather large layers that are already present in daemon.

While such an archive missing layer is not 100% valid `docker` happily accepts it provided the missing layers are already in it.

[2021-07-07 19:32] lsm5 commented on #1220
ping

[2021-07-07 20:16] aemengo commented on #1220
Committing vendored dependencies tends to bloat the git repository.

Go modules tend to pull dependencies deterministically. Are you having trouble vendoring on your end before packaging?

[2021-07-07 20:36] lsm5 commented on #1220
@aemengo The fedora build environment doesn't allow network access at build time, so it would be really convenient and trustworthy to simply point to an upstream tar archive that contains the dependencies already vendored in instead of a tarball that's generated locally after local vendoring.

[2021-07-07 21:02] aemengo commented on #1220
And it's also a requirement to build the tool yourselves? As opposed to relying on official releases?

I'm keen on relying on community demand for this. Vendoring dependencies isn't just a one time effort, but our automation would also have to change.

[2021-07-08 10:01] dfreilich commented on #1220
We had used to do it, but moved away from vendoring – we found that it was hard to keep up to date, and it needlessly bloated the repository.

It sounds to me like the underlying request is to package/release pack for Fedora. If you'd like to contribute a workflow to do that, we'd be happy to have that in the repository – we already support [arch](https://github.com/buildpacks/pack/blob/main/.gith

[2021-07-08 17:04] aemengo commented on #1221
Is there a preferred user workflow that you have in mind for this?

For instance, the user reads the `report.toml` via the supplied file argument?

[2021-07-08 18:29] natalieparellano commented on #1221
cc @ForestEckhardt @sophiewigmore

[2021-07-09 20:56] aemengo opened #1228 "Unit tests should clean up better"
### Description
If you run `make unit` a few times, files matching the pattern **internal/registry/registry*** will be created and left in your project working directory

### Proposed solution
These files shouldn't persist after test runs

### Additional context
[code]

[2021-07-11 19:28] #821 closed

[2021-07-14 15:48] jromero commented on #1220
Vendoring dependencies solely for the purpose of one specific workflow (Fedora build environment) doesn't sound ideal or sustainable given the overhead we historically found. It sounds like an interim step that packages pack for Fedora seems more feasible.

Would @dfreilich's proposal work for @lsm5?

[2021-07-14 17:44] lsm5 commented on #1220
all, thanks for the suggestions, I haven't tried the workflows yet, but I'm quite certain the ubuntu PPA workflow can be replicated for Fedora Copr, but that may not work for the fedora package review process though. But no worries, I guess I can generate tarballs locally to get things going. Closing this, thanks again.

[2021-07-14 17:44] #1220 closed

[2021-07-15 18:03] jjsheridan commented on #531
@pandarrr Can you provide some details about your setup? I have docker.sock and /usr/bin/docker exposed to Jenkins with volume mounts and can run Docker in the Jenkins terminal, but I get "docker: not found" when I hit sh '''docker run step.

[2021-07-16 07:30] cmoulliard opened #1232 "pack version 0.19 dont support a builder TOML config having an api version"
### Summary

pack version 0.19 `0.19.0+git-360dbae.build-2550` dont support to execute `pack builder` using a TOML file containing the api version
[code]
and will report this error
[code]

The api field is mentioned here within the spec or examples:
- https://github.com/buildpacks/spec/blob/buildpack/v0.6/buildpack.md#buildpacktoml-toml
- https://buildpacks.io/docs/buildpack-author-guide/create-bu

[2021-07-16 07:51] samj1912 commented on #1232
The builder toml is not versioned and is currently not supposed to have an api key. The builder also isn't part of the official spec currently and is a pack only construct. You can find more details about creating a builder at
https://buildpacks.io/docs/operator-guide/create-a-builder/
https://buildpacks.io/docs/reference/config/builder-config/

It doesn't contain an api key in it's schema.

[2021-07-16 08:47] cmoulliard commented on #1232
But then, if it is not part of the schema/spec, then `pack builder` should not raise an error and maybe only raise a warning message.

Ideally `pack builder` should check the version to be sure that it matches the lifecyle version and/or buildpack version ;-)

[2021-07-16 09:07] cmoulliard commented on #1232
My fault. I was not using the correct schema for the builder: https://buildpacks.io/docs/reference/config/builder-config/
So this ticket can be closed. WDYT ?

[2021-07-20 16:25] #1232 closed

[2021-07-20 21:39] scottfrederick opened #1236 "Zip files with preamble text are not recognized by pack build"
### Summary
The zip file specification allows for arbitrary [text to exist at the beginning of the file](https://en.wikipedia.org/wiki/ZIP_(file_format)#Combination_with_other_file_formats), before the first file entry header. This is often used to create self-extracting or self-executable zip files.

Spring Boot uses this technique to create executable jar files that include a Unix launch script

[2021-07-21 02:08] #1228 closed

[2021-07-21 14:21] #761 closed

[2021-07-21 15:31] josegonzalez commented on #681
A `pack detect` or similar command (with optional json output?) would be pretty neat so that we can report to users what their apps _look_ like before actually building it (useful for platform onboarding).

[2021-07-22 03:13] aemengo commented on #681
@josegonzalez Agreed. This is an underlying premise with [pack-interact-mode](https://github.com/buildpacks/rfcs/pull/152).

[2021-07-26 15:42] briandealwis commented on #1197
Apologies, I missed your request @jromero: it works great with pack 0.20.0.  Thanks all!

[2021-07-27 17:24] YousefHaggyHeroku commented on #1127
I'm working on this issue 👍

[2021-07-27 18:16] haliliceylan commented on #1217
I am picking this up. Please assign me @aemengo

[2021-07-28 11:57] lsm5 commented on #1220
Hi all, `pack` is now available in the [Fedora updates-testing repos](https://bodhi.fedoraproject.org/updates/?packages=pack) with `dnf install pack`. It'd be great if you could get any Fedora users in here to test it. Thanks!

[2021-07-28 12:57] samj1912 commented on #1127
@buildpacks/platform-maintainers can we have more details on this issue on how we expect b/w compat with existing project descriptor files? Since this is a breaking change for app developers, this will impact a lot of users who may not be aware of CB internals.

[2021-07-28 13:11] YousefHaggyHeroku commented on #1127
My thoughts were to do something like having a `ParseV1Descriptor` and `ParseV2Descriptor` in the pack code. If the "_" top level key exists, `ParseV2Descriptor`, else `ParseV1Descriptor`.  Curious to hear other thoughts

[2021-07-28 15:00] aemengo commented on #681
@simonjjones @jromero @dfreilich Can we have a little more detail about what the original intent of `--dry-run` was?

@haliliceylan and I were following the thread and are lost. In the `pack build` case for example:
* Does dry-run simply mean run the `detect` phase?
* Just about every phase requires creating an ephemeral builder on the daemon, so does that count as  incurring the cost of executing

[2021-07-28 18:37] dfreilich commented on #1220
Fantastic, @lsm5! I'm relatively unfamiliar with the Fedora setup – is that something we should put on our docs as a method to install, or is `updates-testing` still a testing space, and we should hold off from putting it in our install docs?

cc @buildpacks/learning-maintainers

[2021-07-28 19:07] lsm5 commented on #1220
Yes, it's a testing space but kinda the first stage before moving to stable repos. Usually for every Fedora release, there's 2 major repos: `updates (stable)` repo and `updates-testing (testing)` repo. Packages in the updates-testing repo stay there for around a week or +3 karma (3 humans testing that the package works well (subjective), whichever is earlier. There's also gating tests (need to be

[2021-07-29 15:54] Spellchaser opened #1242 "setting remote config doesn't respect Ctrl+C"
### Description
Crtl+C does not abort hanging query

[code]

### Proposed solution
Add handler for SIGINT to abort quickly

### Describe alternatives you've considered
Add a note to pull down the image in the error logs

### Additional context
🤷‍♂️

[2021-07-29 19:55] juancoen commented on #1024
Hi, I have a similar use case as the one described [here](https://github.com/buildpacks/pack/issues/1024#issuecomment-764946620). I want to publish the cache image but not the resulting app image, as I'm doing that later in my pipeline after running other non-buildpack tasks. If pushing the cache image to the local daemon is a problem, would it be possible to add a flag to only publish the cache i

[2021-07-30 05:13] dfreilich commented on #1220
Great, thanks for the work @lsm5!

[2021-08-02 11:02] edmorley opened #1244 "Update default version in pack-orb and github-actions as part of Pack release process"
### Description
The pack-orb and github-actions repositories simplify the process of installing Pack CLI in on Circle CI and GitHub actions respectively. They both have a default Pack version that will be used, unless the user overrides it. This default version is often quite out of date.

### Proposed solution
Add a post-pack-release step to `RELEASE.md` for updating the default Pack versions use

[2021-08-03 19:07] briandealwis opened #1245 "Can no longer provide alternative implementations of ImageFetcher"
### Summary
PR #1216 changed `ImageFetcher.Fetch()` to use an internal `FetchOptions` type from `pack/internal/image`.  This prevents providing alternative `ImageFetcher implementations`as that `pack/`internal/image` package can't be imported from other modules.

This change prevents Skaffold from updating to use pack v0.20.0 as Skaffold provides [an alternative implementation of `ImageFetcher`](h

[2021-08-03 20:06] briandealwis commented on #1245
This affects other types in `client.go` too:
- the `Downloader` interface's `Download()` returns `internal/blob.Blob`
- the `BuildpackDownloader` interface's `Download()` returns `internal/dist.Buildpack`

[2021-08-04 17:38] lsm5 commented on #1220
@dfreilich the rpm has landed in the stable `updates` repo. Could you point me to the right file for docs update please?

[2021-08-05 01:05] smsufyian commented on #1204
@aemengo Is there a way to assign the issue to myself , I want to work on this

[2021-08-05 23:21] dfreilich commented on #1220
Fantastic to hear! The docs are located in the [buildpacks/docs](https://github.com/buildpacks/docs) repo. The right file is this one (https://github.com/buildpacks/docs/blob/main/themes/buildpacks/layouts/shortcodes/pack-install.html), but if it proves too difficult, we'll be happy to add it in as well.

[2021-08-08 14:42] importhuman commented on #1244
Hi @edmorley, can I work on this? If I understand correctly, the YAML in the linked files needs to be updated so that the default version is the latest pack release?

[2021-08-09 14:31] aemengo commented on #1204
@smsufyian Thanks so much for expressing interest! Writing that comment is as good as getting yourself assigned.

This issue is currently part of a track of work. I'm afraid that this issue isn't ready to work on: _as written, at this exact_ moment.

If you want to be involved with the track of work more generally, please consider my [first PR for it](https://github.com/buildpacks/pack/pull/1230)

[2021-08-09 23:31] aemengo opened #1250 "pack builder suggest should not panic when using registry mirror"
### Summary
Running `pack builder suggest` with a registry mirror configured causes a golang panic errror

[code]

---

### Reproduction

##### Steps

1. Configure pack with registry mirror
2. Run `pack builder suggest`

##### Current behavior
- The suggested builders do not show
- A panic error is thrown

##### Expected behavior
- The suggested builders should be shown
- A panic error should not

[2021-08-10 09:39] haliliceylan commented on #1217
Hi, I have a question for this issue. I inspected to source code then i realized the inspect command is seems fine right now. Actualy these names are not adding to metadata during the creating builder or multi-buildpack. I find to try where metadata is generating but i could not find them. I tried to look "layerDiffID" key into source code. (because it seems a unique name)

<img width="579" alt="S

[2021-08-10 13:44] #1138 closed

[2021-08-10 13:55] edmorley commented on #1244
@importhuman Hi! This issue is about updating the playbook used when maintainers release a new Pack version, such that the playbook reminds them to update the defaults in the yaml for those other projects after every pack release.

[2021-08-10 13:55] jromero commented on #564
Given that this issue was a little broad to begin with, I'm going to close it in favor of what did come out of it. Pack now supports podman via the docker socket interface. Any alternative to Docker that supports the docker socket interface should also work.

[2021-08-10 13:55] #564 closed

[2021-08-10 13:58] jromero commented on #907
If I'm not mistaken this issue is now completely resolved provided all referenced issues are resolved. If that is wrong, please feel free to re-open with more detail on what's missing.

[2021-08-10 14:02] importhuman commented on #1244
@edmorley I'm not too familiar with the terminology, does the playbook refer to the `RELEASE.md`? If so, would it not serve the purposes of this issue that we automate the yaml update instead, which will also eliminate the chance of missing an update? I haven't done something like it before, so I don't know if it's possible or not.

[2021-08-10 14:03] jromero commented on #1218
@FlorianLudwig I would say that we are on the same page.

1. We should update the reference to lifecycle image
2. Update the docs to include host (I am curious how this would affect image names for images that are only intended to live on the docker daemon. I'm assuming you would still set the host to `docker.io` which might be contentious).
3. We should NOT enforce only accepting image names that

[2021-08-10 14:09] jromero commented on #1091
@natalieparellano It looks like `io.buildpacks.lifecycle.apis` is up and coming from the [builder 0.1 spec](https://github.com/buildpacks/spec/blob/extensions/builder/0.1/extensions/builder.md#iobuildpackslifecycleapis-json) release so we don't technically have it yet. Good call out though.

Until that is released and more public builders move to that spec, we'll need to rely on `io.buildpacks.bui

[2021-08-10 14:10] edmorley commented on #1244
Automation would be even better, yes! Though it's perhaps worth doing both (first adding a quick item to RELEASE.md, then later when someone has more time, automating it). I'm not a maintainer though, so I can't comment as to what would be accepted.

[2021-08-10 14:12] jromero commented on #1091
@natalieparellano  Is there a contract/spec provided for lifecycle images? I just now realize that you were talking about the lifecycle image which is interesting because AFAIK, that isn't spec'd making it more difficult for us to set expectations on the lifecycle image provided to pack.

[2021-08-10 14:21] importhuman commented on #1244
Ah, I see. I'd be happy to work on either/both parts if decided by the maintainers.

[2021-08-11 08:07] #897 closed

[2021-08-11 08:51] #1236 closed

[2021-08-11 08:58] daxhuiberts opened #1251 "PPA 'does not have a Release file'"
### Summary

I tried following the install instructions for Ubuntu on https://buildpacks.io/docs/tools/pack/ but after adding the PPA doing a `sudo apt-get update` gives
[code]
I'm running on Pop!_OS 21.04

---

### Reproduction

##### Steps

1. Follow installation instructions for Ubuntu on https://buildpacks.io/docs/tools/pack/
2. Add PPA by executing `sudo add-apt-repository ppa:cncf-buildpacks

[2021-08-11 16:56] jromero commented on #1251
As the message details, we don't currently have a PPA release for hirsute. The list of currently supported releases can be found here: https://github.com/buildpacks/pack/blob/main/.github/workflows/deliver-ubuntu.yml

I will add a milestone for the next upcoming release but there is no guarantee that it will be out in time. If you feel comfortable making a contribution, we would appreciate it. :D

[2021-08-11 16:58] jromero commented on #1251
FWIW, there are alternative ways to install it on linux (as detailed on the [page provided](https://buildpacks.io/docs/tools/pack/)).

[2021-08-11 17:16] jromero commented on #1244
This sounds like a great idea! The automation shouldn't be too difficult to implement. We currently do this for the [buildpacks/docs](https://github.com/buildpacks/docs) repo.

The dispatch is done [here (in buildpacks/pack)](https://github.com/buildpacks/pack/blob/main/.github/workflows/delivery-release-dispatch.yml#L13) and then captured [here (in buildpacks/docs)](https://github.com/buildpacks/

[2021-08-11 17:26] aemengo opened #1254 "Golang API users do not get proper trusted builder behavior"
### Summary
Using the **pack golang API** does not have the same behavior as the pack CLI regarding trusted builders. In particular, trusted builders are not automatically detected as trusted. The ramification is that the _creator workflow_ does not run, when it should.

---

### Reproduction

##### Example

[code]

##### Expected behavior
In the above example, `heroku/buildpacks:18` is a trusted

[2021-08-11 17:31] importhuman commented on #1244
Thanks @jromero, this definitely helps!

[2021-08-11 17:36] jromero commented on #1254
I believe that this is by design. At least in it's initial implementation. IIRC, there was a discussion about delegating the fact of whether a builder should be trusted to the platform that may be using the pack client. I can see an improvement where we can have both. We can have a `default` trust mechanism that behaves as pack does but that can then be replaced by the user of the library.

[2021-08-11 17:57] jromero commented on #1221
I can envision a new flag named `--output-dir` which points to where `report.toml` would be placed. This would allow for any additional future artifacts to be extracted to as well. If they flag is not provided, then I'm of the opinion that we shouldn't default to any directory and therefore not export the `report.toml` (This can easily change in the future if we want different behaviour).

### Pro

[2021-08-11 21:24] aemengo commented on #1245
@briandealwis Thanks for creating this issue.

How do we prefer to resolve this? In general, I'm in favor of making options public. Perhaps an `./options.go` file at the root of the repository.

Any others have thoughts?

[2021-08-11 21:46] natalieparellano commented on #1024
Just to add in case it's helpful - the lifecycle will not allow you to use a cache image in a docker daemon, for performance reasons (you're better off using a cache volume). Is the [earlier idea](https://github.com/buildpacks/pack/issues/1024#issuecomment-762901676) of allowing `--cache-image` regardless of `--publish` relevant to your use case?

[2021-08-12 13:40] #1250 closed

[2021-08-13 06:47] jimil749 commented on #945
Hello @jromero! I am relatively new to buildpacks project, but would love to get involved and potentially contribute. Any pointers to get started?

[2021-08-13 12:45] jimil749 commented on #1254
Hey @jromero, @aemengo. New contributor here! If I understand the this correctly, do we need to set `opts.TrustBuilder` to true if we pass any trusted [builders](https://buildpacks.io/docs/tools/pack/cli/pack_config_trusted-builders_list/)? This check could be added in the `client.Build` method.

[2021-08-13 13:23] jromero commented on #945
Here are a few resources I think would help (in some reasonable order):

* [Talks](https://buildpacks.io/docs/#talks): Watch a few videos to get a general sense of the buildpacks project and it's value proposition.
* [Concepts](https://buildpacks.io/docs/concepts/): Learn about the concepts
* Altoros created a really good blog post series. Here are a few that would help:
    * [Cloud Native Buildp

[2021-08-13 15:37] jimil749 commented on #945
Thanks for the elaborated response @jromero! Excited to get started! :)

[2021-08-16 00:30] aemengo commented on #1254
@jimil749 Hey 👋🏾. Appreciate you posting on here!

[Here's](https://github.com/buildpacks/pack/blob/main/internal/commands/build.go#L104) how the "normal" behavior works, if you're looking for some inspiration

[2021-08-16 11:03] jimil749 commented on #1254
@aemengo, thanks for the response.  Does it make sense to add the check (the one you mentioned) in `build.go`? Because, the CLI way behaves "correctly" because of the check you mentioned. But this won't happen if one is using the API to create a builder (as we are directly calling `Build()` when using the API).

[2021-08-17 03:56] SAY-droid427 commented on #1221
Hey! @jromero! I am a new contributor here. May I take up this issue?

[2021-08-17 13:24] jromero commented on #1221
@SAY-droid427, it's nice to have you. I've assigned the issue.

Let me know if you have any questions on the issue. If you run into any issues please post a detailed question on here or on our [slack](https://slack.buildpacks.io/) (channel `#platform`).

[2021-08-17 14:29] #1217 closed

[2021-08-17 18:02] juancoen commented on #1024
Yes, I think that will work for my use case, thanks!

[2021-08-17 20:59] jromero commented on #945
Update from ongoing [conversation](https://buildpacks.slack.com/archives/CCP60GJLS/p1629148547016300?thread_ts=1628706578.003300&cid=CCP60GJLS):

[2021-08-17 21:03] dmikusa-pivotal opened #1259 "pack doesn't honor `DOCKER_HOST` using `ssh`"
### Summary

`pack` doesn't honor `DOCKER_HOST` that uses `ssh`.

### Reproduction

1.  Have docker running on a remote host that is accessible via ssh.
2. Optionally enable passwordless ssh access by setting an `authorized_keys` file on the remote host.
3. Run the following:

[code]

SSH is a convenient and secure way to access a remote docker host. It would be nice if this worked.

### Environme

[2021-08-17 21:14] ipmb commented on #1024
@natalieparellano What would using a cache volume look like. I see the `--volume` flag, but I'm not sure where I'd mount it.

Based on what you're saying, [for my use case](https://github.com/buildpacks/pack/issues/1024#issuecomment-764946620) it may be faster to have CI build the image in the docker daemon, run the necessary tests, upload the cache volume to S3 and push the image to the repositor

[2021-08-18 16:35] buildpack-bot opened #1260 "[RFC #0093] Update process types in inspect-image output to support command slice"
This issue have been automatically created from pull request buildpacks/rfcs#168.

[2021-08-18 18:00] jromero commented on #1077
This is ready to implement as per [RFC#0091](https://github.com/buildpacks/rfcs/blob/main/text/0091-pack-cache-options.md)

[2021-08-18 18:01] jromero commented on #665
This is ready to implement as part of https://github.com/buildpacks/pack/issues/1077. Closing as duplicate.

[2021-08-18 18:01] #665 closed

[2021-08-18 21:16] #1127 closed

[2021-08-18 23:28] aemengo opened #1262 "Pack build should depict errors in terminal UI"
### Context
At this point of the `pack build` visual workflow, the happy path of the visual workflow should be completed. This issue is about depicting any errors that may arise in the non-happy path. This depiction _may_ consist of:
- a simple modal showing an error string in red

### Objective
**When** I run `pack build --interactive/-i <name>`
**And** an error arises
**Then** I should see the e

[2021-08-19 19:28] jromero commented on #1244
Really nice set of changes @importhuman! Thank you!

I'm assuming there's an upcoming PR for `buildpacks/github-actions` to close out this issue.

[2021-08-19 19:31] importhuman commented on #1244
@jromero yup, just wanted to confirm if the code needed any changes. Will do it for the other repo now.

[2021-08-20 05:24] jimil749 commented on #1254
/cc @jromero, do you think it would be wise to move the check? :sweat_smile:

[2021-08-20 05:39] jromero commented on #1254
Yes. In general I agree that it should be moved. I think the only requirement that I would ask for is that it could be replaced.

Basically the two supported use cases should be:

1. (Default) If I don't do anything special, calling packClient.Build() should trust the suggested builders.
2. I would like to set different behavior, ie trust different builders or trust no builders at all, when I call

[2021-08-20 06:09] jimil749 commented on #1254
Does this imply that, even if I have one of the [trusted builders](https://buildpacks.io/docs/tools/pack/cli/pack_config_trusted-builders_list/) and the user chooses to NOT trust the builder, the builder shouldn't be trusted?

[2021-08-20 18:40] SAY-droid427 commented on #1221
Thank you so much @jromero ! I couldn't start working on the issue right away because I was down with fever after my first vaccine dose. Could you please help me a bit by pinting out where exactly the changes need to be made? thanks!

[2021-08-21 03:04] importhuman commented on #1244
This can be closed now.

[2021-08-23 14:25] importhuman commented on #748
@jromero does this need work? The readable RFCs linked in #752 are broken links so I can't tell from them.

[2021-08-23 14:29] importhuman commented on #1136
@dwillist I'll work on this

[2021-08-28 22:44] edmorley commented on #1244
@importhuman Thank you for implementing this! :-D

[2021-08-28 22:44] #1244 closed

[2021-09-01 19:56] #1201 closed

[2021-09-01 20:54] jromero commented on #1245
Tried a few things and this is going to require a bit more elbow grease (restructuring). Sorry but it may take one more release before we can ship this out. :/

[2021-09-01 20:55] #1213 closed

[2021-09-02 10:36] aSemy opened #1272 "`pack` should respect 'XDG Base Directory' and not create .dotfiles inside `$HOME`"
### Summary

I'd like to install pack zsh completion. I'd also like to keep my `$HOME` clean of dot files.

A summary of the XDG Base Directory is available here: https://wiki.archlinux.org/title/XDG_Base_Directory

I've set the correct environment variable.

[code]

### Reproduction

When I run `pack completion --shell zsh`, it creates a `.pack` directory inside `~`.

[code]

##### Expected behav

[2021-09-02 14:04] aemengo commented on #1272
Thank you for raising this issue. A clarifying question: how are you experimenting with `PACK_HOME`? Are you saying that the following didn't work for you?

[code]

[2021-09-02 15:16] aSemy commented on #1272
Ah thanks, that command works. It's strange that when I set the `PACK_HOME` as an environment variable it doesn't work...

[code]

[2021-09-02 15:21] jromero commented on #1272
How did you set `PACK_HOME`? Did you `export` it?

You can check your env vars by running:

[code]

[2021-09-02 20:46] aSemy commented on #1272
I've been struggling setting environment variables in WSL - it seems it's an ongoing issue ([example](https://askubuntu.com/questions/1046253/http-proxy-not-showing-up-with-printenv-on-wsl)). I've exported `PACK_HOME` in `.zshrc`

[code]

and now I get the expected result!

[code]

[2021-09-02 21:35] joshuawhite929 commented on #1259
Just wanted to add that this prevents using Podman with pack on the Mac as Podman runs in a VM.  With all of the noise around finding alternatives to Docker Desktop for the Mac, it would be REALLY nice to have this work.

[2021-09-02 22:48] matejvasek commented on #1259
It looks like `Go`'s `docker` client library `github.com/docker/docker/client` doesn't support `ssh`. But `docker` CLI does.

[2021-09-02 22:53] matejvasek commented on #1259
I could work on this. I would take code from `docker` CLI and from `podman` to support `ssh`. Preferable with support for custom path is the uri the way `podman` supports it (while `docker` doesn't).

[2021-09-02 22:57] matejvasek commented on #1259
@jromero could you please assign this to me?

[2021-09-02 23:38] jromero commented on #1259
@matejvasek, done. I appreciate you volunteering.

[2021-09-03 01:41] joshuawhite929 commented on #1259
As we think about a solution for this, it would be nice if we can eliminate the need to specify the location of the remote docker host using the `--docker-host=/run/user/1000/podman/podman.sock` flag.  Could another environment variable or other configuration mechanism be used for pack to specify this?

[2021-09-03 12:15] dmikusa-pivotal commented on #1259
@joshuawhite929 +1 for that. I don't want to need an argument on every pack command I run. An env variable would be nice. For the Docker CLI, you can set `DOCKER_HOST=ssh://...` and it just works. Not sure if Podman has a similar convention, but it would be nice if pack looked for and followed existing conventions for env variables.

[2021-09-03 13:47] jromero commented on #1259
RE: `--docker-host`

We've had discussions in the past about reducing the complexity and/or eliminating the flag altogether. See https://github.com/buildpacks/pack/issues/1093. @micahyoung was on the hook for creating an RFC 😉. We may need to take another closer look. I don't recall exactly where we last landed on that but I still feel like we should only have one flag/option for both pack and the

[2021-09-03 14:12] matejvasek commented on #1259
Also isn't there an attempt to avoid socket muting all together and export tar instead?

[2021-09-03 17:47] jimil749 commented on #1254
/cc @jromero, it'd be great if you can clear this up!

[2021-09-03 17:55] jromero commented on #1254
@jimil749 one way to achieve this is to replace TrustBuilder option from being a boolean to being a function that returns a boolean. The default function could look at the config you just mentioned (along with any existing logic in the cmd package) but the user of the library can the provide a very different function with their own logic as to whether a builder should be trusted.

It's a lot like

[2021-09-03 18:26] jromero commented on #1259
Yes. I'm not sure how far away from that we are though.

/cc @jjbustamante

[2021-09-04 06:16] jimil749 commented on #1254
Having a func makes sense @jromero! Just a final question, since we have the `suggestedBuilders` stored in the `internal/commands` package, we cannot just import the package in the `pack` package because it would cause import cycles! Does it make sense to move the suggested builders into a separate package?

[2021-09-04 06:32] jromero commented on #1254
@jimil749 ugh, import cycles. 🤢 Yes, do what you must. LOL. We can discuss it further as part of the PR if we can somehow improve it. It's typically easier to discuss once we have something to look at.

[2021-09-04 06:37] jimil749 commented on #1254
Alright! :+1:

[2021-09-05 17:35] importhuman opened #1275 "Add functionality for passing previous-image flag to analyzer"
### Description

#1198 added the previous-image flag to creator. According to #897, it needs to be added to analyzer as well.

### Additional context
- [x] This feature should be documented somewhere

[2021-09-07 14:31] jromero commented on #1272
@aSemy, glad this worked out. I'm going to close this as resolved unless you think there's more here to uncover/discuss.

[2021-09-07 14:31] #1272 closed

[2021-09-07 14:37] jromero commented on #666
There's been further discussion that this information can be hosted by the buildpacks registry: https://github.com/buildpacks/registry-api/issues/56

[2021-09-07 16:48] jimil749 commented on #1254
@jromero #1274

[2021-09-08 03:15] aemengo commented on #1221
Hey @SAY-droid427, I wanted to check on how you're finding this issue. In general, the way it works is that there's 2 code paths when building the application image:
* the [create](https://github.com/buildpacks/pack/blob/main/internal/build/lifecycle_execution.go#L180) container
* the deconstructed 5-phase containers - in this case, [build](https://github.com/buildpacks/pack/blob/main/internal/bui

[2021-09-08 15:00] natalieparellano commented on #1091
@jromero apologies for the slow reply. AFAIK lifecycle image isn't spec'd.

[2021-09-08 15:35] natalieparellano commented on #1024
@ipmb apologies for the slow reply. I think that makes sense - though I'd be curious to know why the cache volume needs to be uploaded. Is it being shared across builds?

`pack build` by default will create a cache volume to be used for all future builds of the same image. You can see this with the `-v` flag:

[code]

Additionally there is some work underway to allow the volume to be specified: ht

[2021-09-08 16:02] ipmb commented on #1024
yeah, exactly. I'm using ephemeral build infrastructure (AWS Codebuild), so any resources I want to share across builds either need to get stored in a container registry or object store like S3 between builds. My assumption is that the cache volume is only useful if it exists for subsequent builds.

[2021-09-09 14:40] importhuman commented on #1275
I'm a bit stuck on what exactly the parameter for analyzer should be. For instance, in creator in #1198, we appended `-previous-image <prev-image>` to the flags. As per #897, analyzer needs this in the form of `analyzer <prev-image>`. What is this parameter exactly that is being passed? LifecycleImage?
cc: @jromero

[2021-09-09 15:50] aemengo commented on #1275
@importhuman I'm having trouble following the question as written. In https://github.com/buildpacks/pack/pull/1198, you implemented the functionality with the following line of code [here](https://github.com/buildpacks/pack/blob/main/internal/build/lifecycle_execution.go#L217):

[code]

The analyzer would thus require the same parameter: `l.opts.PreviousImage`. Does this help?

[2021-09-09 17:38] importhuman commented on #1275
@aemengo yeah it does, I was initially thinking that creator already takes image as argument, so if analyzer also takes an argument, do I modify that or can I pass an extra parameter. I'll try appending the previous-image to args and make an initial PR.

[2021-09-09 18:20] aemengo commented on #1275
@importhuman Oh I understand now. Thank you for your patience with me, It's a good question.

As @natalieparellano explained to us in this [slack.buildpacks.io](https://buildpacks.slack.com/archives/CD61YAG69/p1624904455090600?thread_ts=1624553333.080000&cid=CD61YAG69) thread: analyzer already takes an argument so:

[code]

should become

[code]

And it makes sense because the analyzer phase is in

[2021-09-09 18:45] importhuman commented on #1275
@aemengo so is the parameter to be changed `l.opts.Image` or `l.opts.LifecycleImage`? 😅

[2021-09-10 02:59] matejvasek commented on #1259
@joshuawhite929 @dmikusa-pivotal I stared experimenting with SSH here https://github.com/matejvasek/sshdialer

example: https://github.com/matejvasek/sshdialer/blob/master/examples/docker-client/main.go

please try running the example locally to verify that it works on macOS

[2021-09-10 03:13] aemengo commented on #1275
@importhuman Ah. Well, I'm not quite so sure myself. There's an opportunity to learn here that I don't want to steal from you. 🙂

[2021-09-10 12:37] importhuman commented on #1275
@aemengo that's fair I suppose 😂 looking at tests in `internal/build/lifecycle_execution_test.go`, analyzer runs the phase with lifecycle image whether publish is true or false, so based on that I reckon tinkering with it is not the correct approach, rather the image should be modified. I'll work on some tests in `lifecycle_execution_test.go` before the next commit.

[2021-09-10 16:42] matejvasek commented on #1259
sample code: https://github.com/knative-sandbox/kn-plugin-func/pull/520/files#diff-6ab5fda3bf6386907a43c435b094df9024aba6999ce77a51f0b6fac5d09aae4bR110

[2021-09-11 13:00] dmikusa-pivotal opened #1281 "Enable configuring the date used by reproducible builds"
### Description

Presently when you build an image, all of the timestamps are zeroed out, which gives you a date like "41 years ago" for your images.

1. This is a confusion point for new users. Where does this date come from? Why is pack doing this? Why don't I see the actual date when I built my image?
2. It is inconvenient in a number of cases. Like if you are trying to compare two different im

[2021-09-12 02:31] dmikusa-pivotal commented on #1259
@matejvasek I am getting this error:

[code]

What seems to be happening is that I do have the server trusted in my `known_hosts` file, but the key type doesn't match. The code is looking for `ssh-rsa` but in my `known_hosts` file it's set as `ecdsa-sha2-nistp256`.

If I change the order of the host key algorithms, it will end up working:

[code]

that order works for me.

This is on a Mac (Big Su

[2021-09-13 18:27] matejvasek commented on #1259
@dmikusa-pivotal thanks for testing, I updated order could you please try it out? Also could you please download https://github.com/matejvasek/sshdialer and run tests?

[2021-09-13 19:04] schneems opened #1283 "UX bug: Show a difference between zero args and empty args"
### Summary

I ran into an issue where (due to a buildpack version difference) one buildpack was working and one wasn't. I figured out the problem eventually, but the core issue that made debugging harder than it had to be was that lifecycle currently shows the same output for empty args `[]` as it does for args that contain no characters `[""]`.

[code]

Here's my original notes and investigation

[2021-09-13 22:20] edmorley commented on #1283
Instead of a count of the args (which seems a bit out of place in all but the zero args case), another option might be to show `<NONE>` or similar in the no-args case.

@schneems Also, I wonder if (as part of another issue) lifecycle should forbid empty string `args` given they seem to not be valid from what you found the other day?

[2021-09-16 12:50] dmikusa-pivotal commented on #1259
I am unfortunately still getting the error about server key not found.

[code]

[2021-09-16 12:53] matejvasek commented on #1259
@dmikusa-pivotal
1. try ssh into the VM first so key is stored in `known_hosts`
2. if it wouldn't work despite that the key is in the `known_host` file then try removing and repopulating it
3. could you please pull the library https://github.com/matejvasek/sshdialer  and run `make test`?

[2021-09-16 12:54] matejvasek commented on #1259
`ssh.KeyAlgoECDSA256` is first now

[2021-09-16 12:57] dmikusa-pivotal commented on #1259
Your tests look good btw.

[code]

That's on my Ubuntu 20.04.3 LTS VM.

[2021-09-16 13:06] dmikusa-pivotal commented on #1259
[code]

and trying to delete & recreate.

[code]

This worked on my Linux box. On my mac, it fails with a port conflict.

[code]

but nothing is listening on port 22 on my Mac.

[2021-09-16 13:20] dmikusa-pivotal commented on #1259
Sorry, disregard my failures. Too early, not enough caffeine in my body.

I had used `ssh://ubuntu@localhost:222` as my URL in the example but was running `ssh://ubuntu@127.0.0.1` to add the host key. Once I trusted the key for localhost it worked fine.

[2021-09-16 15:19] edmorley opened #1286 "Hardlinks are dereferenced in generated archives increasing buildpack and app image sizes"
### Summary
If a local buildpack contains files that are hardlinks of each other, the hard links are not preserved in the `.cnb` file or OCI image created by `pack buildpack package`, and instead the file contents is duplicated, increasing the size of the buildpack.

This affects compiled buildpacks that use a single hard-linked binary for detect/build (where the binary determines which mode it is

[2021-09-16 15:28] edmorley commented on #1286
Hard links are also not preserved either (a) if they existed in the app source provided in the workspace to Pack, (b) if the buildpack creates them during `bin/build`. I can file these separately if needed, but for now I thought I'd start with just the `pack buildpack package` case, since it's the one affecting us - and the fix for this might fix the others (I haven't looked at the implementation)

[2021-09-16 16:08] schneems commented on #1283
For my case that would be great. I think there might be another case where someone writes a bash tool that needs an empty arg. If we raised/disallowed an empty arg then also including some kind of escape valve. For example `allow_empty_arg: true` in the launch.toml

[2021-09-16 22:59] vlk-charles commented on #925
I don't know if it's still relevant to this issue but the hack can be made to work with Podman too. You just have to reference something in `manifest.json` instead of leaving the paths empty for layers. See https://github.com/containers/podman/issues/8132#issuecomment-921042467. This shouldn't break Docker compatibility.

[2021-09-17 19:20] arjun024 opened #1288 "[v0.21.0] Unable to pass complex env to pack build"
### Summary
With v0.21, `pack build` fails when passed a complex build time env variable
like `--env BP_GO_GENERATE_FLAGS='-run "^//go:generate sleep"'`

---

### Reproduction

##### Steps

1. Clone and change directory to https://github.com/paketo-community/go-generate/blob/v0.0.5/integration/testdata/args_and_flags/main.go

2.  v0.20.0 (Success)

[code]

3. v0.21.0 (Failure)
[code]

### More Inf

[2021-09-17 19:24] jromero commented on #1288
Likely related to changes in https://github.com/buildpacks/pack/pull/1212

[2021-09-17 19:59] arjun024 opened #1289 "[v0.21.0] Buildpack does not receive build-time env vars after first comma"
### Summary

With v0.21, the `build` executable of the buildpack does not receive build-time env vars after first comma when running `pack build`

---

### Reproduction

##### Steps

1. I'm using https://github.com/arjun024/print-cnb that simply prints out `MY_ENV` environment variable.

2.  v0.20.0 (Success)

[code]

3. v0.21.0 (Failure)
[code]

### More Info

See Github Action failures associate

[2021-09-17 23:18] samj1912 commented on #1288
This also seems to be impacting me. Any chance we could revert this behavior to what it was before?

[2021-09-17 23:57] jromero commented on #1288
Getting out a patch!

Resolved by e09e397bc45315fa537fded032e57e678525c0b4

[2021-09-17 23:57] #1288 closed

[2021-09-17 23:57] jromero commented on #1289
Getting out a patch!

Resolved by e09e397bc45315fa537fded032e57e678525c0b4

[2021-09-17 23:57] #1289 closed

[2021-09-18 06:38] samj1912 commented on #1288
Thank you so much for the quick fix!

[2021-09-22 08:24] importhuman commented on #1196
Is there a way I can work on this without having access, or is the issue for maintainers?

[2021-09-22 13:37] importhuman commented on #1262
I'll take this up!

[2021-09-22 23:40] hone opened #1292 "forward bin/detect stderr for non standard exit codes"
### Description

`pack` should display the error messages for unexpected exit codes during `bin/detect`. Without the verbose flag, the errors are hidden and it makes it look like the buildpack is operating normally returning a failed detection.

According to the [Buildpack API spec](https://github.com/buildpacks/spec/blob/main/buildpack.md#detection), the only normal exit codes are `0` for Pass an

[2021-09-23 12:58] harjis opened #1293 "pack fails with: Cannot stat: No such file or directory"
### Summary

Hi! I'm trying out pack but it seems that all commands fail with a tar related error message.

I tried searching for issues like this but I didn't find anything.

---

### Reproduction

##### Steps

1. Install pack
2. Download sample-app
3. Run pack build

[code]

##### Current behavior

Pack build fails with the message above. It also creates a `build.tar.gz` file in the directory wh

[2021-09-23 13:15] harjis commented on #1293
When I run all pack commands with `sudo` it works as expected. I'm wondering why I need to do that 🤔

[2021-09-23 14:14] harjis commented on #1293
Turns out I had a function defined `pack()` which I had completely forgotten about 😅

[2021-09-23 14:14] #1293 closed

[2021-09-29 10:05] importhuman commented on #1262
@aemengo any suggestions for source code to quickly build images and test?

[2021-09-29 11:38] collimarco commented on #1143
I would love to have this feature.

Here's a practical use case: https://github.com/buildpacks/community/discussions/136

[2021-09-29 14:44] aemengo commented on #1262
@importhuman

The [samples](https://github.com/buildpacks/samples/tree/main/apps) repo is supposed be the go-to for this. Personally, I just use this super simple [go app](https://github.com/aemengo/hello) I made.

Definitely a good question. The only way I've seen is when my docker daemon runs out of space. If I can think of something less "heavy", I'll ping you with it.

[2021-10-01 14:15] samj1912 commented on #1196
This issue can currently only be fixed by maintainers. @samj1912 to figure out a label to tag such issues in the future.

[2021-10-06 16:14] jromero commented on #207
Closing based on OP's [comment](https://github.com/buildpacks/pack/issues/207#issuecomment-663035410).

[2021-10-06 17:12] dfreilich opened #1300 "Update to go 1.16"
### Description
We should consider upgrading to go1.16 (if not further), to resolve a few vulnerabilities.

Relevant slack [here](https://buildpacks.slack.com/archives/CD61YAG69/p1632253379043000)

### Additional context
We should check with our library consumers (e.g. Skaffold), to ensure that there won't be any compatibility issues with this.

[2021-10-06 23:29] buildpack-bot opened #1301 "[RFC #0096] validate buildpacks' targets to based images"
Today, mixin validation is done by `pack` both at the time of builder creation and at build time.

For Platform API `0.12` and greater, we should replace mixin validation with target data validation. Namely,

In buildpack.toml:

[code]

In image config:

* `os`
* `architecture`
* `variant` (if specified)
* io.buildpacks.distribution.name label (if specified)
* io.buildpacks.distribution.version la

[2021-10-06 23:29] buildpack-bot opened #1302 "[RFC #0096] Add --force to rebase operation"
As of Platform API `0.12` `-force` is a flag on the rebaser that will skip target data validation. Pack should expose this flag to the end-user.

[2021-10-06 23:29] buildpack-bot opened #1303 "[RFC #0096] Remove 'stacks' from builder.toml"
`builder.toml` has a `[stack]` key which doesn't make sense in a post stack world ([docs](https://buildpacks.io/docs/operator-guide/create-a-builder/#1-builder-configuration)). However the new key name and the structure of this field are yet to be determined.

builder.toml has current schema:

[code]

This feeds into /cnb/stack.toml in the created builder with schema:

[code]

Proposed schema for

[2021-10-06 23:29] buildpack-bot opened #1304 "[RFC #0096] Update package commands with targets in mind"
This issue have been automatically created from pull request buildpacks/rfcs#172.

[2021-10-07 10:01] cmoulliard opened #1305 "Suggestion: Download a snapshot release of the lifecycle"
### Description

When we would like to use a different lifecycle release from the list of the published releases - see: https://github.com/buildpacks/lifecycle/releases), then we can set the property `version`
within the `builder.toml` file to include it within the builder image :
[code]
Such a version will then generate a request to download the following artifact "`Downloading from https://githu

[2021-10-07 14:21] cmoulliard commented on #1305
The limitation of the current approach is that it is needed to re-build a new builder image if we would like to use, when we will do a build, lifecycle creator v1.0 or v1.1 or v1.0-SNAPSHOT or v1.0-rc1 .... We dont have this problem using `pack build` client locally as we can pass as parameter the lifecycle image to be used

[2021-10-07 17:00] cmoulliard commented on #1305
Do I miss a step. I built a new lifecycle and created a tgz file but process to create the `builder` image fails

[code]

Steps
[code]

[2021-10-07 17:55] cmoulliard commented on #1305
No luck

[code]

[2021-10-07 18:38] cmoulliard commented on #1305
Ideally, at runtime, when by example we execute a build using a container, pod and where we would like to override the lifecycle pakaged within the image

[2021-10-07 19:48] cmoulliard commented on #1305
This is not what I'm asking. What I would like is to be able to specify the version of the lifecycle to be used when a pod is doing a  build.

[code]

That will certainly then need that a pre-step is added (= initContainer) to load the needed go binary before to launch the build ...

[2021-10-07 20:40] aemengo commented on #1305
Again, it's still not clear what you want. If you:

1. Want the "builder to download the specified lifecycle" into its container, _at runtime_, this will require an RFC proposal. It goes against the principles of reproducibility to have core components on a container image be switched out, after the container is built.

1. Want to change the binary used for the `export` pod in your k8s definition,

[2021-10-08 07:40] cmoulliard commented on #1305
Thanks. That did the job :-)

[code]

[code]

[2021-10-08 08:43] cmoulliard commented on #1305
uri is enough.

**Isue**: uri do not work for the lifecycle property if we pass an image
[code]
--->
[code]
@aemengo

[2021-10-08 14:00] aemengo commented on #1305
@cmoulliard Write RFC

[2021-10-14 07:15] jimmykarily opened #1309 "BOM label doesn't play nice with containerd (> 1.5.6) label limits"
### Summary

Originally opened here: https://github.com/paketo-buildpacks/full-builder/issues/415 (partly copied here).

I'm building an image using the full-builder (which is using `pack`). I'm doing this through [Epinio](https://github.com/epinio/epinio/). The cluster I'm using is [k3d](https://k3d.io/v5.0.0/) using the image `rancher/k3s:v1.22.2-k3s2`. That image is running containerd `v1.5.7`

[2021-10-14 09:57] samj1912 commented on #1309
I have created a fix at https://github.com/containerd/containerd/pull/6124. However I am not sure if that will be accepted as it is.

[2021-10-20 05:38] #1309 closed, assigned to nobody

[2021-10-20 15:51] #1055 closed

[2021-10-20 20:48] joshuawhite929 opened #1310 "Pack fails to download image from private repo with self-signed certificate during Analyze phase"
### Summary
When using a private registry with a self-signed certificate, pack fails when executing a build with the "publish" flag during the Analyze phase.  Because this problem occurs during the Analyze phase, this appears to be a pack specific issue.

Self-signed certificates are already trusted by the OS (MacOS).

---

### Reproduction

##### Steps

1.  Execute a pack build using a private re

[2021-11-02 19:03] #1245 closed

[2021-11-08 14:46] aemengo opened #1319 "ssh_dialer_test.go should use sclevine/spec reporter"
### Description
The specs in **ssh_dialer_test.go** should use the sclevine/spec reporter; for consistency with the rest of the specs

[2021-11-08 17:13] josegonzalez commented on #907
Is this "just"

- adding a new entry to the build matrix: https://github.com/buildpacks/pack/blob/main/.github/workflows/build.yml#L137
- add a stanza like this for linux-arm: https://github.com/buildpacks/pack/blob/main/.github/workflows/build.yml#L191

Or is there something I'm missing?

[2021-11-09 10:56] edmorley opened #1320 "Make `pack build --buildpack <path>` apply configuration in `package.toml`"
### Description
Currently if `pack build --buildpack <path>` points at a directory containing a `package.toml`, the `package.toml` file is ignored, and instead the directory is packaged into an ephemeral builder image using the default settings. ie: It's as though this were in `package.toml`:

[code]

This means it's not possible to build/test meta-buildpacks with `--buildpack <path to meta-buildp

[2021-11-09 11:25] edmorley commented on #1320
It looks like `--buildpack <path>` buildpacks are handled here during `pack build`:
https://github.com/buildpacks/pack/blob/26d8c5c5607933c6d0738f3c37370c87d2e134f1/pkg/client/build.go#L743-L760

In comparison, this is how `pack buildpack package` handles them:
https://github.com/buildpacks/pack/blob/522eca8eda5ef8bf400455719b95d29238eda093/pkg/client/package_buildpack.go#L82-L140

[2021-11-10 20:50] robdimsdale commented on #1184
Given that PR (#1051) was merged, is this issue complete?

I ask because I'm trying to understand what platform API pack supports, and this issue being open is a little confusing as it implies that 0.6 is not fully supported.

[2021-11-10 23:38] samj1912 commented on #1184
@jromero may correct me if I am wrong but pack uses platform 0.6 I believe.

[2021-11-11 16:01] robdimsdale commented on #1184
Right, so we can close this issue?

[2021-11-11 17:29] #946 closed

[2021-11-11 17:29] #1184 closed

[2021-11-11 17:29] #1185 closed

[2021-11-11 17:37] #1300 closed

[2021-11-11 20:35] edmorley opened #1322 "`pack build --buildpack` doesn't overwrite existing buildpacks in the builder correctly"
### Summary
When `pack build` is run using the `--buildpack` argument, and the provided buildpack ID and version match a buildpack already in the builder image, pack claims to overwrite the existing buildpack, however actually only overlays the imported buildpack on top of it, leaving any stray files intact.

ie: The resultant buildpack in the ephemeral builder used for the build ends up being a h

[2021-11-15 14:12] matejvasek opened #1325 "ssh_dialer_test.go should use mock Go SSH server instead of container"
### Description
The test right now requires Linux Containerization so test cannot be run on macOS.
It could run on Windows with Windows' containerization but that would require adding new Windows docker file,
and probably some more Windows specific code.

### Proposed solution
Replace containerized SSH testing server with SSH server in Go.

This would be also useful for porting the code back to `p

[2021-11-16 18:58] jromero commented on #1322
If I'm not mistaken we have two options here:

1. Create a new image with the old buildpack layer excluded from the layers list.
2. Append a ["whiteout" layer](https://github.com/opencontainers/image-spec/blob/main/layer.md#whiteouts) before appending the new buildpack layer.

I don't have much experience with the whiteout method to know whether that would work in all cases but I would assume that

[2021-11-19 00:53] DennisDenuto commented on #268
@dfreilich Are there any updates wrt pack integrating with cosign? Happy to be pointed to a bunch of docs / roadmaps etc

[2021-11-19 01:00] samj1912 commented on #268
@DennisDenuto - we were just talking about this during the office hours today - we will be working on an RFC to start the conversation around cosign integration with buildpacks. You can track https://github.com/buildpacks/rfcs/issues/192 for now.

[2021-11-19 02:34] samj1912 opened #1333 "Add support for platform 0.7 and 0.8"
### Description

Add support for platform 0.8 for sbom support

### Proposed solution

### Describe alternatives you've considered

### Additional context
- [ ] This feature should be documented somewhere

[2021-11-19 02:35] samj1912 commented on #1333
Related kpack PR for migration steps https://github.com/pivotal/kpack/pull/889

[2021-11-19 14:09] aemengo commented on #1333
I believe that @mboldt is already making headway on adding support for platform `0.7`. After that is completed, we (_or anyone interested_) can focus on the support for platform `0.8`.

[2021-11-22 09:49] #1333 closed

[2021-11-22 09:56] samj1912 opened #1335 "Add support for downloading sbom via the platform 0.8 interface"
### Description

Platform 0.8 in lifecycle uploads new sboms to a separate layer instead of a label. We should add support in pack to download this layer as a tarball.

### Proposed solution

### Describe alternatives you've considered

### Additional context
- [ ] This feature should be documented somewhere

[2021-11-28 09:50] fkaleo commented on #1114
Documentation work remains: https://github.com/buildpacks/docs/issues/345

[2021-11-29 13:14] importhuman commented on #1262
@aemengo apologies for the lack of response.

I haven't been able to introduce errors, and I've been unable to take out time to work on the issue as well. For now, I'm not working on this issue until I can commit to it.

[2021-11-29 14:51] aemengo commented on #1262
@importhuman It's no problem at all! Thanks for giving it your best effort and keeping me in the loop.

[2021-11-29 15:12] #1325 closed

[2021-12-01 13:18] jromero commented on #1091
Given that neither set of labels and supported APIs were spec'd, I'm comfortable with moving to using the new label. Additionally, for context we are specing this out via the [distribution spec](https://github.com/buildpacks/spec/pull/264/files).

# Proposed Solution

1. Get the supported versions  for the **builder** image from the label `io.buildpacks.builder.metadata` (property: `.lifecycle.api

[2021-12-01 19:02] matejvasek opened #1338 "Better defaults for `--docker-host`."
### Description
When running `pack` against docker socket at non-standard location using the `DOCKER_HOST` environment variable,
the user also has to set the `--docker-host` flag so export container knows how to access the daemon.

Right now it defaults to `unix://var/run/docker.sock` which is not always right.

The value of the flag can be determined if docker host is either `unix socket` or `ssh

[2021-12-02 22:13] aemengo commented on #1319
Fixed by: https://github.com/buildpacks/pack/pull/1327

[2021-12-02 22:13] #1319 closed

[2021-12-06 19:59] #1174 closed

[2021-12-09 18:15] jromero commented on #1310
If I'm not mistaken, this is a limitation on there being no contractual way for a platform, such as `pack`, to inject self-signed certificates.

I don't know if there have been new findings but prior workarounds I'm aware of are to extend the builders. By creating a new image `FROM <builder>` you can install the certificates necessary (typically needing to run `update-ca-certificates`).

The addit

[2021-12-13 22:40] aemengo commented on #1335
As of [v0.23.0](https://github.com/buildpacks/pack/releases/tag/v0.23.0), pack can now display the [file-system](https://github.com/buildpacks/pack/pull/1326) of the build container. I think this would be a great feature, and workflow, to have as part of the terminal UI. What do you think?

[2021-12-14 00:09] samj1912 commented on #1335
That sounds great, but I think we will still need to have a replacement for pack inspect-image --bom which works for both remote images and local images

[2021-12-14 14:08] jylin commented on #1338
+1

With [docker rootless](https://docs.docker.com/engine/security/rootless), I currently use "--docker-host inherit", which works, but it would be good if this were not needed.

Also, related to this request, but can "pack" detect DOCKER_HOST from docker context if DOCKER_HOST is not set? See: https://docs.docker.com/engine/security/rootless/#client

[2021-12-14 14:12] jylin opened #1346 "Detect docker endpoint from docker context"
When using [Docker rootless](https://docs.docker.com/engine/security/rootless/#client), the endpoint that should be used is not the default `/var/run/docker.sock` location. Instead docker CLI can be pointed to a different (context)[https://docs.docker.com/engine/security/rootless/#client]), which defaults to another location like `unix:///run/user/1000/docker.sock`.

The Docker CLI uses context fo

[2021-12-14 14:14] jylin opened #1347 "Override UID for container"
`pack` supports a `--gid` flag, but why does it not support a `--uid` flag?

I would like to override the default UID that's used  because in docker rootless mode, the mappings are different (the 0 uid maps to the user running the docker daemon).

[2021-12-14 14:53] aemengo commented on #1347
Perhaps we could collapse the fields like docker does

[code]

[2021-12-20 18:44] aemengo commented on #1206
This issue has been implemented and shipped.

[2021-12-20 18:44] #1206 closed

[2021-12-20 18:44] aemengo commented on #1205
This issue has been implemented and shipped.

[2021-12-20 18:44] #1205 closed

[2021-12-20 18:44] aemengo commented on #1204
This issue has been implemented and shipped.

[2021-12-20 18:44] #1204 closed

[2021-12-20 18:44] aemengo commented on #1203
This issue has been implemented and shipped.

[2021-12-20 18:44] #1203 closed

[2021-12-20 18:44] aemengo commented on #1200
This issue has been implemented and shipped.

[2021-12-20 18:44] #1200 closed

[2021-12-27 14:30] basit9958 commented on #1091
@jromero  I Want to try to solve this can you please assign this to me and point out some resources to solve this issue

[2021-12-27 14:41] jromero commented on #1091
Hi @basit9958 ,

Thank you for volunteering. What additional information do you think would be beneficial to better understanding and resolving this issue?

For what it's worth, we have a [Slack](https://slack.buildpacks.io) channel `#pack-cli` that you can join and ask more specific questions as you run into them.

Lastly, keep in mind that a lot of contributors (myself included) are out this wee

[2021-12-27 15:54] basit9958 commented on #1091
Additional info such as some other PR that I can refer to. I am really new to this so anything would be of great help.
Also Happy Holidays

[2021-12-29 17:06] basit9958 commented on #1091
@jromero can you give me some pointers to know what to implement and where.

[2022-01-03 05:34] basit9958 commented on #1335
I would like to solve this issue. I am a beginner. Please give me some pointers as well as to what to implement and where

[2022-01-03 14:36] dfreilich commented on #1335
@basit9958 thanks for expressing interest! There is also already a PR open for solving this at the moment (#1351) , though, so we should be fine here

[2022-01-03 16:05] edmorley opened #1352 "New PRs being placed in the wrong GitHub milestone"
### Description
In PR #1350, a bot added the GitHub milestone [0.23.0](https://github.com/buildpacks/pack/milestone/35), however Pack CLI v0.23.0 has already been released. The milestone [0.24.0](https://github.com/buildpacks/pack/milestone/36) should have been added instead. In addition, the 0.23.0 milestone is showing as still open, when it should be closed.

### Proposed solution

- [ ] Update

[2022-01-03 16:14] dfreilich commented on #1352
Thanks for noting that! That was my fault, I should've closed the milestone after I released it

[2022-01-10 00:38] abdennour commented on #997
Thank you @ekcasey ! most probably ,this is the exact guide for offline dependencies upload: https://github.com/paketo-buildpacks/samples/tree/main/java/maven

[2022-01-20 17:35] jromero commented on #1091
Hi @basit9958, wanted to check in since we last chatted on Slack. Is there anything we can do to further assist?

[2022-01-25 11:59] shresthaujjwal commented on #866
Just checking to see if RFC was submitted for this request?

[2022-01-26 09:57] enricorotundo commented on #223
Hey @fagiani is there any guide out there on how to convert heroku-buildpacks to CNB buildpacks? I see [you've been through this journey as well](https://github.com/heroku/heroku-buildpack-nginx/issues/70#issue-770847901). I'm a bit confused.... isn't heroku supposed to be using the official buildpacks standard?

[2022-01-31 22:31] fagiani commented on #223
@enricorotundo There are other versions of buildpacks as you can see below:
![image](https://user-images.githubusercontent.com/2450/151883086-1826739e-50b4-4515-b5d4-3d0c3aa873d3.png)

If I understand it correctly, heroku still uses it's `V2` buildpacks.

I've spent some time to understand how both work in order to transition them to current CNB ones... If you're looking to convert any specific bu

[2022-02-04 11:26] edmorley opened #1368 "Add support for a pull policy that only pulls new images periodically"
### Description
Pack's default pull policy is `always`, which means that on every `pack build`, it attempts to pull images (eg the builder image).

This is great for ensuring users don't accidentally build against outdated images, however:
- It adds several seconds to every `pack build` (even for a no-op when images are up to date)
- It counts against the container registry's rate limits (even for

[2022-02-06 22:29] jkutner commented on #1368
I like this ideal of configurable intervals, but something as simple as this might solve the 90% case:
* `--pull-policy hourly`
* `--pull-policy daily`
* `--pull-policy weekly`

[2022-02-09 20:54] natalieparellano commented on #1281
Related PR: https://github.com/buildpacks/imgutil/pull/137

[2022-02-11 09:02] AidanDelaney opened #1369 "Pack 0.24.0 `--version` reports 0.0.0"
### Summary
`pack --version` reports `0.0.0` in latest release.  This is set in the build time variable `PACK_VERSION`.  It appears that `PACK_VERSION` is set in [`.github/workflows/build.yml`](https://github.com/buildpacks/pack/blob/main/.github/workflows/build.yml#L57).

---

### Reproduction

##### Steps
1. `go install github.com/buildpacks/pack/cmd/pack@latest`
[code]
2. ` ~/go/bin/pack --vers

[2022-02-12 05:43] Nivedita-coder commented on #1077
Hi @jromero @dwillist,  I want to contribute to this project for GSoC 2022, can you guide me on how can I get started with this project? Thanks!

[2022-02-12 14:43] edmorley commented on #1368
I like keeping this simpler - those names sound great to me.

I'm presuming there is no way to find out when a specific image was last pulled from Docker (even ignoring alternative implementations), since:
- Docker seems to only track the image created time (at least by looking at `docker inspect`), when we need the pull time instead
- Builder images have their timestamps normalised anyway (eg `"C

[2022-02-13 07:05] AidanDelaney commented on #1369
Of course, when you compile from source, you have to `export PACK_VERSION=x.y.z` yourself.  This is not a bug.

[2022-02-13 07:05] #1369 closed

[2022-02-13 16:32] edmorley commented on #1322
Repeating the steps to reproduce with pack CLI v0.24.0 shows that #1362 successfully fixed the issue :-)

[2022-02-13 16:32] #1322 closed

[2022-02-15 20:04] jjbustamante opened #1372 "Add Daemon support into pack"
### Description

_As a Developer, I want to use Pack to build a container image from my application source code and save it into the Daemon when the flag `--publish` is missing._

Currently, the previous statement works, but the `Lifecycle` interacts directly with the Daemon, we are working on different approaches to remove the Daemon support in the `Lifecycle`, in all scenarios, `Pack` is assumin

[2022-02-16 04:29] leshik opened #1373 "Cache is not working with 0.7 (and probably earlier) API"
### Summary

The cache is not working as described in the [documentation](https://buildpacks.io/docs/buildpack-author-guide/create-buildpack/caching/) with the latest API. The first build completes fine, and a subsequent one lacks a layer that was supposed to be cached, rendering the resulting image unworkable.

### Reproduction

Either follow the [documentation](https://buildpacks.io/docs/buildpa

[2022-02-16 14:44] jromero commented on #1368
Personally, I'm all for adding new pull policies. Preferably [those defined by Joe](https://github.com/buildpacks/pack/issues/1368#issuecomment-1030928537).

I'm a little more hesitant with "Make this new pull policy the default.". I think we should discuss the potential of unexpected behavior for end-users. If we limit this issue and its PR to simply adding new pull policies, that's a big 👍 from

[2022-02-16 14:51] jromero commented on #1373
@leshik thank you for reporting this. It seems as though this would be a lower-level issue and not so much `pack`. Let me see if I can get other people's eyes on this.

@buildpacks/buildpack-authors-tooling-maintainers any idea what may be going on here? Is there a better place for this issue?

[2022-02-16 14:54] jromero commented on #1368
@dfreilich I set this to status discussion-needed but if you have some thoughts that make this implementable please feel free to change it accordingly.

[2022-02-16 14:58] jromero commented on #1372
Setting status to **blocked**, since this issue was submitted to Google Summer of Code. This is scheduled to be worked on by a mentee.

[2022-02-16 14:58] jromero commented on #1077
Setting status to **blocked**, since this issue was submitted to Google Summer of Code. This is scheduled to be worked on by a mentee.

[2022-02-16 15:03] jromero commented on #1077
Hi @Nivedita-coder 👋 ,

Nice to see you here. I'd be more than happy to show you around.

If you can, could you reach out to me over in the [CNCF slack](https://slack.cncf.io/)? My username there is `@jromero`. Also, we have [`#buildpacks-mentoring`](https://cloud-native.slack.com/archives/C032LNSKPP1) channel if you have more general questions regarding Google Summer of Code.

[2022-02-16 19:49] Xantios opened #1374 "Buildpacks are not aarch64?"
### Summary
I run a Ubuntu VM through Vmware on a Apple M1 machine. i run Docker inside that VM and want to use pack. however when i try to run pack lifecycle dies with the error `standard_init_linux.go:228: exec user process caused: exec format error`

---

### Reproduction

##### Steps

1. Install vmware Fusion Tech Preview
2. install ubuntu & docker VM
3. make pack from source because aarch64 i

[2022-02-18 09:24] leshik commented on #1373
@jromero likely it's a bug in the restore functionality of [buildpacks/lifecycle](https://github.com/buildpacks/lifecycle), do you want me to open this issue there?

[2022-02-18 10:03] leshik commented on #1373
@samj1912 I don't get it. What should be changed in this particular sample buildpack then? It sets `cache = true` under `[types]` already.

[2022-02-18 10:07] samj1912 commented on #1373
Yes - but it needs to do that each time regardless of whether it found an existing cache or not. Currently it only does that conditionally when it doesn't find a cache.

The `cache=true` key signals that the layer should be re-used next time or not and it is wiped from the types table during each re-build. Currently this would mean that the cache would be preserved across 1 rebuild, but not more t

[2022-02-22 08:14] 4molybdenum2 commented on #1221
I can take this issue if its still relevant ? Just to clarify a few things... Can I get the ```report.toml``` from there and then write it to a host directory?
https://github.com/buildpacks/pack/blob/b09c8c8e6e02d22606513342057030f55577f191/pkg/client/rebase.go#L82-L83
Just change it to ```report, err = rebaser.Rebase(appImage, baseImage, nil)```?

[2022-02-22 18:42] marcusball opened #1376 "Environment variables not available while running `pack build`"
### Summary

The builder I'm trying to use requires some environment variables to be set while it is building. I can run the builder directly though docker like this, `docker run -t -e "MY_ENV=example" --rm example/builder`, and it works fine. However, if I try to run the builder with Pack, `pack build example-image -B example/builder --env "MY_ENV=example"` the detector phase throws an error sayi

[2022-03-01 17:45] jromero commented on #1376
@marcusball having a discussion on Slack about this here: https://cloud-native.slack.com/archives/C0331B61A1Y/p1646156479825739?thread_ts=1646156011.522369&cid=C0331B61A1Y

[2022-03-02 15:02] jromero commented on #1376
@marcusball an update here:

@natalieparellano dug into the `digitaloceanapps/apps-builder` and found that there's a custom entrypoint (`"ENTRYPOINT [\"/.app_platform/build.sh\"]"`). It's then that script that expects an environment variable.

As per the [spec](https://github.com/buildpacks/spec/blob/main/platform.md#user-provided-variables), pack only provides the environment variables through a

[2022-03-03 16:00] fg-j opened #1379 "`pack buildpack package` fails with 'no compatible stacks' on wildcard stack"
### Summary

When attempting to use `pack buildpack package` to package a composite buildpack that contains a buildpack whose `[[stacks]]` only contains one entry -- `id = '*'` and a buildpack that contains non-wildcard stacks, packaging fails with a stack incompatibility error
[code]
despite the buildpacks actually being compatible.

---

### Reproduction

##### Steps

1. Clone [my fork of the bu

[2022-03-04 15:18] natalieparellano commented on #866
@shresthaujjwal I don't believe so...

[2022-03-04 15:23] natalieparellano commented on #1374
@Xantios do you need to run `pack` inside the VM? `pack build` should work on Apple M1s if you are using emulation.

[2022-03-04 15:28] marcusball commented on #1376
Thank you for the reply!

Alright, that's the conclusion I eventually came to after filing the issue, but this is my first time trying to use Pack, so I wasn't confident I was interpreting the spec correctly.

Luckily, I ended up being able to work around once I dug into the builder image and realized it was basically just a bundle of Heroku builders with the additional custom entrypoint scripts.

[2022-03-04 15:31] natalieparellano commented on #1221
@4molybdenum2 thanks for offering to work on this! I believe this issue is still relevant (@dfreilich @jromero please correct me if I'm wrong).

We generate `report.toml` for both `pack build` and `pack rebase`. I think we'd be interested in getting it in both cases. For `pack build` it's a bit tricker as we'd need to copy it out of the build container before the container exits. I know @jromero h

[2022-03-04 19:37] ekcasey opened #1380 "[RFC #0101] `pack builder create` supports system buildpacks"
[RFC 0101](https://github.com/buildpacks/rfcs/blob/main/text/0101-system-buildpacks-in-builder.md) - System Buildpacks in Builder Images

Allow builder authors to specify system buildpacks in `builder.toml` with the following syntax:

[code]

This should result in a `system.toml` file containing the specified buildpacks on the created builder image.

This issue is blocked pending support in the li

[2022-03-04 19:41] ekcasey opened #1381 "[RFC #0101] `pack build` allows users to disable system buildpacks"
[RFC 0101](https://github.com/buildpacks/rfcs/blob/main/text/0101-system-buildpacks-in-builder.md) - System Buildpacks in Builder Images

`pack` should provide a mechanism by which users can disable system buildpacks.

suggested syntax:
[code]

This issue depends on https://github.com/buildpacks/pack/issues/1380. See tracking issue [here](https://github.com/buildpacks/rfcs/issues/209).

[2022-03-07 13:42] #1352 closed

[2022-03-09 17:39] matthewrobertson opened #1384 "`pack buildpack package` fails with unclear error message when missing version"
### Summary
I am working bundling our individual buildpacks as meta-buildpacks and I forgot to include the `version` of buildpacks in my `order.groups`. This was a mistake on my part, but the error message from pack was not very helpful:

[code]

There was no indication of the actual issue, which made it very difficult for me to track down.

### Reproduction

##### Steps

1. Clone the [buildpack/s

[2022-03-15 20:13] #1376 closed

[2022-03-15 20:15] natalieparellano commented on #1335
Closing as #1351 was merged.

[2022-03-15 20:15] #1335 closed

[2022-03-15 20:20] natalieparellano commented on #1214
@matejvasek are you still seeing this issue?

[2022-03-15 20:23] natalieparellano commented on #1281
Blocking this on lifecycle 0.14.0. Once that is released, pack will need to be updated to accept a new flag (`--use-current-time`? something else?) and set `SOURCE_DATE_EPOCH` in the lifecycle's environment.

[2022-03-15 20:31] natalieparellano opened #1389 "pack on platform 0.9 should download legacy boms from buildpacks from /layers/sbom/launch"
### Description
When using lifecycle 0.14.0+ and platform api 0.9, the legacy unstructured bom will no longer be included in the `io.buildpacks.build.metadata` label. Instead, it can be downloaded from the build container at /layers/sbom/launch.

[2022-03-15 20:34] natalieparellano opened #1390 "pack on platform 0.9 should provide `-launch-cache` and `-skip-layers` to the analyzer"
### Description
To fix the performance issue described here: https://github.com/buildpacks/spec/issues/276

[2022-03-16 07:15] damdinsharav opened #1391 "How to change lifecycle fetch url?"
I am using buildpack behind firewall and firewall doesn't allow to access github.

Is there a way to change lifecycle fetch url? If so I'd like to download necessary file and host inside the firewall.

I'm getting following error.

Status: Image is up to date for dtr.mycompany.local:8443/developer/stack-run:debian

debian: Pulling from developer/stack-build

Digest: sha256:dff416a15b0907ed09104c49

[2022-03-16 16:16] macsux opened #1392 "Pack not working with windows stack"
### Summary
Attempt to use windows stack as described [here](https://buildpacks.io/docs/app-developer-guide/build-a-windows-app/) fails as following
[code]

### Reproduction

Try to follow the instructions described here https://buildpacks.io/docs/app-developer-guide/build-a-windows-app/

##### Current behavior
Error

##### Expected behavior
Container creates successfuly

---

### Environment

###

[2022-03-16 19:39] spkane opened #1393 "Feature Request: Support exporting images to a `containerd` socket"
### Description
It is more and more common not to have a local Docker daemon available and during certain testing cycles pushing to a registry is not always easy or desirable.

It would be great if you could easily create a buildpack and then export the results directly into a containerd namespace.

### Proposed solution
Extend `pack` and the underlying `creator` command so that it is possible to

[2022-03-16 20:11] spkane commented on #1393
Cross-posted here: https://github.com/buildpacks/lifecycle/issues/829

Feel free to close one or the other, but I wasn't sure which location was best, and whether both tools would need related changes.

[2022-03-16 21:12] spkane commented on #1393
It looks like some discussion about adding this will be included in the RFCs that are mentioned here:
https://github.com/buildpacks/lifecycle/issues/829#issuecomment-1069624845

[2022-03-17 02:52] damdinsharav commented on #1391
Thank you @natalieparellano,

[code]

Worked wonderfully.

[2022-03-17 13:51] natalieparellano commented on #1392
Adding some info communicated out of band -

`pack build --lifecycle-image buildpacksio/lifecycle:0.13.3`  (without `--trust-builder`) leads to `The container operating system does not match the host operating system`.

However `docker run buildpacksio/lifecycle:0.13.3` executes successfully.

Therefore the issue seems to be a difference in how pack is starting containers vs. how docker is startin

[2022-03-19 05:22] #1391 closed

[2022-03-20 18:47] frayer opened #1395 "File ownership on files copied to the <app> dir are set to root when using Podman"
### Summary

Workspace files copied into the `<app>` directory of the Builder image have permissions set to `root` when `pack` is used in combination with Podman.  When doing the same against a Docker daemon, the `user:group` permissions match `${CNB_USER_ID}:${CNB_GROUP_ID}` of the selected Builder image.

This causes `permission denied` errors for buildpacks which attempt to write to the `<app>`

[2022-03-21 15:45] jromero commented on #1281
Just throwing out some ideas but is there a way to have a single flag like `--date-time` that support both human-friendly value of `now` as well as seconds since epoch (`date +%s`).

Examples

[code]

[2022-03-23 16:26] jromero commented on #1379
Converting this into a feature since it's technically a bug but more of a missing feature given that the buildpack API changed after the initial implementation.

We're happy to take any contributions for these changes. I believe they should be a "good first issue".

[2022-03-24 13:33] natalieparellano opened #1397 "[RFC #0081] Display process working directory"
When buildpack api >= 0.8, the process working directory is configurable. This information is in the `io.buildpacks.build.metadata`, so it could be displayed when running `pack inspect`.

[2022-03-24 14:09] jromero commented on #1392
Update: Started looking into this yesterday but to be honest, it may take a while just to even reproduce. At the moment, I tried to reuse a Windows 2019 workstation we had available but in trying to switch it to hyperv isolation it got hosed. I'll try to procure a appropriate machine.

[2022-03-24 15:49] jromero commented on #1392
@macsux while we try to reproduce it do you think you could try recompiling pack locally and changing all references of [`IsolationProcess`](https://github.com/buildpacks/pack/search?q=IsolationProcess) to `IsolationHyperV` or `IsolationDefault` ([defined here](https://github.com/moby/moby/blob/0798f5f5cf6908593472b21179360168cd9f4691/api/types/container/host_config.go#L48-L53)). This would at lea

[2022-03-25 05:44] ramiyengar opened #1400 "Missing release file for Impish repository"
### Summary
When following the installation instructions provided on https://buildpacks.io/docs/tools/pack/ for Linux/Ubuntu, it returns an error.

---

### Reproduction

##### Steps

1. ram@cff:~$ sudo add-apt-repository ppa:cncf-buildpacks/pack-cli
Returns an error for adding the repository.
E: The repository 'http://ppa.launchpad.net/cncf-buildpacks/pack-cli/ubuntu impish Release' does not have

[2022-03-25 14:42] willianpaixao commented on #907
@josegonzalez I took the freedom and went ahead to test your assumption. #1401

[2022-03-31 13:46] jromero commented on #1346
Thanks @dmikusa-pivotal , you provided answers to questions that immediately come to my mind. It seems like this is a docker CLI specific implementation. I'd be okay with integrating with it.

@matejvasek does postman have something similar?

[2022-03-31 17:25] jromero commented on #1392
**Update:**

Here's what I've found thus far...

1. The primary reason why this is a doesn't work on Windows 10 Enterprise (21H2) with process isolation is primarily to do with [this](https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/version-compatibility?tabs=windows-server-2019%2Cwindows-11-21H2#windows-client-host-os-compatibility):

    <img width="735" alt="i

[2022-04-01 22:25] samj1912 commented on #1379
@jromero I think this would still be a bug fix given that https://github.com/buildpacks/pack/pull/1234 added support for it. Would you be open to releasing a patch version of pack with this and a bunch of other wildcard stack fixes? This is currently blocking some work on our side. Happy to do the leg work to get the PRs out.

[2022-04-01 22:45] jromero commented on #1379
I'd be happy to support a patch if it's pressing and we can get a PR up from the latest released commit.

I say all this as long as there's no push back from @dfreilich ☺️

[2022-04-01 23:28] samj1912 commented on #1389
I believe this already works in pack v0.24.0. Do we want to close this issue?

[2022-04-01 23:36] samj1912 commented on #1379
Created two PRs - one for main and one cherrypicked to release/0.24 branch. LMK if there's anything else I can do to move this forward.

[2022-04-02 14:07] #907 closed

[2022-04-02 18:31] samj1912 commented on #1379
This has been fixed and released in 0.24.1

[2022-04-02 21:08] conradwt opened #1407 "Script Install Missing For macOS Intel and macOS Apple Silicon"
### Description

The script install instructions are missing for macOS Intel and macOS Apple Silicon.  When I'm on the GitHub releases page, one is instructed to click the link, https://buildpacks.io/docs/tools/pack.  When I'm on the page for this link, I only see the following:

![Screen Shot 2022-04-02 at 1 55 22 PM](https://user-images.githubusercontent.com/20219/161400938-81cc9979-8a6c-4b1e-a2

[2022-04-03 09:19] edmorley commented on #1352
I've just opened a new PR, and it was placed in the `0.24.1` milestone, even though that Pack version has already been released.

It looks like the new process wasn't followed for this latest release?

[2022-04-04 10:58] Muschke commented on #931
Hi Dfreilich, It is strange you call it a feature. You could still recalculate the creation date easily if that would be your problem.

[2022-04-04 13:50] natalieparellano commented on #931
Just FYI, planned changes to pack (https://github.com/buildpacks/pack/issues/1281) would allow the image create time to be configurable.

[2022-04-04 17:58] edmorley commented on #1379
This issue can be closed, since it was fixed by https://github.com/buildpacks/pack/pull/1406. The milestone will also need changing back to 0.24.1 rather than 0.25.0.

[2022-04-04 22:53] jromero commented on #1392
Based on 2) above I've got a few PR's up and was able to produce a build on the prior non-working environment.

- https://github.com/buildpacks/samples/pull/117
- https://github.com/buildpacks/docs/pull/486

@macsux if you could verify that this works for you, I could merged both of those in.

[2022-04-06 13:58] jromero commented on #1395
@matejvasek would you have some insight or guidance here?

[2022-04-06 14:07] jromero opened #1412 "xenial delivery workflow is failing"
### Description
Ubuntu 16.04 (xenial) runners have been removed making our delivery workflows for [linux fail](https://github.com/buildpacks/pack/actions/runs/2082877271).

### Proposed solution
Remove xenial support.

Alternatively, setup our own instance on [Equinix metal](https://metal.equinix.com/developers/docs/operating-systems/supported/#ubuntu).

### Additional context

[2022-04-06 14:08] jromero commented on #1412
@buildpacks/platform-maintainers what are our thoughts on continuing to support Ubuntu 16.04 releases?

[2022-04-06 14:17] jromero commented on #1400
Are "Script Install" or "Homebrew" methods adequate for installing pack?

Please forgive my Linux landscape ignorance but I'm a little hesitant to add a PPA for Impish given a few factors:

1. ["Ubuntu 21.10 will be supported for 9 months until July 2022"](https://discourse.ubuntu.com/t/impish-indri-release-notes/21951)
2. Our [current delivery workflow](https://github.com/buildpacks/pack/blob/mai

[2022-04-06 14:30] jromero commented on #1397
@natalieparellano do you have references to any additional documentation? Curious how this is a Buildpack API change as oppose to Distribution or Platform regarding the changes to labels.

[2022-04-06 16:02] natalieparellano commented on #1397
@jromero this is a platform change - but the information will only show up for buildpacks that are on the newer api.

[2022-04-06 16:31] natalieparellano commented on #1389
@samj1912 you are right - those files are going to come along with the `/layers/sbom/launch` directory that is already downloaded.

I do wonder what will happen when `pack inspect --bom` is run. Is it going to break if the label is not found? That might be worth verifying before closing this out.

[2022-04-06 18:16] #1392 closed

[2022-04-06 18:52] dfreilich commented on #1412
The question is what our support requirements are, and how much we want to go past them. It's hard to say, if we don't have metrics on usage, and don't know what will happen.

I would rather not set up our own instance on Equinix - we already have trouble with the Windows runners, and adding a standalone one just for packaging seems suspect.

If those are the only two options, then I would vote fo

[2022-04-11 09:48] edmorley commented on #1286
I've morphed the title to reflect the fact that this issue affects not only the output of `pack buildpack package`, but also generated app images too (both files in the app source provided as input to the build, and files created by the buildpack during the build).

So far I can see two tar file implementations in CNB related repositories:
https://github.com/buildpacks/lifecycle/blob/917c1acd25299

[2022-04-12 21:40] BenjaminSchubert opened #1419 "include/exclude directives can lead to directories that are not writable at build time"
When building an application using pack and specifying include and/or exclude, the permissions are not set correctly in some cases, and some directories might end up owned by root, which, in some cases, makes the build fail.

This is due to how docker works and can be reproduced by using docker solely.

I will focus on the `include` part of the equation here, but it is possible to trigger the same

[2022-04-13 15:33] jromero opened #1421 "Support Platform API 0.9"
## Summary

This is a tracking issue for all changes necessary to support Platform API 0.9.

- [Release Notes](https://github.com/buildpacks/spec/releases/tag/platform%2Fv0.9)

### Changes

- [x] https://github.com/buildpacks/pack/pull/1418
- [x] https://github.com/buildpacks/pack/issues/1390
- [x] https://github.com/buildpacks/pack/issues/1389
- [x] #1422

[2022-04-13 15:45] jromero opened #1422 "Display process-specific working directories when available"
### Acceptance Criteria

When a user runs `pack inspect <app-image>`
Then the output should include a new column under "Processes:" called "WORK DIR" for each process type listed

### Proposed Solution

1. Inspect the app image's configuration for a label `io.buildpacks.build.metadata`
2. For each process type in the contents look for `working-directory` property
3. Display that `working-directory

[2022-04-13 16:12] natalieparellano commented on #1389
Confirmed that it doesn't break, it just returns `null`:

[code]

I think this issue can be closed.

[2022-04-13 16:12] #1389 closed

[2022-04-15 15:27] jromero opened #1423 "[Windows] fails to export while backing up cache due to rename"
### Summary

Unable to build sample app with sample builder on Windows containers.

See [output.txt](https://github.com/buildpacks/pack/files/8496703/output.txt)

---

### Reproduction

##### Steps

[code]

Where `--path .` is https://github.com/buildpacks/samples/tree/main/apps/aspnet

##### Current behavior

Container is built and saved to daemon.

##### Expected behavior

[code]

---

### Envir

[2022-04-18 17:13] jromero commented on #1423
Unable to reproduce on:
<img width="349" alt="image" src="https://user-images.githubusercontent.com/475559/163845482-82b7b1f3-feca-49e9-aac2-4ab615031946.png">

Command:
<img width="555" alt="image" src="https://user-images.githubusercontent.com/475559/163845519-df388ee4-4ee2-42b6-9e45-a91b6a757a08.png">

Ending Output:
<img width="458" alt="image" src="https://user-images.githubusercontent.com/47

[2022-04-18 17:15] jromero commented on #1423
@macsux we're still unable to reproduce this issue. Is there anything you can think of that might help us here?

[2022-04-19 01:35] macsux commented on #1423
No, but another SE with same version of windows got exact same error when I asked him to try

[2022-04-20 17:21] #1281 closed

[2022-04-20 17:36] jromero commented on #1412
I did bring this up on another [similar request](https://github.com/buildpacks/pack/issues/1400#issuecomment-1090326214).

Maybe we can use docker images to produce and publish the PPAs. We already do this for [_testing_ our PPA installation](https://github.com/buildpacks/pack/blob/8921b1b1b91be49a4d6141f2b12ff016820632ba/.github/workflows/deliver-ubuntu.yml#L98-L120) so I can't foresee any challe

[2022-04-20 17:38] jromero commented on #1397
Sorry, I created a duplicate here: https://github.com/buildpacks/pack/issues/1422

Closing this one.

[2022-04-20 17:38] #1397 closed

[2022-04-20 17:40] jromero commented on #1393
Closing this one in favor of conversations happening in https://github.com/buildpacks/lifecycle/issues/829

[2022-04-20 17:40] #1393 closed

[2022-04-21 18:32] jromero commented on #1419
First off, I agree that this is unintentional and thereby a bug.

I do wonder if an alternative solution could be to [update the filtering function](https://sourcegraph.com/github.com/buildpacks/pack@d63f402e3fcfaf735c6363ce98e78df17d735bf5/-/blob/pkg/client/build.go?L415-428) to not filter out directories that contain files that would ultimately be included. It looks like we inherit some gitignor

[2022-04-25 15:26] jromero commented on #1423
After some deep diving, we found this to be an issue that's plagued Windows containers for quite some time. See https://github.com/moby/moby/issues/38256.

It's worth noting that this was only reproducible using `--process=isolation` and not hyper-v (on very specific Windows versions). At this point in time, enabling hyper-v support is out of the scope of our expertise.

As a workaround, [the life

[2022-04-29 20:34] #1422 closed

[2022-05-02 07:20] imnitishng commented on #1384
I'd like to work on this, I have a couple of solutions in mind please let me know which one to sounds the best -

- Replace the error message with a more verbose one, `buildpack %s references buildpack %s which does not exist in order group, please check buildpack id/version`
- Add a check that throws relevant error when the buildpack's fullname do not match (the check seems quite redundant to me)

[2022-05-03 13:54] jromero commented on #1384
The last option seems ideal _but_ only when discussing areas that require that information such as in this case.

We do have areas where the version is optional and we resolve it for the user. For example, `pack build my-app -b my/buildpack` should work.

I do wonder if auto resolution would also be possible and a nice added feature for this use case. (We can punt that for now).

[2022-05-05 20:17] #1423 closed

[2022-05-09 05:54] imnitishng commented on #1419
I'd like to work on this if nobody else isn't.
I just needed to clear up a few things here -
I understand the issue that happens with `include` part of the bug, but the `exclude` part is still unclear.
From my understanding if the same `project.toml` definition is used with `exclude = ["testdir/testfile"]` then the `testfile` will not be copied but contrary to the issue pointed out above the direc

[2022-05-09 20:42] jromero commented on #1419
@imnitishng It makes sense that your example of `excludes` works as expected because you are excluding the file and not the directory so therefore the directory wouldn't match the "ignore". @BenjaminSchubert if you could provide some examples on how this could be recreated via `exclude` that would be appreciated otherwise will move forward with fixing `include`.

For `include`, the pseudo strategy

[2022-05-10 11:20] imnitishng commented on #1419
Yea, the example I provided was quite vague, but I had the same idea in my mind. I will start working on this and create a draft PR for `include` and extend that once we get `exclude` clear.
Will make sure tests are robust enough to deal with any edge cases that may happen.

[2022-05-11 12:50] BenjaminSchubert commented on #1419
Hey @jromero, sure, something like:

[code]

should work though I can't test it right now

[2022-05-11 14:20] jromero commented on #1419
@BenjaminSchubert ah, that's an interesting edge case. I feel conflicted by  it. Is it considered a misconfiguration given that the nested file obviously needs the parent directories?

Some options that come to mind:

1. Do nothing - this feels like an edge case that can be easily explained when configuration is looked at.
2. "Fix" for the user - we could add some logic to remove any parent direct

[2022-05-12 02:44] spew opened #1440 "Option for relaxing the constraint that the stack id for the builder, run, and build image must all match"
### Description
We have pre-existing run images, each with a different stack id, that we would like to use with a single builder. Since a builder can only have a single stack id it is impossible for us to use all of the run images with pack's `--run-image` parameter.

### Proposed solution
The proposed solution is to add a new parameter, something like, `--run-image-stack-policy` with options like

[2022-05-13 07:03] developer-guy opened #1443 "sign container images after built"
### Description

We (w/@dentrax) thought that it'd be nice if pack CLI has the support of signing container images right after building them without requiring any additional steps to sign container images based on cosign, a tool developed by the sigstore community that lets you sign, and verify container images according to several types of key management types, or any other signing tool.

### Pro

[2022-05-13 17:39] imnitishng commented on #1137
I see this is listed in the next milestone, and has already been worked on by someone else. I'd be happy to finish this 😄

[2022-05-19 13:10] joshuawhite929 opened #1446 "Docker Image Digest's Don't match on Docker Hub for "latest" and the version number tag for pack"
### Summary
Looking at the pack Docker image located here:  https://hub.docker.com/r/buildpacksio/pack/tags and the 0.26.0 release tag as an example, the "latest" tag and "0.26.0" tags don't have the same digest.  As this is the same image, the digest should be the same.

tag: latest... sha256:5ed9488c133a85a662758907fb2d9a526800ee73bb613063ce811805a4b4316f
tag: 0.26.0... sha256:7839ad762b3be73cb5

[2022-05-20 23:51] matthewrobertson commented on #1384
FWIW I don't think version should be required in the order group of a buildpack.toml. This is inconsistent with builder.toml: https://buildpacks.io/docs/reference/config/builder-config/#order-_list-required_

[2022-05-24 16:18] jromero commented on #1446
@dfreilich looking at the delivery pipeline, I can assume that it's because we don't publish via the same mechanism for both tags. [One is done via buildpacks and the other via a `docker pull && docker tag && docker push`](https://github.com/buildpacks/pack/blob/98698c4a3b3dfeb511ae8b6936ea245aa1ac3b20/.github/workflows/delivery-docker.yml#L62-L73) which honestly, I'm surprised that only the manif

[2022-05-24 16:20] imjasonh commented on #1446
Would you accept a PR that uses `crane cp` and [setup-crane](https://github.com/imjasonh/setup-crane) to move the image around, instead of `docker pull && tag && push`? If so I can send that shortly.

[2022-05-26 11:27] flexiondotorg commented on #1400
@jromero Ubuntu 22.02 LTS (jammy) has been available for a month, it would be nice to see pack support the current LTS :+1:

[2022-06-03 20:21] #1390 closed

[2022-06-03 20:49] #1421 closed

[2022-06-06 19:08] developer-guy commented on #1443
kindly ping @samj

[2022-06-07 09:29] samj1912 commented on #1443
Related https://github.com/buildpacks/rfcs/pull/195  and https://github.com/buildpacks/pack/issues/268#issuecomment-973623399

@developer-guy

[2022-06-07 09:32] samj1912 commented on #1443
(Accidentally closed, reopened again)

[2022-06-07 21:04] #1384 closed

[2022-06-10 09:36] edmorley opened #1453 "`pack builder create` images have non-deterministic layer and metadata ordering"
### Summary
Running `pack builder create` with identical inputs produces a builder image whose overall SHA256 is different every time, which causes unnecessary builder image releases (from the CI release pipeline) and end-user image pulls.

This appears to be due to non-deterministic ordering in both the builder's layers, and also the list of buildpacks in the label `io.buildpacks.builder.metadata

[2022-06-10 19:21] hibell commented on #1395
Is there any update for this issue? I am hitting the same issue on macOS when building with podman 4.1.0.

It looks like the app directory has the correct owner in the resulting image, and it is only wrong ownership during the build:

### App dir owner during build

[code]

### Checking app dir in resulting image

[code]

[2022-06-12 09:02] Langohr23 opened #1454 "pack 0.27 identified as Trojan:Script/Wacatac.B!ml on Windows 11 by Microsoft defender"
Hello,

I just tried to download pack on my windows 11 PC. Here Microsoft Defender is thinking to detect the Virus Trojan:Script/Wacatac.B!ml. Screenshot is in German, but I hoe the important information can be extracted:
![image](https://user-images.githubusercontent.com/33636936/173225692-2074895e-0c3e-4f61-9d3e-c848ecd61378.png)

Thank you and best regards

Thomas

[2022-06-13 19:58] jromero opened #1455 "Add Ubuntu 22.02 LTS (jammy) to delivery pipeline"
@jromero Ubuntu 22.02 LTS (jammy) has been available for a month, it would be nice to see pack support the current LTS :+1:

_Originally posted by @flexiondotorg in https://github.com/buildpacks/pack/issues/1400#issuecomment-1138432246_

[2022-06-15 16:01] jromero opened #1457 "[cache-flag] Support build image cache"
[code]

Build cache as an image is currently only supports using cache as an image from registry which requires the final app image to be pushed to registry (The `--cache-image` and `--publish` flags need to be used together).

To add complete support for build cache as an image,
Support for scenarios will be implement -
1. ~Cache image used from registry when exporting app image to docker daemon.

[2022-06-15 16:02] jromero opened #1458 "Implement cache flag in pack"
Implement a basic flag `--cache`, that the project revolves around.
This flag will be implement such that it supports sensible defaults for the current state of pack while also being extensible for the future additions that will be coming in.

Eg -
[code]

An alternate way suggested in the RFC was to use simpler flags, if we decide on using them then this task will progress as the other things in

[2022-06-15 16:03] jromero commented on #1458
@imnitishng, Glad to hear you agree with the RFC. That is what we'd like to implement as per this section of the RFC: https://github.com/buildpacks/rfcs/blob/main/text/0091-pack-cache-options.md#what-it-is

I wonder if this task should be to implement "volume" format of cache for build given that it's the current default. "bind" is a new format that would need to be implemented.

[2022-06-15 19:02] dmikusa opened #1459 "Provide a way to specify desired platform when creating packages and builders"
### Description

With the growing need for ARM64 images, it is a challenge to build them with the current tool support. It would be helpful if we had the ability to cross package buildpacks.

If I'm on an x86_64 system, I can cross-compile my buildpack code with Go (or I could be using something that doesn't need to be compiled like Bash), however, when I run `pack buildpack package`, it will only

[2022-06-15 19:13] dmikusa opened #1460 "It would be nice to support easily creating a manifest list packages and builders"
### Description

If I am building, for example, `paketo-buildpacks/java` and I want to support multiple os/architectures I would like those to be supported under the same image name. This requires support for a manifest list. I would like pack to handle this for me, rather than needing additional tools.

This is not strictly dependent on #1459 but as it becomes easier to create images for differen

[2022-06-15 21:34] jromero commented on #1454
Hi @Langohr23, I noticed that you pulled the latest rc version. Are you seeing this on other versions as well? For example, [v0.26.0](https://github.com/buildpacks/pack/releases/tag/v0.26.0)?

While we investigate, this particular report we will be removing the reported artifact from the release. Thank you for the report.

[2022-06-16 15:15] jromero commented on #1454
@Langohr23 Could you verify the checksum of the file you downloaded? The command on PowerShell or CMD should be:

[code]

[2022-06-17 11:47] imnitishng commented on #1458
The task was actually just meant to be a draft task to implement just the `--cache` flag (without any cache logic implementation), now that the issue is not draft it seems more like a tiny milestone.

We can have a new issue for it, for now I we will probably close this issue soon, once it is implemented.

Yes, agreed! That is planned to be worked in the last phase of the project.

[2022-06-17 13:39] #1458 closed

[2022-06-17 14:05] jromero commented on #1454
After investigating our pipelines and the reported asset we believe this to be a false-positive. _Unless you can confirm that the checksum is different, in which case, it may have been a man-in-the-middle attack/injection._

We ran the reported asset through VirusTotal to have it [scanned via multiple tools](https://www.virustotal.com/gui/file/0f60358168021239a72fd1e3659a02e5da8432a5df264b37730efb

[2022-06-17 14:05] #1454 closed

[2022-06-19 04:39] vincentvc168 opened #1461 "ERROR: failed to launch: determine start command: when there is no default process a command is required"
### Summary

ERROR: failed to launch: determine start command: when there is no default process a command is required
Just follow BuildPack official getting started step by step but it fails.
https://buildpacks.io/docs/app-journey/

---

### Reproduction

##### Steps

Follow the steps in BuildPack official website:
https://buildpacks.io/docs/app-journey/
Error will be encountered in "docker run --

[2022-06-21 08:52] BenjaminSchubert commented on #1419
@jromero sorry for the delay in responding.

`git` does work correctly with such patterns, and the spec mentions that it follow the `gitignore` pattern [here](https://github.com/buildpacks/spec/blob/main/extensions/project-descriptor.md#iobuildpacksinclude-optional-and-iobuildpacksexclude-optional). You can for example, with git do:

[code]

and that does work (well, technically git doesn't really

[2022-06-21 08:57] BenjaminSchubert commented on #1419
And I was wrong.

I've played more with git, and it does look like

[code]

does ignore `mysubdir/file`, so number 2 would actually deviate from the `gitignore` way of doing things.

Which means, it's handled however incorrectly in pack... as it does add the file.

At that point, I think an error with message might be the best bet

[2022-06-21 15:05] jromero commented on #1412
Unfortunately, it seems like we won't be able to get the xenial delivery pipeline back up for this release.

There are a lot of brought on complications due to `BurntSushi/toml` bringing in `io/fs` and `embed`. Even though they are gated via `//go:build go1.16` and `// +build go1.16` they are not ignored by [go mod vendor](https://github.com/golang/go/issues/40067#issuecomment-655527694) which we

[2022-06-22 05:16] dfreilich commented on #1412
Thanks for doing the legwork on this! Why does this only happen for xenial? And is there a fix we can do for the future?

[2022-06-22 12:30] #1455 closed

[2022-06-22 15:09] jromero commented on #1412
Sadly, this was closed preemptively.

This happens because xenial does not have a golang package in the "backports" PPA we are using for anything higher than 1.13. See [this page for packages available](https://launchpad.net/~longsleep/+archive/ubuntu/golang-backports/+packages?field.name_filter=&field.status_filter=published&field.series_filter=xenial).

By comparison, you can see that our other

[2022-06-22 18:20] jromero opened #1463 "WCOW runner is failing/stalling"
Our WCOW runner has recently started failing and later failed to respond altogether.

- Failures: [1](https://github.com/buildpacks/pack/actions/runs/2538788709), [2](https://github.com/buildpacks/pack/runs/6993692174?check_suite_focus=true)
- [Unresponsive build](https://github.com/buildpacks/pack/runs/7003995792?check_suite_focus=true)

[2022-06-22 20:06] jromero commented on #1463
Issue has been resolved.

[2022-06-23 18:15] robdimsdale opened #1467 "Pack v0.27.0 fails to build"
### Summary

When upgrading from `pack 0.26.0` to `pack 0.27.0` previously-successful builds are now failing with the following error:

[code]

Example build failing in CI: https://github.com/paketo-buildpacks/jammy-tiny-stack/pull/18/checks

The buildpacks involved are:

* 'paketo-buildpacks/go-dist' version '1.2.1' (API 0.7)
* 'paketo-community/build-plan' version '0.1.0' (API 0.6)

[2022-06-23 18:57] edmorley commented on #1467
We encountered this too, until we upgraded the `lifecycle` in our builder image from `0.14.0` to `0.14.1`.

eg:
https://app.circleci.com/pipelines/github/heroku/buildpacks-jvm/1061/workflows/dd3c6153-ebc2-4ab5-aeb4-589aa5bcda29/jobs/13385

[2022-06-23 18:58] edmorley commented on #1467
xref #1417 and buildpacks/lifecycle#847

[2022-06-23 19:14] natalieparellano opened #1468 "`pack builder create` should support extensions"
* builder.toml can contain `[[extensions]]`
  * referenced extensions should be present in the builder image at `/cnb/extensions/<extension-id>/<extension-version>`
* builder.toml can contain `[[order-extensions]]`

[2022-06-23 19:21] natalieparellano opened #1469 "pack should support platform 0.10"
Changes needed:

* Declare platform API 0.10 as supported
* Set `CNB_EXPERIMENTAL_MODE=warn` in the lifecycle's execution environment
* Invoke the restorer with the -build-image flag and cache volume mounted at /kaniko (when there are extensions)
* Invoke the extender binary with the builder image digest reference as the first argument and cache volume mounted at /kaniko (when there are extensions

[2022-06-23 19:25] natalieparellano opened #1470 "pack should support `pack extension *` commands"
`pack extension --help` should show (analogously to `pack buildpack --help`):

[code]

We should probably make a separate issue for each one of these commands, as they could be implemented separately.

Edit: Made a separate issue (https://github.com/buildpacks/pack/issues/1489) for `pack extension package`.

[2022-06-23 20:19] natalieparellano commented on #1467
@jromero should we call this out in the release notes?

[2022-06-23 21:41] jromero commented on #1467
At minimum, that sounds reasonable.

@natalieparellano could you provide some context as to what is happening for those that are curious? Also, are there any strategies we can think of to mediate this a bit better?

[2022-06-24 17:22] natalieparellano commented on #1470
Ah - this is to provide similar functionality to what you get with `pack buildpack package` (for distribution purposes). It is less important than #1468 but I added it for completeness.

[2022-06-24 17:23] natalieparellano commented on #1470
Blocking on https://github.com/buildpacks/rfcs/pull/173 getting approved and merged.

[2022-06-27 09:45] oovk commented on #1470
Hi @natalieparellano I'm new to this repo. Can you please guide me to appropriate code part? and a bit of explanation about the issue would be really helpful!

[2022-06-27 14:40] jromero commented on #1457
Could you elaborate on this? AFAIK, we'd be leveraging the existing lifecycle functionality.

[2022-06-27 19:35] jromero opened #1471 "[cache-flag] Support build volume cache"
# Summary

Add support for volume-based build cache to `--cache` flag.

[code]

### Additional Considerations

We already store build cache to volume by default but we [preconfigure a naming schema](https://github.com/buildpacks/pack/blob/b5c1a967394d334e3bbf9df4dc52abed852c2382/internal/cache/volume_cache.go#L25) to prevent cache collision/cache poisoning. Given that we are handing control to the

[2022-06-27 19:35] jromero opened #1472 "[cache-flag] Support launch volume cache"
# Summary

Add support for volume-based **launch** cache to `--cache` flag.

[code]

### Additional Considerations

We already store build cache to volume by default but we [preconfigure a naming schema](https://github.com/buildpacks/pack/blob/b5c1a967394d334e3bbf9df4dc52abed852c2382/internal/cache/volume_cache.go#L25) to prevent cache collision/cache poisoning. Given that we are handing control t

[2022-06-27 19:35] jromero opened #1473 "[cache-flag] Support build bind cache"
# Summary

Add support for bind-based build cache to `--cache` flag.

[code]

### Acceptance Criteria

#### Relative path

[code]

#### Absolute path

[code]

[2022-06-27 19:35] jromero opened #1474 "[cache-flag] Support launch bind cache"
# Summary

Add support for bind-based launch cache to `--cache` flag.

[code]

### Acceptance Criteria

#### Relative path

[code]

#### Absolute path

[code]

[2022-06-27 20:00] jromero commented on #1457
I think this is a little out of scope if we consider trying to solve https://github.com/buildpacks/pack/issues/1024.

Could you explain the reasoning for this?

[2022-06-27 20:53] jromero opened #1475 "[cache-flag] Warn when attempting to configure launch cache image"
# Summary

Launch cache is really only useful for local builds in the format of `bind` or `volume` otherwise the final app image already contains the launch layers. Due to that fact, trying to create an additional launch cache image doesn't make sense (or at least we don't have a good use case for it). In this scenario, we would still want to notify the user, in the event that they were trying to

[2022-06-28 07:18] oovk commented on #1091
Hi @jromero, Can you point me to the related code part and a bit of explanation about the issue will be really helpful.

[2022-06-29 14:18] natalieparellano commented on #1470
@oovk it would be awesome to get your help on this! At a high level, this is about creating a `pack extension package` command that is analogous to `pack buildpack package`, except for "extensions" - a new experimental CNB component described in https://github.com/buildpacks/rfcs/pull/173.

From a `pack` perspective, extensions are very similar to buildpacks, except they have an extension.toml (in

[2022-07-03 02:59] jylin commented on #1338
Another problem: `pack` seems to escape "@" when set in DOCKER_HOST, so something like "DOCKER_HOST=ssh://user@host" doesn't work, even using "--docker-host inherit".

[2022-07-06 13:41] corneil commented on #1236
I would suggest if the file is named with .jar and starts with '#!' then pack shouldn't try to unzip it and produce a warning about performance impact and assume it is an executable jar.

[2022-07-07 16:15] jromero commented on #1236
Hi @corneil, I see your comment but I'm curious of the reason for the comment. Are you running into a specific issue at the moment? If so, do you mind opening a new issue?

[2022-07-08 13:21] corneil commented on #1236
If a spring boot application os built with executable = true and you then use pack to create an image it fails with the complaint that the file isn't a zip file.

[2022-07-08 13:23] corneil commented on #1236
We are running pack with java 8, 11 and 17.

[2022-07-11 14:07] uhryniuk opened #1480 "Add Windows compatibility for building with Podman"
### Description

There is currently support listed for building with podman on Linux and MacOS in the documentation [here](https://buildpacks.io/docs/app-developer-guide/building-on-podman/). This is beneficial considering there are more individuals moving towards alternatives to Docker.

### Proposed solution

Assuming there are no technical limitations with Podman functioning on Windows, it _pot

[2022-07-11 17:33] matejvasek commented on #1395
Interesting I've seen and fixed similar issues long time ago: https://github.com/containers/podman/issues/10801

[2022-07-11 18:07] matejvasek commented on #1395
When trying this on Linux with podman 4.2 it works as expected. The workspace belongs to cnb user.

[2022-07-11 19:16] matejvasek commented on #1395
Is really old:
It doesn't contain
https://github.com/containers/podman/pull/10905
https://github.com/containers/podman/pull/10804

[2022-07-11 19:17] matejvasek commented on #1395
I recommend at least 3.3 for pack.

[2022-07-11 19:29] matejvasek commented on #1395
The guide says that v3.3+ should be used.

[2022-07-12 14:58] #1457 closed

[2022-07-12 14:58] #1475 closed

[2022-07-12 23:30] frayer commented on #1395
@matejvasek That is correct.  It was Podman v3.2.1 on a Linux host system.  Thank you for the v3.3+ call out as that addressed the issue for me.  I am now seeing what I expect for file ownership when using my original steps above with Podman v4.1.0.

[code]

I'm on an Ubuntu 21.10 distro which doesn't appear to have newer versions of `podman` in the registries yet.

[code]

For anyone in a similar

[2022-07-13 10:26] NathanJAdams opened #1481 "Allow setting a folder prefix for volumes created automatically"
### Description
Allow buildpacks to work on BitBucket pipelines on BitBucket's runners. Currently they error out with
`ERROR: failed to build: executing lifecycle: failed to create 'creator' container: Error response from daemon: authorization denied by plugin pipelines: -v only supports $BITBUCKET_CLONE_DIR and its subdirectories`

### Proposed solution
Allow setting a folder prefix for volumes c

[2022-07-14 19:59] natalieparellano commented on #1469
On further reflection, `-analyzed` and `-buildpacks` aren't configurable with pack today, so maybe it's okay if we don't pass the flags and let everything fall back to the default value.

If we're okay with the lifecycle emitting warnings, maybe there is nothing to do here.

[2022-07-15 18:30] natalieparellano commented on #1469
At a minimum, the supported platform apis will need to be updated to include 0.10.

[2022-07-20 10:14] philipwigg opened #1482 "Build packs seems to be detecting my app as PHP today instead of Node"
### Summary

Build packs seems to be detecting my application as a PHP app when it's a NodeJS application.

I'm deploying a NodeJS Cloud Run application from source. To deploy it, I use:-

[code]

It's been working fine for months. I've only made minor changes to the code.

However, build packs seem to be detecting my node application as a PHP app and not Node anymore and my app fails with FastCGI

[2022-07-20 10:18] dfreilich commented on #1482
That's an issue not with the `Pack` CLI, but instead with the buildpacks used (which, as you can see, are Google's). The repo for that can be found here: https://github.com/GoogleCloudPlatform/buildpacks. I'm closing this issue in favor of opening an issue there

[2022-07-20 10:18] #1482 closed

[2022-07-20 10:22] philipwigg commented on #1482
I really appreciate the swift response, @dfreilich. Hope opened an issue in the GCP buildpacks. Thanks!

[2022-07-22 09:19] jijeesh commented on #1338
ssh-add -k "$HOME/.ssh/podman-machine-default"
podman system connection default podman-machine-default-root
# login into the root user
ssh root@localhost -p 58780
# create link to docker.sock
ln -s /run/podman/podman.sock /var/run/docker.sock
# then export
export DOCKER_HOST=ssh://root@localhost:58780

[2022-07-22 19:23] natalieparellano opened #1486 "`pack inspect` when image built with extensions should show the extensions"
This output should include `Extensions` if extensions were used:

[code]

[2022-07-22 19:24] natalieparellano opened #1487 "`pack build --interactive` should show extensions"

[2022-07-22 19:26] natalieparellano opened #1488 "`pack builder inspect` should show extensions if they are present"
It should show `Extensions:` and `Detection Order (Extensions):`

[2022-07-22 20:27] natalieparellano opened #1489 "pack should support `pack extension package`"
Analogous to `pack buildpack package`. This will enable us to create `.cnb` files with extensions.

[2022-07-22 20:28] natalieparellano commented on #1489
As part of this issue we should ensure that `pack` can download extension packages.

[2022-07-26 21:13] natalieparellano commented on #1469
This should also be resolved by #1478

[2022-07-27 15:28] #1472 closed

[2022-07-27 15:28] #1471 closed

[2022-08-11 18:04] #1137 closed

[2022-08-16 16:30] jromero commented on #1481
@NathanJAdams thank you for filling this issue. This issue should be resolved as part of [ongoing work](https://github.com/buildpacks/pack/issues/1077) that will be released in the next version of pack.

More specifically, these issues:
- https://github.com/buildpacks/pack/issues/1473
- https://github.com/buildpacks/pack/issues/1474

Closing this as covered by https://github.com/buildpacks/pack/is

[2022-08-16 16:30] #1481 closed

[2022-08-16 16:36] jromero commented on #1480
@uhryniuk, I'm going to move this to our docs repo.

I think the request makes sense, but @matejvasek may be better to answer precisely how podman can be run on Windows and configured to be used by pack.

[2022-08-17 17:12] joshwlewis opened #1500 "Separate suggested builders from trusted default builders"
### Description

Currently, the [suggested builder list](https://github.com/buildpacks/pack/blob/657521803b30f455f29221d50c417968ee67778e/internal/builder/suggested_builder.go#L9-L35) has two functions that I am aware of: 1) it's the output of `pack builder suggest` and 2) it's the list of builders that are trusted by default.

This poses a difficulty for a vendor who wants a builder that is trust

[2022-08-23 17:22] natalieparellano commented on #1469
Update: #1478 will be updated to remove "platform 0.10 support". Also, the lifecycle will FAIL if CNB_EXPERIMENTAL_MODE is unset, so pack will need to set this variable when `--experimental` is used.

[2022-08-25 11:10] banka01 commented on #1121
Can you please know how to use it. i tried with pack build  --workspace <>. But the detect steps fails . if we dont provide the --workspace, current directory is considered as source code and copied to "/workspace". How can we ensure that app code is copied to other directory.

[2022-08-25 13:30] natalieparellano commented on #1121
What does detect fail with? It might be an issue with the buildpack...

[2022-08-31 15:58] natalieparellano commented on #493
When this is implemented, this line in the lifecycle should be uncommented: https://github.com/buildpacks/lifecycle/blob/4f52db0a90b5637e718328e7019bf8e592fdeece/cmd/logs.go#L19

[2022-09-01 15:29] b1zzu opened #1505 "Building with podmain fails with: statfs /var/run/docker.sock: permission denied"
### Summary

I'm trying to build a sample app using `podman` following this tutorial: https://buildpacks.io/docs/app-developer-guide/building-on-podman/, but it fails with the following error:

[code]

---

### Reproduction

##### Steps

1. Install pack and podman: `sudo dnf install podman pack`
2. Enable the podman socket: `systemctl enable --user podman.socket`
3. Start the podman socket: `syste

[2022-09-01 23:20] cxrus commented on #1505
You can add --trust-builder flag after the pack build cmd. Or you can use pack config to make the builder to be the trust builder first.

[2022-09-02 09:04] b1zzu commented on #1505
@cxrus Thanks for the answer, I've tried to add `--trust-builder` flag but I'm having the same issue.

[2022-09-09 04:44] dfreilich commented on #1505
@matejvasek Do you have any idea?

[2022-09-09 04:45] dfreilich commented on #1500
Interesting use case! I definitely think it makes sense. The lists represent different things and should be disjoint.

We'd welcome a PR to make it happen!

[2022-09-09 05:35] theVJagrawal commented on #1488
Can i work on this one?

[2022-09-11 23:24] matejvasek commented on #1505
@b1zzu you need to make sure that `pack` mounts correct socket to build container:
`pack build sample-app -p samples/apps/ruby-bundler/ -B cnbs/sample-builder:bionic --docker-host=inherit`
Note the `--docker-host=inherit`.

Another way is to use the `--publish` flag, with that `pack` won't mount daemon socket, but rather pushes image directly to registry.

[2022-09-12 07:25] b1zzu commented on #1505
Hi @matejvasek, with `--docker-host=inherit` it works fine, thank I think the documentation should be updated to reflect the need of the `--docker-host=inherit` option, wdyt?

[2022-09-12 12:17] matejvasek commented on #1505
@b1zzu actually the doc mentions it:
[code]
However that's not entirely true with latest podman: on macOS with podman you shouldn't use `--docker-host=inherit` with the tunnelled VM unix socket, it wouldn't work.

[2022-09-12 12:17] matejvasek commented on #1505
I wish we just just get rid of the socket mounting.

[2022-09-13 02:51] starksm64 opened #1511 "Unable to configure pack with podman 4.2.1"
### Summary
I followed the steps on https://buildpacks.io/docs/app-developer-guide/building-on-podman/ to configure pack to work with podman, but I am unable to build the sample pack.

---

### Reproduction

##### Steps

1. Follow the steps to install podman
└> podman --version
podman version 4.2.1
2. Follow connection setup steps;
└> echo $DOCKER_HOST
ssh://root@localhost:54988/run/podman/podman.

[2022-09-13 14:47] natalieparellano commented on #1488
@theVJagrawal that would be awesome! You might want to work off of https://github.com/buildpacks/pack/pull/1478 or wait for that to be merged (it's currently blocked on a few small changes, I'll fix it up shortly!).

https://github.com/buildpacks/pack/blob/main/internal/builder/inspect.go should be a nice trailhead - but please don't hesitate to reach out if you have any questions.

[2022-09-14 13:05] matejvasek commented on #1511
I'll look into it.

[2022-09-14 13:07] matejvasek commented on #1511
Weird, I though I added support for the path in ssh conn string.

For now you can strip the path from ssh conn string and add `--docker-host=/run/podman/podman.sock` flag. That should work. @starksm64

[2022-09-14 13:14] matejvasek commented on #1511
It looks like in latest `podman` VM they added some code making it look like more `docker` compatible so different rules apply now.

[2022-09-14 20:19] #1473 closed

[2022-09-14 20:19] #1474 closed

[2022-09-14 20:20] #1077 closed

[2022-09-16 00:08] starksm64 commented on #1511
That gets past the initial ssh problem, but now there is the following analyzer error:

[code]

[2022-09-16 00:58] matejvasek commented on #1511
my bad, should be:
`--docker-host=unix:///run/podman/podman.sock`

[2022-09-16 18:49] #1511 closed

[2022-09-23 15:09] jpena-r7 opened #1518 "x86_64 lifecycle installed on arm64 builder created by pack"
### Summary

When creating a builder on an arm64 host using the arm64 release of pack (0.27.0) the x86_64 lifecycle is installed.

---

### Reproduction

##### Steps

I have a multi-arch amazonlinux:2 stack that I created for testing support for non-ubuntu stacks. Feel free to use it for testing as well.

https://github.com/jericop/amazonlinux-stack

Below are the steps to reproduce the issue. The

[2022-09-23 17:31] jpena-r7 commented on #1518
This is related to the following PR, which was not able to be fully tested due to limited access to an arm machine.
https://github.com/buildpacks/pack/pull/1216

[2022-09-24 11:57] edmorley commented on #1518
So the issue appears to be that #1216 only fixed the untrusted builder case, whereas in the happy case (trusted builder), the lifecycle used is the lifecycle added during builder image creation.

That lifecycle binary is pulled via the URL generated here:
https://github.com/buildpacks/pack/blob/2138b9f70d36aa7ecd81f8c0c3a402d6cd61d6ae/pkg/client/create_builder.go#L266-L272

...which is called from

[2022-09-24 18:35] jericop commented on #1518
Thanks for shedding more light on why this is happening. It is helpful context, especially for someone new to the project. I plan to put together a PR for this, unless someone beats me to it. 😄

[2022-09-24 18:36] jpena-r7 commented on #1518
Thanks for shedding more light on why this is happening. It is helpful context, especially for someone new to the project. I plan to put together a PR for this, unless someone beats me to it. 😄

[2022-09-26 07:54] pbusko opened #1519 "`pack build` fails with experimental containerd feature enabled in Docker Desktop (macos)"
### Summary

`pack build` fails with the error `ERROR: failed to build: failed to fetch builder image 'index.docker.io/paketobuildpacks/builder:base': image index.docker.io/paketobuildpacks/builder:base does not exist on the daemon: not found` on MacOS with the experimental containerd feature enabled for docker.

---

### Reproduction

##### Steps

1. Install pack
2. Install Docker Desktop for Mac

[2022-09-29 22:51] #1518 closed

[2022-10-01 04:42] rdanielwetan commented on #1292
Hi @hone  I'm new to this repo. Can you please guide me to appropriate code part? and a bit of explanation about the issue would be really helpful!

[2022-10-05 14:24] fagiani opened #1523 "Exporting layers return a write too long error"
### Summary

I've got an odd error while exporting the `pack build` image:
[code]
---

### Reproduction

##### Steps

1. Set the following `project.toml`
[code]
2. Set the following `Procfile`
[code]
4. Run pack command: `pack build image-name:latest  --tag image-name:1.0 --env-file .env --publish --trust-builder --pull-policy if-not-present --cache-image image-name:cache`

##### Current behavior

[2022-10-12 20:23] natalieparellano commented on #1505
@matejvasek thanks for your help here :) it sounds like the issue was resolved - can we close it?

[2022-10-12 20:25] natalieparellano commented on #1440
This may be obsoleted by https://github.com/buildpacks/rfcs/blob/main/text/0096-remove-stacks-mixins.md when implemented.

[2022-10-12 20:26] natalieparellano commented on #1440
@hone @dfreilich I marked this one as blocked, but feel free to pull it in for discussion if you feel differently

[2022-10-12 20:31] natalieparellano commented on #1446
@hone @dfreilich any thoughts here?

[2022-10-12 20:33] natalieparellano commented on #1373
Closing as this seems resolved, feel free to reopen if I'm mistaken.

[2022-10-12 20:33] #1373 closed

[2022-10-13 02:34] josegonzalez opened #1529 "Publish the arm64 pack build to the ppa"
### Description

The current ppa does not appear to have pack available for arm64 instances. This means a user needs to manually install from github, and won't get updates automatically when updating their OS.

### Proposed solution

I dug into this a bit, but I'm not super familiar with how ppa's work and how to publish to them. It seems the `deliver.sh` handles some sort of dsc-type thing for re

[2022-10-18 20:22] dm3ch commented on #1171
I have similar use-case. I believe author of this issue meant use case like docker buildx allows to achieve using `--platform linux/amd64,linux/arm64`. It could be described using the sentence from document (mentioned in https://github.com/buildpacks/pack/issues/1171#issuecomment-852214781) the following way:
- The user wants to build a multi-arch docker image containing ARM and x86_64 images usin

[2022-11-02 20:11] edmorley opened #1540 "Pack build silently ignores `--lifecycle-image` if the builder is trusted"
### Summary
The `--lifecycle-image` argument to `pack build` allows for specifying a custom `lifecycle` image to use.

However, this argument is silently ignored if the builder is trusted.

Whilst the usage text hints that the option is mainly intended for untrusted builders, the fact it (a) doesn't work for trusted builders, (b) there is no warning or error about the fact it's ignored if used, wa

[2022-11-03 19:19] natalieparellano commented on #1540
A warning seems appropriate and would be easy to add

[2022-11-03 19:35] dfreilich commented on #1540
Good catch! PRs are welcome 😄

[2022-11-04 13:46] jjbustamante commented on #1529
@josegonzalez Thanks for creating this issue, last week I did the same exercise of installing pack on ARM and I got the same problem (I had to install manually) I will try to check how to update the PPA.

[2022-11-09 13:06] cgoxo commented on #1540
Can I work on this issue? I don't know a lot about how to proceed with this.

[2022-11-09 18:48] natalieparellano commented on #1540
@cgoxo it would be awesome to get your help here! Here are a few code links that might be helpful:
* https://github.com/buildpacks/pack/blob/8f8cdb3b912a667e13cc9174d0f0dbcaa2594478/internal/commands/build.go#L103 is where we determine if the builder is trusted
* https://github.com/buildpacks/pack/blob/8f8cdb3b912a667e13cc9174d0f0dbcaa2594478/internal/commands/build.go#L124-L131 is where we read t

[2022-11-09 21:31] jjbustamante opened #1548 "`pack build` to export to OCI layout format on disk"
### Description

Implement a new functionality to export the application image on disk in OCI layout format.

### Proposed solution

Based on the [RFC]() a high-level view the proposed solution can be summarized with the following system landscape diagram from the C4 model

![](https://i.imgur.com/y972lTD.png)

### Expected behavior

Let's suppose we want to build our [samples applications](https: